<div class="login">
  <%= link_to root_path do %>
    <%= image_tag 'full-logo-light.png', class: 'logo' %>
  <% end %>

  <% if devise_error_messages!.present? %>
  <div class="alert callout" data-closable>
    <%= devise_error_messages! %>
    <button class="close-button" data-close aria-label="Dismiss alert">&times;</button>
  </div>
  <% end %>

  <div class="row">
    <div class="large-4 large-centered medium-10 medium-centered small-12 columns">
      <div class="panel">
        <div class="panel__body">
          <h1>Pick your password</h1>
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :put }) do |f| %>
            <%= hidden_field_tag :confirmation_token, params[:confirmation_token] %>

            <div class="field" style="text-align:center;">
              <%= f.label :email, resource.email %>
            </div>

            <div class="field">
              <%= f.label :fullname %>
              <%= f.text_field :fullname %>
            </div>

            <div class="field">
              <%= f.label :password, "Password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, "Confirm new password" %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Submit", class: 'button handl-btn button--full' %>
            </div>
          <% end %>

          <div class="links">
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
