// Small screens
@media only screen {
  .button{
    border:1px solid $accent-color;
    background:$accent-color;
    border-radius: $border-radius-light;
    height: 40px;
    width: auto;
    @include typography(14px,40px,$white,'Bariol');
    padding: 0 20px;
    margin: 20px 0px 20px;

    &:hover{
      background:$accent-color + #111111;
    }

    &:focus{
      outline: none;
      background: $accent-color;
    }

    i{
      position: relative;
      font-size: 18px;
      line-height: 40px;
    }
  }

  .button[disabled]{
    color:$accent-color;

    &:hover{
      color:$white;
    }
  }

  .button--white{
    background: $white;
    color:$accent-color;

    &:hover{
      background:$white-d;
      color:$accent-color;
    }
  }

  .button--right{
    float: right;
    margin-left: 30px !important;
  }

  .button--half{
    width:100%;
  }

  .button--full{
    width: 100%;
  }

  .button--center{
    width: 100%;
    margin:auto;
    text-align: center;
  }

  .button--margin{
    margin-top:30px;
  }

  .button--inline{
    display:inline-block;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 0;
    padding: 0 15px;

  }

  .button--no-bottom{
    margin-bottom:0px;
  }
}

@media only screen and (min-width: 40.063em) {
  .button--half{
    width:50%;
  }
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .button{
    margin: 0 0px 0px;
  }

  .button--inline{
    margin:0 0 0 20px;
  }

  .button--margin{
    margin-top:30px;
  }
}
