.card{
  position: relative;
  display: inline-block;
  width:100%;
  height:86px;
  background: white;
  border:1px solid $handl-light-blue;
  border-radius:$border-radius-light;
  padding: 20px;
  margin:10px 0;

  -webkit-transition: background 0.25s;
  transition: background 0.25s;

  &:hover{
    background: #f6f6f6;

    h2{
      color:$handl-green;
    }
  }

  h2{
    @include typography(18px,24px,$handl-black,'Bariol');
    margin:0;
  }

  h4{
    @include typography(16px,22px,$handl-light-black,'Bariol');
    margin:0;
    font-style: italic;
  }

  .icon{
    position: absolute;
    top: 20px;
    left:20px;
    line-height: 12px;
  }

  .logo{
    position: absolute;
    top: 20px;
    right:20px;
    width:46px;
    height:46px;
    background: $handl-blue;
    border-radius: $border-radius-light;
    text-align:center;

    img{
      height: 100%;
      width:100%;
      border-radius: $border-radius-light;
    }

    h3{
      @include typography(20px,46px,white,'Bariol');
      font-weight: bold;
    }

    .avatar-circle{
      height:46px;
      padding: 0;

      span.initials{
        display: block;
        height: 100%;
        width: 100%;
        padding: 0;
        @include typography(20px,46px,$black,'Bariol');
        font-weight: bold;
      }
    }
  }
}

.card-add{
  background: $transparent-accent-light;
  color: $white;
  text-align: center;

  i{
    display: block;
    font-size: 36px;
    line-height: 36px;
  }

  h2{
    display:block;
    @include typography(18px,24px,$white,'Bariol');
  }

  &:hover{
    background: $accent-color;

    i{
      color: $white;
    }
  }
}

.large-card{
  position: relative;
  width:100%;
  height:auto;

  .clickable{
    background: $transparent-white !important;

    -webkit-transition: background 0.25s;
    transition: background 0.25s;

    &:hover{
      background: $transparent-white-light !important;
    }
  }

  .large-card__body{
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100%;
    background: $transparent-white-light;
    border-top-left-radius: $border-radius-light;
    border-top-right-radius: $border-radius-light;

    padding: 20px;
    margin:5px 0 0px;

    h2{
      @include typography(18px,24px,$black,'Bariol');
      margin:0;
    }

    h4{
      @include typography(14px,20px,#777777,'Bariol');
      font-style: italic;
    }

    .logo{
      position: absolute;
      bottom: 20px;
      right:20px;
      width:40px;
      height:40px;
      background: $light-primary-color;
      border-radius: $border-radius-light;
      text-align:center;

      img{
        height: 100%;
        width:100%;
        border-radius: $border-radius-light;
      }

      h3{
        @include typography(20px,40px,$black,'Bariol');
        font-weight: bold;
      }

      .avatar-circle{
        height:40px;
        padding: 0;

        span.initials{
          display: block;
          height: 100%;
          width: 100%;
          padding: 0;
          @include typography(20px,40px,$black,'Bariol');
          font-weight: bold;
        }
      }
    }

    .ticket-price{
      position: absolute;
      bottom: 10px;
      right:20px;
      text-align: right;

      h3{
        @include typography(20px,26px,$black,'Bariol');
        margin:0;
      }
    }
  }

  .large-card__footer{
    display: inline-block;
    height: 50px;
    width: 100%;
    background: $white;
    border-bottom-left-radius: $border-radius-light;
    border-bottom-right-radius: $border-radius-light;
    padding: 15px;
    margin:0px 0 10px;

    a{
      float:right;
      font-size: 14px;
      line-height: 20px;
      color:$accent-color;
      font-family: 'Kayak';
      text-decoration: underline;
      margin: 0 10px;

      &:hover{
        color:$accent-color+#333;
      }
    }
  }
}

.large-card-add{
  display: block;
  background: $transparent-accent-light;
  color: $white;
  text-align: center;
  height: 150px;
  margin:5px 0 10px;
  padding: 30px;
  border-radius: $border-radius-light;

  i{
    display: block;
    font-size: 40px;
    line-height: 50px;
  }

  h2{
    display:block;
    @include typography(18px,40px,$white,'Bariol');
  }

  -webkit-transition: background 0.25s;
  transition: background 0.25s;

  &:hover{
    background: $accent-color;

    i{
      color: $white;
    }
  }
}
