@import "sass/helpers/mixins";
@import "sass/helpers/color";

@font-face {
  font-family: 'Bariol';
  src: font-url('bariol_regular-webfont.woff2') format('woff2'),
       font-url('bariol_regular-webfont.woff') format('woff'),
       font-url('bariol_regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Kayak';
  src: font-url('Kayak_Sans_Bold-Italic.otf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Kayak';
  src: font-url('Kayak_Sans_Bold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Kayak';
  src: font-url('Kayak_Sans_Light-Italic.otf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Kayak';
  src: font-url('Kayak_Sans_Light.otf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Kayak';
  src: font-url('Kayak_Sans_Regular-Italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kayak';
  src: font-url('Kayak_Sans_Regular.otf') format('truetype');
  font-weight: normal;
  font-weight: bold;
}


@font-face {
  font-family: 'Locke';
  src: font-url('Locke_Regular.otf') format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'FontAwesome';
  src: font-url('FontAwesome.otf') format('truetype');
}

h1{
  @include typography(24px,40px,$handl-light-black,'Bariol');
  text-transform: uppercase;
  margin:0px;
}

h2{
  @include typography(20px,26px,$black,'Bariol');
  margin:0 0 10px;
}

h3{
  @include typography(18px,24px,$handl-blue,'Bariol');
}

h4{
  @include typography(16px,24px,$handl-light-black,'Bariol');
  margin:0;
  // font-style: italic;
}

p{
  @include typography(16px,24px,$handl-black,'Kayak');
  letter-spacing: 1px;
  font-weight: lighter;
  margin:0;
}

a{
  @include typography(18px,24px,$handl-green,'Bariol');

  &:hover{
    color:$handl-green+#111;
  }
}
