@import "../helpers/color";
@import "../helpers/mixins";
@import "../helpers/variables";

// ---------- //
// FORM LABEL //
// ---------- //
form label{
  font-family: 'Bariol', sans-serif;
  font-size: 18px;
  color: $black;
}

// ------------- //
// FORM TEXTAREA //
// ------------- //
form textarea{
  @include typography(16px,40px,$handl-black,'Kayak');
  border-radius: $border-radius-light;
  border-color: $handl-light-blue;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: none;
  letter-spacing: 1px;
  margin-bottom:30px;

  -webkit-transition:border 0.25s;
  transition: border 0.25s;

  &::-webkit-scrollbar{
    display:none;
  }

  // ------------------------- //
  // FORM TEXTAREA PLACEHOLDER //
  // ------------------------- //
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

  &::-moz-placeholder { /* Firefox 19+ */ color:$handl-light-grey; font-family: 'Kayak';font-style: italic;
    font-weight: lighter;}

  &:-ms-input-placeholder { /* IE 10+ */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

  &:-moz-placeholder { /* Firefox 18- */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

  // -------------------- //
  // FORM TEXTAREA ACTIVE //
  // -------------------- //
  &:focus{
    border:1px solid $accent-color;

    // -------------------------------- //
    // FORM TEXTAREA ACTIVE PLACEHOLDER //
    // -------------------------------- //
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

    &::-moz-placeholder { /* Firefox 19+ */ color:$handl-light-grey; font-family: 'Kayak';font-style: italic;
      font-weight: lighter;}

    &:-ms-input-placeholder { /* IE 10+ */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

    &:-moz-placeholder { /* Firefox 18- */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}
  }
}

// ---------- //
// FORM INPUT //
// ---------- //
form input[type=text],
form input[type=number],
form input[type=email],
form input[type=password] {
  height: 40px;
  @include typography(16px,40px,$handl-black,'Kayak');
  border-radius: $border-radius-light;
  border:1px solid $handl-light-blue;
  letter-spacing: 1px;
  padding-left: 20px;
  box-shadow: none;
  margin-bottom:30px;

  -webkit-transition:border 0.25s;
  transition: border 0.25s;

  // ---------------------- //
  // FORM INPUT PLACEHOLDER //
  // ---------------------- //
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

  &::-moz-placeholder { /* Firefox 19+ */ color:$handl-light-grey; font-family: 'Kayak';font-style: italic;
    font-weight: lighter;}

  &:-ms-input-placeholder { /* IE 10+ */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

  &:-moz-placeholder { /* Firefox 18- */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

  // ----------------- //
  // FORM INPUT ACTIVE //
  // ----------------- //
  &:focus{
    border:1px solid $accent-color;
    box-shadow: none;

    // ----------------------------- //
    // FORM INPUT ACTIVE PLACEHOLDER //
    // ----------------------------- //
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

    &::-moz-placeholder { /* Firefox 19+ */ color:$handl-light-grey; font-family: 'Kayak';font-style: italic;
      font-weight: lighter;}

    &:-ms-input-placeholder { /* IE 10+ */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

    &:-moz-placeholder { /* Firefox 18- */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}
  }
}

// ---------------- //
// FORM WITH ADD-ON //
// ---------------- //
form{
  .with-add-on{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;

    // ----------------------------- //
    // FORM WITH ADD-ON (ICON) //
    // ----------------------------- //
    .icon{
      @include typography(16px,38px,$handl-blue,'Kayak');
      text-align: center;
      position: absolute;
      top:1px;left:1px;bottom:1px;
      width: 40px;
      background: $handl-light-blue;
      border-top-left-radius: $border-radius-light;
      border-bottom-left-radius: $border-radius-light;
    }

    // ----------------------------- //
    // FORM WITH ADD-ON (TEXT) //
    // ----------------------------- //
    .text{
      @include typography(16px,38px,$handl-blue,'Kayak');

      text-align: center;
      position: absolute;
      top:1px;left:1px;bottom:1px;
      width: auto;
      background: $handl-light-blue;
      border-top-left-radius: $border-radius-light;
      border-bottom-left-radius: $border-radius-light;
      padding: 0 20px;
    }

    // ---------------------- //
    // FORM WITH ADD-ON INPUT //
    // ---------------------- //
    input[type=text],
    input[type=number],
    input[type=email] {
      width: 100%;
      height: 40px;
      font-family: 'Bariol', sans-serif;
      border-radius: $border-radius-light;
      background: $white;
      border:1px solid $white-blue;
      font-size: 16px;
      padding-left: 70px;
      padding-right: 20px;

      // ----------------------------- //
      // FORM WITH ADD-ON INPUT ACTIVE //
      // ----------------------------- //
      &:focus{
        border:1px solid $accent-color;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

        &::-moz-placeholder { /* Firefox 19+ */ color:$handl-light-grey; font-family: 'Kayak';font-style: italic;
          font-weight: lighter;}

        &:-ms-input-placeholder { /* IE 10+ */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}

        &:-moz-placeholder { /* Firefox 18- */ color:$handl-light-grey; font-family: 'Kayak'; font-style: italic; font-weight: lighter;}
      }
    }

    .extra-padding{
      padding-left: 190px !important;
    }
  }
}

// ----------- //
// FORM SELECT //
// ----------- //
form select{
  height: 40px;
  width: auto;
  min-width: 200px;
  max-width: 100%;
  @include typography(16px,40px,$handl-black,'Kayak');
  border-radius: 10px;
  border-color: $handl-light-blue;
  padding: 0 20px;
  margin: 0;

  -webkit-transition:border 0.25s;
  transition: border 0.25s;

  // ------------------ //
  // FORM SELECT ACTIVE //
  // ------------------ //
  &:focus{
    border:1px solid $accent-color;
    outline:none;
  }
}

// --------------- //
// FORM SEARCH BAR //
// --------------- //
.search-bar{
  position: relative;
  height: 40px;
  width: auto;
  min-width: 300px;
  max-width: 200px;

  // -------------------- //
  // FORM SEARCH BAR BODY //
  // -------------------- //
  input.search{
    position: absolute;
    height:100%;
    width:100%;

    @include typography(16px,40px,$handl-black,'Kayak');
    border-radius: $border-radius-light;
    letter-spacing: 1px;
    border:1px solid $handl-light-blue;
    padding-left: 20px;
    padding-right: 50px;
    box-shadow: none;

    -webkit-transition:border 0.25s;
    transition: border 0.25s;

    // --------------------------- //
    // FORM SEARCH BAR PLACEHOLDER //
    // --------------------------- //
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:$handl-light-black;
      font-style: italic;
      font-weight:lighter;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color:$handl-light-black;
      font-style: italic;
      font-weight:lighter;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color:$handl-light-black;
      font-style: italic;
      font-weight:lighter;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color:$handl-light-black;
      font-style: italic;
      font-weight:lighter;
    }

    // ---------------------- //
    // FORM SEARCH BAR ACTIVE //
    // ---------------------- //
    &:focus{
      border:1px solid $accent-color;
      outline: none;
      color:$handl-black;

      // ---------------------------------- //
      // FORM SEARCH BAR ACTIVE PLACEHOLDER //
      // ---------------------------------- //
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:$handl-light-black;
        font-style: italic;
        font-weight:lighter;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color:$handl-light-black;
        font-style: italic;
        font-weight:lighter;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color:$handl-light-black;
        font-style: italic;
        font-weight:lighter;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color:$handl-light-black;
        font-style: italic;
        font-weight:lighter;
      }
    }
  }

  // -------------------- //
  // FORM SEARCH BAR ICON //
  // -------------------- //
  i{
    position: absolute;
    right:20px;
    color: $accent-color;
    line-height: 40px;
  }
}

form .chosen-container-multi .chosen-choices{
  height: auto;
  background: $white;
  border-color: $white-blue;
  line-height: 40px;
  border-radius: $border-radius-light;
  font-size: 16px;
  padding: 0 20px;

  li.search-choice{
    display: block;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
  }

  li.search-field{
    height: 40px;
    margin:0;

    input[type=text]{
      line-height: 40px;
      height: 40px;
      color:$black;
    }
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .no-margin{
    margin:0;
  }
}
