// ------------ //
// SMALL SCREEN //
// ------------ //
@media only screen {
  ul.list{
    margin:5px 0;
    padding:0 10px;

    // --------------------- //
    // LIST COLUMN (DEFAULT) //
    // --------------------- //
    .width-4{
      display: inline-block;
      width:49%;
      white-space: nowrap;
      overflow: auto;
      text-overflow:ellipsis;

      &::-webkit-scrollbar{
        display:none;
      }
    }

    // --------------------- //
    // LIST HEADER (DEFAULT) //
    // --------------------- //
    li.list__header{
      width: 100%;
      list-style: none;
      background: $handl-light-blue;
      margin-bottom: 1px;
      height: 50px;
      border-radius: 5px;
      padding: 0 20px;

      h3{
        display: inline-block;
        height: 50px;
        margin:0px;
        @include typography(16px,50px,$primary-color,'Bariol');
      }

      p{
        display: inline-block;
        color:$primary-color;
      }
    }

    // ------------------- //
    // LIST ITEM (DEFAULT) //
    // ------------------ //
    li.list__item{
      width: 100%;
      list-style: none;
      background: transparent;
      margin-bottom: 5px;
      height: auto;
      border-bottom: 1px solid $handl-light-blue;
      padding:0 20px;

      // used like in delete at ticket and team list
      a.icon{
        margin:0px 0;
        display:block;
        height:50px;
        @include typography(20px,50px,$handl-green,'Bariol');

        &:hover{
          color:$handl-green+#111;
        }
      }

      // used if the list wanted to looked like a panel
      .item-content{
        display: inline-block;
        border-radius: 5px;
        padding:0 20px;
        width:100%;
        height:50px;
        border-radius: 5px;
        border:1px solid $white-blue;
        @include typography(16px,50px,$black,'Bariol');
      }

      // used if the item wanted te be clickable
      .clickable{
        -webkit-transition:box-shadow 0.5s;
        transition: box-shadow 0.5s;

        &:hover{
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
      }

      p{
        display: inline-block;
        height: 40px;
        margin:0px;
        @include typography(16px,40px,$black,'Bariol');

        a{
          color:$accent-color;

          &:hover{
            color:$accent-color+#333;
          }
        }
      }
    }
  }

  /* header cannot be inside <ul> with class "list" as it will cause it to be filtered on search */
    ul.listjs-header{
      margin:0;

      .width-4{
        display: inline-block;
        width:49%;
        white-space: nowrap;
        overflow: auto;
        text-overflow:ellipsis;

        &::-webkit-scrollbar{
          display:none;
        }
      }

      li.list__header{
        width: 100%;
        list-style: none;
        background: $white-blue;
        margin-bottom: 1px;
        height: 50px;
        border:1px solid $white-blue;
        border-radius: 5px;
        padding: 0 20px;

        h3{
          display: inline-block;
          height: 50px;
          margin:0px;
          @include typography(16px,50px,$primary-color,'Bariol');
        }

        p{
          display: inline-block;
          color:$primary-color;
        }
      }
    }

} /* Define mobile styles */

// Medium screens
@media only screen and (min-width: 40.063em) {
  ul.list{
    // ------------------------ //
    // LIST COLUMNS (TABLET UP) //
    // ------------------------ //
    .width-4{
      width:24%;
    }

    // ------------------- //
    // LIST ITEM (DEFAULT) //
    // ------------------ //
    li.list__item{
      height:50px;
      border-bottom: none;
    }
  }
  /* header cannot be inside <ul> with class "list" as it will cause it to be filtered on search */
  ul.listjs-header{
    margin:0;

    .width-4{
      display: inline-block;
      width:24%;
      white-space: nowrap;
      overflow: auto;
      text-overflow:ellipsis;

      &::-webkit-scrollbar{
        display:none;
      }
    }

    li.list__header{
      width: 100%;
      list-style: none;
      background: $white-blue;
      margin-bottom: 1px;
      height: 50px;
      border:1px solid $white-blue;
      border-radius: 5px;
      padding: 0 20px;

      h3{
        display: inline-block;
        height: 50px;
        margin:0px;
        @include typography(16px,50px,$primary-color,'Bariol');
      }

      p{
        display: inline-block;
        color:$primary-color;
      }
    }
  }

} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */
