.reveal{
  padding-bottom: 50px;

  h1{
    width:100%;
    text-align: center;
    @include typography(36px,50px,$primary-color,'Bariol');
  }

  p{
    @include typography(16px,22px,$black,'Kayak');
    padding: 25px 0px 0px;

    a{
      color:$accent-color;

      &:hover{
          color:$accent-color+#333;
      }
    }
  }

  .panel{
    h1{
      @include typography(24px,30px,$primary-color,'Bariol');
      margin: 0px 0 25px;
      text-align: left;
    }

    .panel__body{
      padding: 0;
    }
  }
}
