// Small screens
@media only screen {
  .panel{
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px 0;
    background: $white;
    border-radius: 5px;

    .panel__header{
      width: 100%;
      height: auto;
      padding: 30px 30px 20px;

      .divider{
        display: block;
        height:2px;
        width:100%;
        border-bottom: 2px solid $accent-color;
      }
    }

    .panel__body{
      width: 100%;
      height: 100%;
      padding: 10px;

      p{
        text-align: left;

        @include typography(16px,22px,$black,'Bariol');
      }
    }

    .panel__footer{
      width:100%;
      height: 50px;
      padding: 0 30px;

      p{
        @include typography(16px,50px,$black,'Bariol');
      }
    }

    .only-vertical-padding{
      padding:0 30px;
    }
  }

  .panel--transparent{
    background: $transparent-white-light;
  }

  .panel--transparent-blue{
    background: $transparent-white-blue-light;
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .panel{
    .panel__body{
      padding: 20px 30px;
    }
  }
} /* min-width 1025px, large screens */
