.grid_event {
  background:#fff;
  height: 100px;
  width: 90%;
  margin-bottom:25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  opacity: 0.8;

  h3{
    display: inline-block;
    height: 50px;
    margin:0px;
    @include typography(18px,24px,$black,'Bariol');
  }

  h1{
    font-size: 20px;
    margin-left: 10px;
    padding-top: 15px;

  }

  h4{
    font-size: 15px;
    font-family: 'Bariol';
    color: $black;
    font-style: italic;
    margin-left: 10px;
  }

  h5{
    font-size: 13px;
    font-family: 'Bariol';
    color: $black;
    font-style: italic;
    margin-left: 10px;
  }


  .logo_grid_events{
    width: 45px;
    height: 45px;
    padding: 0;
    background: #e7f1f3;
    border-radius: 10px;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    float: right;
    text-align: center;
    margin-top: 45px;
    margin-right: 15px;


    img{
      width: 100%;
      height: auto;
      border-radius: 15px;
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;
    }
  }

  p{
    color:$primary-color;
  }


  .grid_event .img{
    float: left;
  }
}

.grid_ticket {
  background:$light-primary-color;
  height: 100px;
  width: 90%;
  margin-bottom:25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  opacity: 0.8;

  h3{
    display: inline-block;
    height: 50px;
    margin:0px;
    @include typography(18px,24px,$black,'Bariol');
  }

  h1{
    font-size: 20px;
    margin-left: 10px;
    padding-top: 15px;

  }

  h4{
    font-size: 15px;
    font-family: 'Bariol';
    color: $black;
    font-style: italic;
    margin-left: 10px;
  }

  h5{
    font-size: 13px;
    font-family: 'Bariol';
    color: $black;
    font-style: italic;
    margin-left: 10px;
  }


  .icon_ticket{
    margin-right: 15px;
    float: right;
    margin-top: -25px;

    img{
      width: 100%;
      height: auto;
      opacity: 0.3;
      border-radius: 15px;
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;
    }
  }

  p{
    color:$primary-color;
  }


  .grid_event .img{
    float: left;
  }
}
