.table{
  margin-top:30px;

  .table__header{
    width:100%;
    height: auto;
    background: $transparent-white-blue;
    border-top-left-radius: $border-radius-light;
    border-top-right-radius: $border-radius-light;
    padding:20px;
  }

  .table__wrapper{
    width:100%;
    height: auto;
    background: $transparent-white;
    overflow-x: auto;
    overflow-y:auto;
    padding:5px 0;

    &::-webkit-scrollbar{
      display:none;
    }

    table {
      border-collapse:separate;
      border-spacing:1.5px;
      @include typography(14px,20px,$black,'Bariol');
      margin:0;

      #table-information{
        width:100%;
      }

      .additional-info{
        display: none;
      }

      input[type='checkbox']{
        width: 20px;
        height:20px;
        padding: 5px;
        margin-bottom:0;
      }

      thead{
        border:none;
        background: $grey;

        tr{
          th{
            padding:10px 5px;
          }
        }
      }

      tbody{
        border: none;
        background: $white;

        tr{
          list-style: none;
          margin-bottom: 1px;
          height: 20px;

          td{
            padding: 5px;
            width: auto;
            border:none;
            height: 20px;
            @include typography(14px, 20px, $black, 'Bariol');

            a{
              @include typography(14px, 20px, $accent-color, 'Kayak');
              text-decoration: underline;

              i{
                margin:0 5px;
              }

              &:hover{
                color:$accent-color+#333;
              }
            }
          }
        }
      }
    }
  }

  .table__footer{
    width:100%;
    height: auto;
    background: $transparent-white-blue;
    border-bottom-left-radius: $border-radius-light;
    border-bottom-right-radius: $border-radius-light;
    padding:15px;

    p{
      @include typography(14px,30px,$black,'Bariol');
      margin:0;
    }

    ul.pagination{
      float: right;
      margin:0;
      height:20px;
      font-family: 'Bariol', sans-serif;
      font-size:14px;

      li{
        margin:0 5px;
        display: inline-block;
        width: 30px;
        height:30px;
        text-align: center;

        a{
          padding: 0px;
          line-height: 30px;
          border:1px solid $accent-color;
          border-radius: $border-radius-light;
          background: $transparent-white-blue;
          color: $accent-color;

          -webkit-transition:background 0.25s;
          transition:background 0.25s;

          &:hover{
            background: $transparent-accent-light;
            color: $white;
          }
        }
      }

      li.active{
        a{
          color: $white;
          background: $transparent-accent-light;

          -webkit-transition:background 0.25s;
          transition:background 0.25s;

          &:hover{
            background: $accent-color;
          }
        }
      }

      li.disabled{
        margin:0 5px;
        padding: 0;

        a{
          display: block;
          width:30px;
          background: $transparent-white;
          cursor: not-allowed;

          &:hover{
            color:$accent-color;
            background: $transparent-white;
          }
        }
      }
    }
  }
}
