/* ------------------------- */
/*|                         |*/
/*|           BODY          |*/
/*|                         |*/
/* ------------------------- */

// Small screens
@media only screen {
  html,body{
    overflow-y:auto;
    overflow-x:hidden;
    background:#fafafa;
    height:100%;
    width:100%;
  }

  .body-wrapper{
    z-index: 0;
    margin-top:80px;
    position: relative;
    top: 0px;left:0px;right:0;bottom:0;
    overflow-y:auto;
    overflow-x:hidden;
    z-index: 0;
    height: calc(100vh - 80px);

    -webkit-transition:left 0.5s;
    transition: left 0.5s;
    color: $primary-color;

    .overlay{
      z-index:6;
      position: fixed;
      top:0;right:0;bottom:0;left:0;
      background:$black;
      opacity: 0;
      display: none;

      -webkit-transition:opacity 0.5s;
      transition: opacity 0.5s;
    }

    .overlay.shown{
      opacity: 0.75;
      display: block;
    }

    .content{
      position: absolute;
      top: 0px;left: 0px;right:0;
      z-index: 4;
      padding:30px;
    }

    .content.with-margin{
      left:0px;top:100px;
    }
  }

  .body-wrapper.toggled{
    left:0px;
  }

  .no-padding{
    // padding: 0;
  }
} /* Define mobile styles */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .body-wrapper{
    .content.with-margin{
      left:280px;
    }
  }
} /* min-width 1025px, large screens */
