// Small screens
@media only screen {
  .header{
    position: fixed;
    top:0;right:30px;left:30px;
    height: 80px;
    background: #fafafa;
    border-bottom: 1px solid $handl-light-blue;
    padding:20px 0;
    overflow-y:visible;
    z-index:10;

    -webkit-transition:left 0.5s;
    transition: left 0.5s;

    .left-menu-toggle{
      display: block;
      height:40px;
      width:40px;
      background: white;
      border:1px solid $handl-light-blue;
      border-radius:$border-radius-light;
      float:left;
      padding:5px;

      img{
        height: 100%;width:auto;
      }

      &:hover{
        background: #f6f6f6;
      }
    }

    .right-menu-toggle{
      float:right;

      img{
        height: 40px;
        border-radius: $border-radius-light;
      }
    }

    .top-bar-left{
      .logo{
        display: block;
        height:40px;
        img{
          height: 100%;width:auto;
        }
      }
    }

    .top-bar-right{
      .dropdown.menu > li.is-dropdown-submenu-parent > a::after{
        border-top-color: $handl-green;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }

      ul{
        background: transparent;

        .avatar{
          display: inline-block;

          img{
            height: 30px;
            border-radius: $border-radius-light;
          }
        }

        .header-content {
          display: inline-block;

          a{
            font-size: 16px;
            color:$handl-green;
          }
        }

        .menu{
          margin-top:40px;
          border:none;

          li {
            width:auto;
            min-width: 200px;
            float:right;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
            text-align: center;
            margin-bottom:2px;

            a{
              display: block;
              border:1px solid $handl-light-blue;
              border-radius: $border-radius-light;
              background: white;
              color:#777;

              &:hover{
                color:$handl-green;
                background: #f6f6f6;
              }
            }
          }
        }
      }
    }
  }

  .header.toggled{
    left:0px;
  }
} /* Define mobile styles */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .header{
    .top-bar-right{
      background: transparent;
      padding:0;
    }
  }
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .header{
    .top-bar-right{
      background: transparent;
      padding:0;
    }
  }

  .header.toggled{
    left:300px;
  }
} /* min-width 1025px, large screens */
