// Small screens
@media only screen {
  .left-sidebar {
    position: fixed;
    top: 85px;left:-300px;bottom:0px;
    width: 300px;
    z-index: 10;
    padding: 30px 30px 30px 0;
    overflow-y: auto;
    background: #fafafa;
    border-right: 1px solid $handl-light-blue;

    a{
      text-decoration: underline;
      color:$handl-light-black;

      &:hover{
        h2{
          color:$handl-black;
        }
      }
    }

    h2{
      line-height: 40px;
      color:$handl-light-black;
    }

    ul{
      margin-left: 0;
      list-style: none;

      li{
        clear:both;
        margin-bottom: 10px;

        a{
          display: block;
          width:100%;
          height: 50px;
          background: white;
          border:1px solid $handl-light-blue;
          border-radius: $border-radius-light;
          padding:0;
          box-shadow: none;

          -webkit-transition:box-shadow, 0.5s;
          transition: box-shadow, 0.5s;

          &:hover{
            box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
          }

          .icon{
            float: left;
            display: inline-block;
            margin-right:5px;

            img{
              height: 50px;
              border-top-left-radius: $border-radius-light;
              border-bottom-left-radius: $border-radius-light;
            }

            .text{
              height:50px;
              width:50px;
              text-align: center;
              background: $handl-blue;
              border-top-left-radius: $border-radius-light;
              border-bottom-left-radius: $border-radius-light;

              h3{
                line-height: 50px;
                color:white;
              }
            }
          }

          .desc{
            float: left;
            display: inline-block;
            padding: 5px 0;

            h3{
              font-size: 16px;
              line-height: 20px;
              margin:0;
              color:$handl-black;
            }

            p{
              font-size: 16px;
              line-height: 20px;
              margin:0;
              font-style:italic;
              color:$handl-light-black;
            }
          }
        }
      }
    }

    -webkit-transition:left 0.5s;
    transition: left 0.5s;
  }

  .left-sidebar.toggled{
    left:30px;
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {

}
