// Small screens
@media only screen {
  .right-sidebar{
    position: fixed;
    right:-300px;top:80px;bottom:0;
    width:250px;
    background: #fafafa;
    z-index:6;
    padding:0 30px;

    -webkit-transition:right 0.5s;
    transition: right 0.5s;

    ul{
      list-style: none;
      margin:30px 0 0;
      width: 100%;
      text-align:right;

      li{
        width: 100%;

        a{
          display: block;
          width: 100%;
          @include typography(18px,24px,$handl-light-black,'Bariol');
          padding-right: 0px;
          line-height: 35px;

          -webkit-transition:padding-right 0.5s;
          transition: padding-right 0.5s;

          &:hover{
            color:$handl-blue;
            padding-right: 5px;
          }


        }

        .active{
          color:$handl-blue;
        }
      }
    }
  }

  .right-sidebar.toggled{
    right:0;
    display: block;
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .right-sidebar{
    display: none;
  }

} /* min-width 1025px, large screens */
