// Small screens
@media only screen {
  .sidebar{
    position: fixed;
    left:-250px;top:180px;bottom:0;
    overflow-y: hidden;
    width: 250px;
    background:#fafafa;
    z-index: 5;
    padding:0 30px;

    -webkit-transition:left 0.5s;
    transition: left 0.5s;

    h2{
      margin:20px 0 0;
      line-height: 40px;
      color:$handl-light-black;
    }

    ul{
      list-style: none;
      margin:0;
      width: 100%;

      li{
        width: 100%;

        a{
          display: block;
          width: 100%;
          @include typography(16px,24px,$handl-light-black,'Bariol');
          line-height: 30px;
          padding-left: 0;

          -webkit-transition:padding-left 0.5s;
          transition: padding-left 0.5s;

          &:hover{
            color:$handl-green;
            padding-left: 5px;
          }
        }

        .active{
          color:$handl-blue;
        }
      }
    }
  }

  .sidebar.toggled{
    left:0;
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .sidebar{
    left:0px;
  }
} /* min-width 1025px, large screens */
