.sub-header{
  position: fixed;
  top:80px;
  height:100px;
  width:100%;
  background: #fafafa;
  padding:24px 30px;
  z-index:5;

  .sidebar-toggle{
    display: inline-block;
    float: left;
    @include typography(24px,40px,$handl-light-black,'Bariol');
    text-transform: uppercase;
    margin:0px;

    &:hover{
      color:$handl-green;
    }
  }

  .icon{
    height: 40px;
    width:40px;
    text-align: center;
    background: $handl-light-blue;
    display: inline-block;
    float:left;
    margin-right:10px;
    border-radius: $border-radius-light;

    img{
      height: 100%;
      width: 40px;
      width:auto;
      border-radius: $border-radius-light;
    }

    .text{
      width:auto;
    }
  }

  .team-list{
    height: 52px;
    width:52px;
    width:auto;

    .avatar{
      display: inline-block;
      height:52px;
      border-radius:100%;
      border:2px solid $handl-light-blue;
      float:left;
      margin: 0 1px;

      img{
        height:100%;
        width: auto;
        border-radius: 100%;
      }
    }

    .initials{
      display:inline-block;
      height:52px;
      width:52px;
      border-radius:100%;
      border:2px solid $handl-light-blue;
      background:white;
      float:left;
      text-align:center;
      margin: 0 1px;

      h2{
        line-height: 52px;
      }
    }

    .more{
      display:inline-block;
      height:52px;
      width:52px;
      border-radius:100%;
      border:2px solid $handl-light-blue;
      background:$handl-light-blue;
      float:left;
      text-align:center;
      margin: 0 1px;

      h2{
        line-height: 52px;
      }
    }

    .add-team{
      display:inline-block;
      margin: 5px 0 5px 20px;
      height:42px;
      width:42px;
      border-radius:100%;
      border:1px solid $handl-green;
      background:$handl-green;
      float:left;
      text-align:center;

      &:hover{
        background: $handl-green+#111;
      }

      i{
        color:white;
        font-size: 18px;
        line-height: 42px;
      }
    }
  }

  @media screen and (max-width: 39.9375em) {

    h1{
      display: inline-block;
      float:left;

      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  /* Medium and up */
  // @media screen and (min-width: 40em) {}

  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

  /* Large and up */
  @media screen and (min-width: 64em) {
    h1{
      width:500px;
    }
  }

  /* Large only */
  // @media screen and (min-width: 64em) and (max-width: 74.9375em) {}

}
