<table class="body-wrap" bgcolor="#ffffff">
  <tr>
    <td style="text-align: center">
    </td>
  </tr>

<div class="backgroud-white">
  <tr>
    <td class="konten" bgcolor="#ffffff">
      <div class="header">
        <br>
        <%= image_tag 'logogram-dark.png', height: '75' %>
        <br>
        <p>Here's what you need to handl today
        <br>

      </p>

        <tr>
          <td style="text-align:center;">
            <div style="max-width:600px; vertical-align:middle; height:1px; background:#37889c; radius: 5px margin-top: 5px"</div>
          </td>
        </tr>
      </div>
      <tr>

        <td style="text-align: left;">
      <div class="assigment">

        <% @unfinished_tasks_per_event.each do |event_name, tasks| %>
        <h4><%= event_name %></h4>
          <% tasks.each do |task| %>
            <li><%= task.name %>, due on <%= format_date(task.due_date) %></li>
          <% end %>
        <% end %> <br>
        <div style="max-width:600px; vertical-align:middle; height:1px; background:#37889c; radius: 5px"</div>
      </div>
    </td>
  </tr>

  <tr>
      <td style="padding: 10px 10px 0;font-size: 12px; mso-height-rule: exactly; line-height:18px; text-align: center;">
        <p style="text-align:center; color:#202020;">
            We hope you have a fun and productive day!
        </p>
      </td>
  </tr>

</div>
</table>
