<div class="top-bar static-header">
  <div class="top-bar-title">
    <a href="/"><%= image_tag 'logogram-light.png' %></a>
  </div>

  <span data-responsive-toggle="responsive-menu" data-hide-for="large">
    <a class="right-menu-toggle float-right"><%= icon('bars') %></a>
  </span>

  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="<%= features_path %>">Features</a></li>
        <li><a href="<%= pricing_path %>">Pricing</a></li>
        <li><a href="https://medium.com/the-handl-times" target="_blank">Blog</a></li>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      </ul>
    </div>
  </div>
</div>
