<%= render 'static_header' %>

<div class="home-about">
  <div class="row">
    <div class="large-8 large-centered columns">
      <!-- <h1 class="special">About Handl</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit vehicula lacus, sit amet suscipit est convallis vitae. Quisque pharetra ligula sed vehicula iaculis. Nullam imperdiet placerat felis, viverra volutpat purus consequat in. Morbi auctor quis odio a tincidunt. Etiam eleifend cursus finibus. Donec elementum orci nec mauris efficitur consectetur. Quisque consequat volutpat congue. Duis pharetra dignissim metus et pulvinar.</p> -->

      <h1 class="special">Team Handl</h1>

      <div class="row">
        <div class="large-12 columns">
          <div class="team-member">
            <div class="row">
              <div class="small-6 large-3 columns">
                <div class="avatar">
                  <%= image_tag 'team/about-dito.jpg' %>
                </div>
              </div>

              <div class="small-12 large-9 columns">
                <div class="description">
                  <h2>Dito Cesartista</h2>
                  <h3>Chief Executive Officer</h3>
                  <p>Satu kata untuk Handl: <strong>Perubahan</strong></p>
                  <p>Berbekal ilmu Teknologi Informasi yang dienyamnya di UGM, Dito mengambil peran dan tugas CEO Handl. Dito telah membangun Handl dalam berbagai lini termasuk backend developer, mobile apps, bahkan analisis bisnis. Seorang CEO ialah ia yang memiliki prinsip kuat dalam dirinya dan Dito percaya semua orang bisa melakukan sesuatu asal mau belajar, termasuk dirinya sendiri. “Kalau orang lain bisa sesuatu apapun, aku pasti juga bisa”</p>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
            <div class="row">
              <div class="small-6 large-3 columns">
                <div class="avatar">
                  <%= image_tag 'team/about-fahmi.jpg' %>
                </div>
              </div>

              <div class="small-12 large-9 columns">
                <div class="description">
                  <h2>Fahmi Ardhianto</h2>
                  <h3>Chief Technology Officer</h3>
                  <p>Satu kata untuk Handl: <strong>Manfaat</strong></p>
                  <p>Fahmi merupakan kunci penyeimbang ide-ide gila Handl. Dengan sifatnya yang realistis, ia menjadi salah satu co founder Handl. Fahmi telah menginvestasikan banyak hal, terutama pengetahuan programmingnya. Code di balik produk Handl dituliskan dengan baik oleh Fahmi. Kepiawannya merumuskan bahasa pemrogaman membawanya menjadi finalis dalam Compfest Programming Competition 2010, Best pitch on MIT AITI Indonesia 2013, dan menjadi peserta dalam Google Hackfair 2015 Indonesia.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
            <div class="row">
              <div class="small-6 large-3 columns">
                <div class="avatar">
                  <%= image_tag 'team/about-reyhan.jpg' %>
                </div>
              </div>

              <div class="small-12 large-9 columns">
                <div class="description">
                  <h2>Reyhan Aditrea</h2>
                  <h3>UI / UX Designer</h3>

                  <div class="social-media">
                    <%= link_to icon('dribbble', class:'fa-2x'), "https://dribbble.com/reyhanaditrea" %>

                    <%= link_to icon('instagram', class:'fa-2x'), "https://www.instagram.com/reyhanaditrea/" %>

                    <%= link_to icon('linkedin-square', class:'fa-2x'), "https://www.linkedin.com/in/reyhanaditrea/" %>
                  </div>

                  <p>Satu kata untuk Handl: <strong>Efisiensi</strong></p>
                  <p>Reyhan adalah think-tanker Handl. Pemikirannya yang dinamis dan kreatif menjadi oase ide brilian dalam produk-produk kami. Bersama Fahmi, Reyhan menjadi pioneer berdirinya Handl dan telah membantu coding dan desain estetis website Handl. “The most important thing in life is TO LIVE”. Prinsip ini yang membawa Reyhan menjajal berbagai hal sebelumnya termasuk menjadi game developer. Saat ini Reyhan telah memiliki akun pribadi di dribbble.com, sebuah komunitas bergengsi bagi desainer.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
            <div class="row">
              <div class="small-6 large-3 columns">
                <div class="avatar">
                  <%= image_tag 'team/about-sofi.jpg' %>
                </div>
              </div>

              <div class="small-12 large-9 columns">
                <div class="description">
                  <h2>Sofi Nabila</h2>
                  <h3>Chief HR Officer & Copywriter</h3>

                  <p>Satu kata untuk Handl: <strong>Mimpi</strong></p>
                  <p>Menjadi tukang merangkai kata, Sofi bergabung dalam tim Handl sebagai copywriter. Konten web dan media informasi lain dari Handl menjadi tanggung jawabnya. Sofi merupakan pimpinan redaksi cetak BPPM Equilibrium untuk perioder 2016/2017 dan telah menuliskan beberapa tulisan baik online maupun cetak. Bermodal pengalamannya berinteraksi dengan banyak orang pun kini ia memegang kendali atas manajemen sumber daya manusia dan penjadwalan dalam tim Handl.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
            <div class="row">
              <div class="small-6 large-3 columns">
                <div class="avatar">
                  <%= image_tag 'team/about-fiha.jpg' %>
                </div>
              </div>

              <div class="small-12 large-9 columns">
                <div class="description">
                  <h2>Fiha Febiala</h2>
                  <h3>Graphic Designer & Public Relation</h3>

                  <p>Satu kata untuk Handl: <strong>Sukses</strong></p>
                  <p>Berbekal ilmu dari Teknologi Informasi UGM, Fiha bertanggung jawab atas kualitas produk yang dihasilkan Handl. Lebih dari itu, Fiha juga mampu menghasilkan desain-desain kecil pemanis di dalam website kami. Kebanggaannya terhadap Handl pun menjadi jembatan antara kami dan beberapa klien. Saat ini, Fiha memiliki keinginan untuk memperdalam dunia komunikasi guna membantu pemasaran Handl lebih baik lagi.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
            <div class="row">
              <div class="small-6 large-3 columns">
                <div class="avatar">
                  <%= image_tag 'team/about-digas.jpg' %>
                </div>
              </div>

              <div class="small-12 large-9 columns">
                <div class="description">
                  <h2>Raden Digas</h2>
                  <h3>Brand Manager</h3>

                  <p>Satu kata untuk Handl: <strong>Bagus</strong></p>
                  <p>Menjalankan peran sebagai Brand Manager Handl, Digas tak lepas dari segala urusan merk termasuk desain dan analisis. Logo Handl adalah salah satu sumbangsih desain terbaiknya dalam perjalanan Handl. Selain branding, digas juga membantu dalam visual guide Handl. Digas saat ini sedang memperdalam ilmunya di Desain Komunikasi Visual ISI, Yogyakarta dan kerap mengikuti beberapa pameran seni. Ia juga memiliki studio desain independen.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="static-footer">
    <div class="row">
      <div class="large-5 columns">
        <a href="/" class="logo">
          <%= image_tag 'logogram-light.png' %>
        </a>

        <div class="logo-desc">
          <strong>HANDL</strong> adalah platform untuk membantu manajemen event, khususnya untuk bagian registrasi
        </div>
      </div>

      <div class="large-2 columns">
        <ul>HANDL
          <li><a href="<%= about_us_path %>">About Us</a></li>
        </ul>
      </div>

      <div class="large-2 columns">
        <ul>LEGAL
          <li><a href="<%= terms_and_conditions_path %>">Terms & Conditions</a></li>
          <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="large-3 columns">
        <ul>CONTACT US
          <li>Jalan Asem Kranji K7 Sekip, UGM, Bulaksumur, Yogyakarta.</li>
          <li>+62 852 10809393</li>
          <li>hi@handl.in</li>
        </ul>
      </div>
    </div>
  </div>

</div>
