<%= render 'static_header' %>

<div class="home-feature">
  <div class="section-1">
    <div class="row column">
      <h1><strong>Manage</strong> and <strong>control</strong> your event, easily</h1>
      <p>Handl adalah sebuah platform yang memudahkanmu dalam mengorganisir registrasi acara yang ingin kamu adakan.</p>
      <p>Dilengkapi dengan fitur-fitur esensial untuk mengatur segala prosesnya.</p>
      <p>Gunakan Handl untuk meringankan proses perancangan <em>event</em>-mu!</p>

      <%= image_tag 'home-features/all-event.jpg' %>
    </div>
  </div>

  <div class="section-2">
    <%= image_tag 'home-features/bubbles.png', class:'bubbles' %>

    <div class="row">
      <div class="large-4 large-offset-1 columns">
        <h1>Create your event</h1>
        <div style="width:25%; background:#ffffff; height:2px;margin:20px 0;"></div>
        <p>Hal terpenting yang harus kamu lakukan sebelum memulai petualanganmu bersama Handl. Daftarkan <em>event</em> apapun yang ingin kamu laksanakan dalam form yang telah kami sediakan. Kamu bisa memberi segala informasi tentang <em>event</em>mu. Kapan, dimana, siapa, dan apapun</p>
      </div>

    </div>

    <div class="row column">
      <%= image_tag 'home-features/new-event.jpg', class:'screenshoot' %>
    </div>
  </div>

  <div class="section-3">
    <%= image_tag 'home-features/team.jpg' %>

    <div class="row">
      <div class="large-5 large-offset-6 columns">
        <h1>Invite, Collaborate!</h1>
        <div style="float:right;width:25%; background:#009D8E; height:2px;margin:20px 0;"></div>
        <p>Bersama-sama menjadi lebih mudah dalam mengatur registrasi <em>event</em>-mu</p>
        <p>Berkolaborasi dengan optimal bersama Handl</p>
      </div>
    </div>
  </div>

  <div class="section-4">
    <%= image_tag 'home-features/registration.png', class:'screenshoot' %>

    <div class="row">
      <div class="large-6 large-offset-6 columns">
        <%= image_tag 'home-features/blastoff.png', class:'blastoff' %>
        <div style="width:10%; background:#FFFFFF; height:2px;margin:20px 0 20px 100px;"></div>
        <p><em>Event</em>-mu akan mendapatkan halaman khusus dengan link unik dengan sogala informasi tentang <em>event</em>-mu. Dilengkapi dengan formulir registrasi yang terintegrasi. Sebarkan <em>event</em>-mu ke seluruh penjuru dan capai targer <em>full house</em> secepatnya.</p>
      </div>
    </div>
  </div>

  <div class="section-5">
    <%= image_tag 'home-features/form-editor.jpg' %>

    <div class="row">
      <div class="large-5 large-offset-6 columns">
        <h1>Customize Freely</h1>
        <div style="float:right;width:25%; background:#009D8E; height:2px;margin:20px 0;"></div>
        <p>Kami telah menyediakan <em>template</em> untuk formulir pendaftaran berisi nama, alamat e-mail, institusi, dan nomor handphone. Namun, jika kamu membutuhkan informasi lebih, kamu dapat menambahkan kategori lainnya</p>
      </div>
    </div>
  </div>

  <div class="section-6">
    <div class="row">
      <div class="large-4 large-offset-1 columns">
        <h1>Manage your participants</h1>
        <div style="width:25%; background:#333333; height:2px;margin:20px 0;"></div>
        <p>Segala informasi dan seluruh peserta yang telah mendaftar tersimpan dalam <em>database event</em>-mu. Kamu dapat mengakses dan mengaturnya socara bebas.</p>
      </div>

    </div>

    <%= image_tag 'home-features/participant.jpg' %>
  </div>

  <div class="section-7">
    <div class="row column">
      <div class="screenshoot">
        <%= image_tag 'home-features/cashflow.jpg' %>
      </div>

      <h1>Monitor the cashflow</h1>
      <p>kamu dapat mengawasi aliran dana dari <em>event</em>-mu. Segala pemasukkan dari pendaftaran hingga pencairan dana dapat kamu kendalikkan.</p>

    </div>

    <div class="free-section">
      <h1>Free Ticket</h1>
      <p>Kamu dapat bebas menggunakan Handl jika event yang diadakan </br>tidak memungut biaya</p>
    </div>

    <div class="paid-section">
      <h1>Paid Ticket</h1>
      <p>Jika event yang kamu adakan memungut biaya tiket pendaftaran, </br>maka akan ada biaya servis dari kami. <a href="<%= pricing_path %>">Pelajari lebih lanjut</a></p>
    </div>
  </div>

  <div class="row section-8">
    <div class="large-6 large-centered columns">
      <div class="logo">
        <%= image_tag 'logogram-dark.png', class:'illustration' %>
      </div>

      <h3>Handl menawarkan kemudahan dan efisiensi perancangan <em>event</em>-mu</h3>
      <p>Jadilah bagian dari pergerakan menuju kemajuan!<p>
    </div>
  </div>

  <div class="static-footer">
    <div class="row">
      <div class="large-5 columns">
        <a href="/" class="logo">
          <%= image_tag 'logogram-light.png' %>
        </a>

        <div class="logo-desc">
          <strong>HANDL</strong> adalah platform untuk membantu manajemen event, khususnya untuk bagian registrasi
        </div>
      </div>

      <div class="large-2 columns">
        <ul>HANDL
          <li><a href="<%= about_us_path %>">About Us</a></li>
        </ul>
      </div>

      <div class="large-2 columns">
        <ul>LEGAL
          <li><a href="<%= terms_and_conditions_path %>">Terms & Conditions</a></li>
          <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="large-3 columns">
        <ul>CONTACT US
          <li>Jalan Asem Kranji K7 Sekip, UGM, Bulaksumur, Yogyakarta.</li>
          <li>+62 852 10809393</li>
          <li>hi@handl.in</li>
        </ul>
      </div>
    </div>
  </div>
</div>
