<div class="top-bar static-header transparent">
  <div class="top-bar-title">
    <a href="/"><%= image_tag 'logogram-light.png' %></a>
  </div>

  <span data-responsive-toggle="responsive-menu" data-hide-for="large">
    <a class="right-menu-toggle float-right"><%= icon('bars') %></a>
  </span>

  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="<%= features_path %>">Features</a></li>
        <li><a href="<%= pricing_path %>">Pricing</a></li>
        <li><a href="https://medium.com/the-handl-times" target="_blank">Blog</a></li>
        <li><%= link_to 'Log in', new_user_session_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="landing-page">
  <div id="home">
    <div class="overlay"></div>
    <div class="row">
      <div class="large-7 large-offset-5 columns">
        <h1>Let’s take your event registration to the next level!</h1>
        <p>Dengan cara yang elegan dan praktis, <span>HANDL</span> akan membantumu mendalangi bagian registrasi acara hebatmu.</p>
        <p><span>HANDL</span> adalah sistem manajemen registrasi acara dalam satu portal.</p>
      </div>
    </div>
  </div>

  <div id="features">
    <div class="row column">
      <h1>Naikkan Level Kualitas Acaramu!</h1>
      <h2>Capai efisiensi dan efektivitas dengan fitur HANDL ini:</h2>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= image_tag 'home/online.png' %>
        <h3>Terhubung dengan Registrasi Online</h3>
        <p>Peserta dapat langsung melakukan registrasi online pada fitur formulir HANDL dan secara automatis data peserta akan terekap dalam database penyelenggara.</p>
      </div>

      <div class="large-6 columns">
        <%= image_tag 'home/statistic.png' %>
        <h3>Tersedia dengan Auto-Rekap</h3>
        <p>Dokumen daftar hadir peserta, daftar rekap pembayaran, dan lainnya dapat segera kamu dapatkan dengan mengunduhnya di HANDL</p>
      </div>

      <div class="large-6 columns">
        <%= image_tag 'home/payment.png' %>
        <h3>Mendukung Semua Metode Pembayaran</h3>
        <p>Terintegrasi dengan Doku Payment Gateway, berbagai alternatif pembayaran tiket oleh peserta akan terkelola dengan sistem pembayaran yang juga digunakan oleh layanan musik Spotify: aman dan fleksibel</p>
      </div>

      <div class="large-6 columns">
        <%= image_tag 'home/reimburse.png' %>
        <h3>Terpercaya dengan Pencairan 1x24 Jam</h3>
        <p>Uang pembayaran dari peserta dapat segera kamu cairkan dalam sehari melalui HANDL.</p>
      </div>
    </div>

    <div class"row column" style="text-align:center;">
      <a class="button" href="<%= features_path %>">Learn more about features</a>
    </div>
  </div>

  <div id="pricing">
    <div class="row">
      <div class="large-10 large-centered columns">
        <h1>Pricing</h1>
        <h2>Handl memberikan fitur penjualan dan pembayaran tiket secara online. Biaya yang dikenakan untuk servis Handl ini akan langsung dipotong setiap transaksi berhasil.</h2>

        <div class="row">
          <div class="small-12 large-6 columns" style="padding:0 10px;">
            <div class="pricing-container">
              <div class="pricing-box">
                <h3>ACARA GRATIS</h3>
                <div style="width:10%; margin:0 auto 30px; background:#009D8E; height:2px;"></div>

                <h4>IDR <span>0</span></h4>

                <p>Gunakan Handl secara bebas tanpa tambahan biaya untuk kamu yang akan mengadakan acara gratis!</p>
              </div>
            </div>
          </div>

          <div class="small-12 large-6 columns" style="padding:0 10px;">
            <div class="pricing-container">
              <div class="pricing-box">
                <h3>ACARA BERBAYAR</h3>
                <div style="width:10%; margin:0 auto 30px; background:#009D8E; height:2px;"></div>

                <h4>IDR <span id="price-output">0</span> / ticket</h4>

                <div class="row">
                  <div class="large-9 large-centered columns">
                    <form>
                      <div class="with-icon" style="margin-bottom:16px;">
                        <div class="text-on">IDR</div>

                        <input id="price-input" type="number" placeholder="masukkan harga tiketmu..."></input>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class"row column" style="text-align:center;">
      <a class="button" href="<%= pricing_path %>">Learn more about pricing</a>
    </div>
  </div>

  <div id="sign">
    <div class="row">
      <div class="large-6 columns">
        <h1>Mari gunakan cara-cara HANDL!</h1>
        <h2>“Gunakan cara-cara baru dalam menyampaikan informasi, tinggalkan pola-pola lama”</h2>
        <h3>Joko Widodo, Presiden ke-7 Republik Indonesia</h3>

        <a class="button button--white" href="<%= new_user_registration_path %>">Sign up</a>
      </div>

      <div class="large-6 columns" style="text-align:center;">
        <%= image_tag 'home/mac-image.png' %>
      </div>
    </div>

  </div>

  <div class="static-footer">
    <div class="row">
      <div class="large-5 columns">
        <a href="/" class="logo">
          <%= image_tag 'logogram-light.png' %>
        </a>

        <div class="logo-desc">
          <strong>HANDL</strong> adalah platform untuk membantu manajemen event, khususnya untuk bagian registrasi
        </div>
      </div>

      <div class="large-2 columns">
        <ul>HANDL
          <li><a href="<%= about_us_path %>">About Us</a></li>
        </ul>
      </div>

      <div class="large-2 columns">
        <ul>LEGAL
          <li><a href="<%= terms_and_conditions_path %>">Terms & Conditions</a></li>
          <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="large-3 columns">
        <ul>CONTACT US
          <li>Jalan Asem Kranji K7 Sekip, UGM, Bulaksumur, Yogyakarta.</li>
          <li>+62 852 10809393</li>
          <li>hi@handl.in</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  $(".landing-page").scroll(function() {
    var scroll = $(".landing-page").scrollTop();
     //>=, not <=
    if (scroll >= 100) {
        //clearHeader, not clearheader - caps H
        $(".static-header").removeClass('transparent');
        // $('.top-bar-title a img').attr("src" , "<%= asset_path('logo-light.png') %>");
    }
    else{
      $(".static-header").addClass('transparent');
      // $('.top-bar-title a img').attr("src" , "<%= asset_path('logo-dark.png') %>");
    }
  }); //missing );

  function addCommas(nStr){
  	nStr += '';
  	x = nStr.split('.');
  	x1 = x[0];
  	x2 = x.length > 1 ? '.' + x[1] : '';
  	var rgx = /(\d+)(\d{3})/;
  	while (rgx.test(x1)) {
  		x1 = x1.replace(rgx, '$1' + '.' + '$2');
  	}
  	return x1 + x2;
  }

  $("#price-input").keyup(function(){
      var price = $("#price-input").val();
      var output;

      if(price===0){
          output=0;
      }

      else if(price>0 && price <= 100000){
          output= 5000;
      }

      else{
        output=Math.ceil(0.05*price);
        output = addCommas(output);
      }

      console.log(output);

      $("#price-output").html(output);
  });

</script>
