<%= render 'static_header' %>

<div class="pricing">
  <div class="row">
    <div class="large-10 large-centered columns">
      <h1>Pricing</h1>
      <h2>HANDL memberikan fitur penjualan dan pembayaran tiket secara online. Fitur ini dapat kamu nikmati dengan harga yang terjangkau.</h2>

      <div class="row">
        <div class="large-10 large-centered columns">
          <form class="row">
            <div class="large-6 columns">
              <label style="text-align:left;">Pricing Calculator<label>

              <div class="with-icon" style="margin-bottom:50px;">
                <div class="text-on">IDR</div>
                <input id="price-input" type="number" placeholder="masukkan harga tiketmu..."></input>
              </div>
            </div>

            <div class="large-5 large-offset-1 columns">
              <label style="text-align:left;">Estimasi Harga Jasa<label>
              <h4 style="margin-bottom:50px;">IDR <span id="price-output">0</span> / ticket</h4>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <div class="pricing-panel">
            <h2>Free</h2>
            <h3>IDR <span>0</span></h3>
            <h3></h3>
            <p>untuk acara gratis, kamu dapat menggunakan HANDL secara bebas</p>

            <a href="<%= new_user_registration_path %>" class="button button--full" style="margin:10px 0;">Try it now</a>

            <h3 style="text-align:left; margin-top:30px;">Paket <strong>Free</strong> ini memiliki fitur:</h3>

            <ul>
              <li>Formulir online</li>
              <li>Manajemen data peserta</li>
              <li>Rekap data otomatis</li>
              <li>Dokumen daftar hadir</li>
              <li>Tiket elektronik dengan QR Code</li>
              <li>Mailer otomatis untuk setiap registrasi</li>
            </ul>
          </div>
        </div>

        <div class="large-8 columns">
          <div class="pricing-panel">
            <div class="row">
              <div class="large-6 columns">
                <h2>Standard</h2>
                <h3>IDR <span>5.000</span>/tiket</h3>
                <h3></h3>
                <p>uuntuk acara berbayar dengan harga tiket <strong>di bawah IDR 100.000<strong></p>
              </div>

              <div class="large-6 columns">
                <h2>Standard Plus</h2>
                <h3><span>5</span>%/tiket</h3>
                <h3></h3>
                <p>untuk acara berbayar dengan harga tiket <strong>di atas IDR 100.000</strong></p>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <a href="<%= new_user_registration_path %>" class="button button--half" style="margin:10px 0;">Try it now</a>

                <h3 style="text-align:left; margin-top:30px;">Paket <strong>Standard</strong> dan <strong>Standard Plus</strong> ini memiliki fitur:</h3>

              </div>
            </div>

            <div class="row">
              <div class="large-6 columns">
                <ul>
                  <li>Semua fitur yang ada di paket Free</li>
                  <li>Akses layanan pembayaran tiket online</li>
                  <li>Konfirmasi status pembayaran otomatis</li>
                  <li>Pencairan dana 1x24 jam</li>
                </ul>
              </div>

              <div class="large-6 columns">
                <ul>
                  <li>Pembayaran via Bank Transfer</li>
                  <li>Pembayaran via Credit Card</li>
                  <li>Pembayaran via Alfamart</li>
                  <li>Pembayaran via Doku Wallet</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="static-footer">
    <div class="row">
      <div class="large-5 columns">
        <a href="/" class="logo">
          <%= image_tag 'logogram-light.png' %>
        </a>

        <div class="logo-desc">
          <strong>HANDL</strong> adalah platform untuk membantu manajemen event, khususnya untuk bagian registrasi
        </div>
      </div>

      <div class="large-2 columns">
        <ul>HANDL
          <li><a href="<%= about_us_path %>">About Us</a></li>
        </ul>
      </div>

      <div class="large-2 columns">
        <ul>LEGAL
          <li><a href="<%= terms_and_conditions_path %>">Terms & Conditions</a></li>
          <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="large-3 columns">
        <ul>CONTACT US
          <li>Jalan Asem Kranji K7 Sekip, UGM, Bulaksumur, Yogyakarta.</li>
          <li>+62 852 10809393</li>
          <li>hi@handl.in</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  function addCommas(nStr){
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
      x1 = x1.replace(rgx, '$1' + '.' + '$2');
    }
    return x1 + x2;
  }

  $("#price-input").keyup(function(){
      var price = $("#price-input").val();
      var output;

      if(price===0){
          output=0;
      }

      else if(price>0 && price <= 100000){
          output= 5000;
      }

      else{
        output=Math.ceil(0.05*price);
      }

      output = addCommas(output);

      $("#price-output").html(output);
  });
</script>
