<%= render 'static_header' %>

<div class="legal">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="special">PRIVACY POLICY</h1>

      <p>Kebijakan privasi ini dibuat untuk menghargai dan melindungi setiap informasi penting pengguna situs Handl. Kebijakan ini meliputi perlindungan atas email, nomor telepon, foto, gambar, dan lain-lain yang diberikan pengguna selama menggunakan layanan Handl.in.</p>

      <p>Kebijakan – kebijakan tersebut diantaranya :</p>

      <ul>
        <li>
          <p>Handl.in melindungi seluruh informasi penting pengguna selama penggunaan layanan Handl.in.</p>
        </li>

        <li>
          <p>Handl.in melindungi segala hak-hak pribadi pengguna, baik berupa media publikasi, email, logo, data peserta, maupun lainnya.</p>
        </li>

        <li>
          <p>Handl.in memiliki hak untuk menggunakan data dan informasi pengguna untuk meningkatkan kualitas dan mutu pelayanan.</p>
        </li>

        <li>
          <p>Handl.in akan bekerja sama dengan institusi berwenang untuk memberikan data dan informasi yang dimiliki pengguna apabila diminta atau diwajibkan.</p>
        </li>

        <li>
          <p>Handl.in menggunakan fitur Google Analytics Demographics and Interest yang akan merekam informasi pengguna seperti username, email, institusi, dan lain-lain yang akan berguna untuk mengembangkan pelayanan Handl.in. Jika Anda merasa keberatan dengan hal tersebut, Anda dapat menggunakan Add-on Google Analytics Opt-Out Browser.</p>
        </li>

        <li>
          <p>Pengguna dapat berhenti berlangganan informasi promo terbaru dan penawaran eksklusif, maka anda dapat unsubscribe jika tidak ingin menerima informasi tersebut.</p>
        </li>
      </ul>

      <p>Kebijakan privasi dapat berubah atau diperbaharui tanpa adanya pemberitahuan sebelumnya. Handl.in menyarankan agar pengguna membaca dan memeriksa halaman kebijakan privasi dari waktu ke waktu agar dapat mengetahui perkembanganya. Dengan saran membaca kebijakan privasi secara berkala, pengguna dianggap telah menyetujui perubahan dalam kebijakan privasi apabila sewaktu-waktu benar terdapat perubahan.</p>

      <div style="margin-bottom:25px;"></div>
    </div>
  </div>

  <div class="static-footer">
    <div class="row">
      <div class="large-5 columns">
        <a href="/" class="logo">
          <%= image_tag 'logogram-light.png' %>
        </a>

        <div class="logo-desc">
          <strong>HANDL</strong> adalah platform untuk membantu manajemen event, khususnya untuk bagian registrasi
        </div>
      </div>

      <div class="large-2 columns">
        <ul>HANDL
          <li><a href="<%= about_us_path %>">About Us</a></li>
        </ul>
      </div>

      <div class="large-2 columns">
        <ul>LEGAL
          <li><a href="<%= terms_and_conditions_path %>">Terms & Conditions</a></li>
          <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="large-3 columns">
        <ul>CONTACT US
          <li>Jalan Asem Kranji K7 Sekip, UGM, Bulaksumur, Yogyakarta.</li>
          <li>+62 852 10809393</li>
          <li>hi@handl.in</li>
        </ul>
      </div>
    </div>
  </div>
</div>
