<%= render 'static_header' %>

<div class="legal">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="special">TERM AND CONDITIONS</h1>
      <h2>
        Selamat datang di <a href="https://www.handl.in/">www.handl.in.</a>
      </h2>
      <p>
        Syarat & ketentuan yang ditetapkan di bawah ini mengatur mengenai pemakaian jasa yang ditawarkan oleh Handl terkait penggunaan situs www.handl.in. Pengguna disarankan membaca dengan saksama karena hal ini berkaita dengan hak dan kewajiban pengguna di bawah hukum.
      </p>
      <p>
        Dengan mendaftar dan/atau menggunakan situs <a href="https://www.handl.in/">www.handl.in</a>, pengguna dianggap telah membaca, memahami, dan menyetujui semua isi dalam Syarat & ketentuan. Syarat & ketentuan ini merupakan bentuk kesepakatan yang dituangkan dalam sebuah perjanjianyang sah antara pengguna dengan Handl. Jika pengguna tidak menyetujui salah satu, sebagian, atau seluruh isi Syarat & ketentuan, maka Handl tidak dapat memberikan izin terhadap pengguna tersebut untuk menggunakan layanan di <a href="https://www.handl.in/">www.handl.in</a>.
      </p>

      <h2>Pernyataan Privasi</h2>
      <p>Berikut adalah data personal yang Handl kumpulkan dari:</p>

      <ol>
        <li>
          <p>Semua pengguna</p>
          <p>Seluruh data yang diberikan kepada Handl akan terkumpul dalam database. Data yang diberikan secara sukarela maupun dengan persetujuan tersebut akan menjadi hakHandl. Data pribadi yang dapat Handl kumpulkan tidak terbatas hanya pada nama, alamat, alamat email dan informasi lainnya yang memungkinkan pengguna untuk diidentifikasi secara pribadi. Data tersebut dapat juga berupa pertanyaan yang diajukan ke Handl, tanggapan survei yang dilakukan Handl, atau penggunaan bagian tertentu dari layanan yang ada.</p>
        </li>

        <li>
          <p>Organizer</p>
          <p>Beberapa data teknis tertentu yang dikirim kepada Handl dari komputer, perangkat mobile, dan/atau browser yang digunakan pengguna untuk mengakses layanan akan terkumpul secara otomatis. Data otomatis ini tanpa batasan seperti pengenalan unik terkait dengan perangkat akses pengguna atau browser (termasuk misalnya, Internet Protocol (IP address) , karakteristik tentang perangkat akses dan browser, statistik kegiatan pengguna pada layanan, informasi tentang bagaimana pengguna datang kelayanan dan data yang dikumpulkan melalui Cookies, Pixel Tags, Local Shared Object,Web storage dan teknologi serupa lainnya. Pengguna dapat menemukan informasi lebih lanjut tentang bagaimana Handl menggunakan Cookies dan teknologi pelacakan lain yang serupa dalam kebijakan Cookie Handl.</p>
        </li>

        <li>
          <p>Peserta</p>
          <p>Handl dapat mengaitkan data pribadi yang diberikan pengguna dengan data non pribadi lainnya (termasuk data non pribadi dari pihak ketiga). Pada contoh tersebut, Handl akan memperlakukan setiap data gabungan sampai saat data tersebut tidak bisa lagi berhubungan dengan pengguna atau digunakan untuk mengidentifikasi pengguna.</p>
        </li>

        <li>
          <p>Peserta</p>
          <p>Ketika anda mendaftar untuk layanan atau mengirimkan data pribadi kepada kami, kami dapat mengaitkan data Non-Pribadi lainnya (termasuk non- data pribadi yang kami kumpulkan dengan pihak ketiga) dengan data pribadi. Pada contoh tersebut, kami akan memperlakukan setiap data gabungan seperti Data Pribadi sampai saat itu tidak bisa lagi berhubungan dengan Anda atau digunakan untuk mengidentifikasi Anda.</p>
        </li>
      </ol>

      <h3>Bagaimana Handl mengungkapkan dan mentransfer data pribadi pengguna?</h3>

      <p>Data yang telah dimasukkan oleh pengguna ke handl.in hanya akan diungkapkan pada organizer yang bersangkutan. Data tersebut tidak akan Handl perjualbelikan dan akan menjadi rahasia Handl.</p>
      <p>Handl menggunakan jasa pihak ketiga, yaitu Doku untuk sarana pembayaran dalam rangka mempermudah proses transaksi antara organizer dengan peserta. Namun, Doku tidak memiliki akses ke data Handl.</p>


      <h3>Bagaimana Handl menyimpan data pribadi pengguna?</h3>

      <p>Handl dapat menyimpan data pribadi yang terkumpul secara internal atau dapat disimpanoleh pihak ketiga sesuai dengan Kebijakan Privasi ini. Handl berusaha mengambil langkah-langkah untuk melindungi data pribadi yang terkumpul melalui layanan. Handl berusaha melindungi data dari risiko kehilangan, penyalahgunaan, penggunaan yang tidak sah, akses ilegal, pengungkapan sengaja, perubahan dan kehancuran. Namun, keamanan mutlak tidak pernah ada dalam jaringan, server, database, internet atau e-mail transmisi. Oleh karena itu, pengguna harus tetap berhati-hati dalam memutuskan jenis informasi yang dikirimkan kepada Handl secara elektronik.</p>

      <h3>Bagaimana pengguna bisa mengakses, update, atau menghapus data pribadi pengguna?</h3>

      <p>Pengguna dapat meminta akses ke beberapa data pribadinya yang disimpan oleh Handl. Pengguna juga dapat meminta Handl untuk memperbaiki, memperbarui atau menghapus data pribadi yang ada. Pengguna dapat menggunakan hak tersebut dengan hubungi Handl melalui kontak yang tertera. Handl akan senantiasa mempertimbangkandan menanggapi semua permintaan sesuai dengan hukum yang berlaku.</p>

      <h3>Berapa lama Handl akan mempertahankan data pribadi pengguna?</h3>

      <p>Handl dapat mempertahankan data pribadi pengguna selama pengguna terdaftar untuk menggunakan layanan. Pengguna dapat menutup akun dengan menghubungi pihakHandl. Namun, Handl dapat menyimpan data pribadi untuk jangka waktu yang diizinkan
      atau diwajibkan berdasarkan hukum yang berlaku. Bahkan data pribadi pengguna telah dihapus, mungkin akan bertahan pada cadangan atau arsip untuk jangka waktu yang cukup lama.</p>

      <h2>Transaksi </h2>

      <ul>
      <li><p>Untuk proses transaksi pembayaran tiket, Handl menggunakan pihak ketiga yaitu Dokuyang berfungsi sebagai media transaksi.</p> </li>
      <li><p>Setiap transaksi yang menggunakan Doku, akan dikenakan biaya sebesar Rp.5000. </p></li>
      <li><p>Organizer dapat melakukan permintaan pencairan dana pendaftaran yang telah dibayarkan peserta melalui sistem Handl. Proses ini dapat memakan waktu 1-3 hari kerja.</p></li>
      </ul>

      <h2>Sanksi</h2>

      <ul>
        <li><p>Apabila peserta telah membayar uang pendaftaran dan acara tersebut dibatalkan, maka organizer wajib mengembalikan seluruh dana yang telah dibayarkan oleh peserta. </p></li>
        <li><p>Apabila peserta memanipulasi sistem pembayaran, maka peserta tidak diperbolehkan mengikuti acara yang diselenggarakan.</p></li>

      </ul>

      <h2>Pembatasan Tanggung jawab</h2>

      <ul>
        <li><p>Handl tidak bertanggung jawab atas segala risiko dan kerugian yang timbul dari dan dalam kaitannya dengan informasi yang dituliskan oleh pengguna Handl</p></li>
        <li><p>Handl tidak bertanggung jawab atas segala risiko dan kerugian yang timbul berkenan dengan diaksesnya akun Pengguna oleh pihak lain.</p></li>
        <li><p>Handl tidak bertanggung jawab atas segala risiko dan kerugian yang timbul akibat transaksi di luar Doku System.</p></li>
      </ul>

      <h2>Hukum yang berlaku dan penyelesaian sengketa</h2>
      <p>Aturan Penggunaan ini dilaksanakan dan tunduk pada Peraturan Perundang-undangan Republik Indonesia.</p>

      <ul>
        <li><p>Apabila terjadi perselisihan, sebelum beralih ke alternatif lain, Pengguna wajib terlebih dahulu menghubungi Handl secara langsung agar dapat melakukan perundingan atau musyawarah untuk mencapai solusi terbaik bagi kedua belah pihak.</p></li>
        <li><p>Sebelum menghubungi Handl secara langsung untuk melakukan perundingan penyelesaian masalah atau sengketa, Pengguna setuju untuk tidak mengumumkan, membuat tulisan-tulisan di media online maupun cetak terkait permasalahan aquo yangdapat menyudutkan Handl (termasuk petugas, direktur, karyawan dan agen).</p></li>
        <li><p>Apabila dalam waktu 1 (satu) bulan setelah dimulainya perundingan atau musyawarah tidak mencapai solusi, maka PARA PIHAK akan menyelesaikan perselisihan tersebut melalui Pengadilan Negeri DIY Yogyakarta.</p></li>
        <li><p>Selama perselisihan dalam proses penyelesaian, Pengguna wajib untuk tetap melaksanakan kewajiban-kewajiban lainnya menurut Aturan Penggunaan Handl.</p></li>
      </ul>

      <p>Segala ketentuan yang belum diatur dalam Syarat & Ketentuan ini akan diatur lebih lanjut berdasarkan perundingan pihak yang terlibat.</p>

      <div style="margin-bottom:25px;"></div>
    </div>
  </div>

  <div class="static-footer">
    <div class="row">
      <div class="large-5 columns">
        <a href="/" class="logo">
          <%= image_tag 'logogram-light.png' %>
        </a>

        <div class="logo-desc">
          <strong>HANDL</strong> adalah platform untuk membantu manajemen event, khususnya untuk bagian registrasi
        </div>
      </div>

      <div class="large-2 columns">
        <ul>HANDL
          <li><a href="<%= about_us_path %>">About Us</a></li>
        </ul>
      </div>

      <div class="large-2 columns">
        <ul>LEGAL
          <li><a href="<%= terms_and_conditions_path %>">Terms & Conditions</a></li>
          <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="large-3 columns">
        <ul>CONTACT US
          <li>Jalan Asem Kranji K7 Sekip, UGM, Bulaksumur, Yogyakarta.</li>
          <li>+62 852 10809393</li>
          <li>hi@handl.in</li>
        </ul>
      </div>
    </div>
  </div>
</div>
