<div class="task-card" data-uid="<%= task.id %>">
  <a class="task-card__body" href="<%= event_task_path(event_slug: task.event.slug, id: task.id) %>">
    <h2><%= task.name %></h2>
    <h4><%= days_to(task.due_date) %></h4>

    <div class="logo">
      <% if assignment.task.event.logo? %>
        <img src="<%= task.event.logo.url %>"/>
      <% else %>
        <h3><%= assignment.task.event.name.first%></h3>
      <% end %>
    </div>
  </a>

  <div class="task-card__footer">
    <% if assignment.accepted? %>
      <a href="#">accepted</a>
    <% else %>
      <% if user==current_user%>
        <a class="action" href="<%= assignment_accept_path(assignment) %>">accept</a>
      <% end %>
    <% end %>
  </div>

  <!-- <h3><%= "assigned to #{task.users.map(&:fullname).join(', ')}" if task.users.present? %></h3> -->
</div>
