<div class="body full">
  <div class="row">
    <% @assignments.each do |event,assignments| %>
      <h3><%= event %></h3>
      <% assignments.each do |assignment| %>
        <div class="task-item">
          <h4><%= assignment.task.name %></h4>
          <p><%= days_to(assignment.task.due_date) %> (<%= format_date(assignment.task.due_date) %>)</p>
          <% if assignment.accepted? %>
            <a href="#" class="disabled button">accepted</a>
          <% else %>
            <a href="<%= assignment_accept_path(assignment) %>" class="button" >accept</a>
          <% end %>
          <div style="clear:both;"></div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
