<%= form_for ticket, url: event_ticket_category_path, method: :put do |f| %>
  <%= render "shared/errors", object: @ticket_category %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :ticket_name, class: "control-label" %>
      <%= f.text_field :category_name, class: "form-control", id: "ticket_category_category_name", placeholder: 'e.g. Platinum, Gold, Silver, etc' %>
    </div>

    <div class="large-12 columns">
      <%= f.label :price, class: "control-label" %>
      <div class="with-icon">
        <div class="add-on">
          IDR
        </div>
        <%= f.number_field :price, class: "form-control", id: "ticket_category_price", placeholder: 'How much does the ticket cost?' %>
      </div>
    </div>

    <div class="large-12 columns">
      <%= f.label :quantity, class: "control-label" %>
      <div class="with-icon">
        <div class="add-on">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <%= f.number_field :quantity, class: "form-control", id: "ticket_category_quantity", placeholder: "How many tickets would you sell?" %>
      </div>
    </div>

    <div class="large-12 columns" style="text-align:right; margin-top:50px;">
      <%= f.submit class: "button button--half" %>
    </div>
  </div>
<% end %>
