
  <%= form_for TicketCategory.new, class: "form", url: event_ticket_categories_path(event_slug: event_slug),method: :post, html: {class: "form-horizontal", autocomplete: "off"} do |f| %>
    <%= f.hidden_field :event_id, value: @event.id  %>

    <div class="large-12 columns">
        <%= f.label 'Ticket Name' %>
        <%= f.text_field :category_name, required: true, placeholder:'e.g. Regular, VIP etc' %>
    </div>

    <div class="large-12 columns">
      <%= f.label 'Price' %>
      <div class="with-icon">
        <div class="add-on">
            IDR
        </div>
        <%= f.number_field :price, required: true, min: 0, placeholder:'How much does the ticket cost?' %>
      </div>
    </div>

    <div class="large-12 columns">
      <%= f.label 'Quantity' %>

      <div class="with-icon">
        <div class="add-on">
            <%= fa_icon 'shopping-cart' %>
        </div>
        <%= f.number_field :quantity, required: true, min: 0, placeholder:'How many tickets would you sell?' %>
      </div>
    </div>

    <div class="large-12 columns" style="text-align:right; margin-top:50px;">
      <%= f.submit "Add New Ticket Category", class: "button button--half" %>
    </div>
    <% end %>
