<%= provide :page_title, 'Ticket Details' %>

<div class="row">
  <div class="medium-12 large-12 columns no-padding">
    <h2>Manage your ticket categories. Start selling as soon as possible. You want a full house, dont you?</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <a class="large-card large-card-add" data-open="newTicket">
      <%= icon('plus') %>
      <h2>create new ticket</h2>
    </a>
  </div>

  <% if @ticket_categories.present? %>
    <% @ticket_categories.each do |category| %>
      <div class="small-12 medium-6 large-4 columns end">
        <div class="large-card">
          <%= link_to(edit_event_ticket_category_path(id: category.id, event_slug: params[:event_slug]), remote: true, data: { open: 'editTicket' }, class: 'large-card__body clickable') do %>
            <h2><%= category.category_name %></h2>
            <h4><%= "#{category.quantity} tickets remaining" %></h4>
            <div class="ticket-price">
              <h3><%= "#{number_with_delimiter(category.price, :delimiter => '.')} IDR " %></h3>
            </div>
          <% end %>

          <div class="large-card__footer">
            <%= link_to 'delete',event_ticket_category_path(id: category.id, event_slug: params[:event_slug]), method: :delete, data: { confirm: 'Are you sure you want to delete this ticket category?' } %>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="full reveal fast" id="newTicket" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="row">
    <div class="large-6 large-centered columns">
      <h1>Create new ticket type</h1>
      <p>Please note that we're going to charge you per ticket, so make sure you have included our service fee for your ticket price. Our service fee varies according your ticket price, you can see and check it <a href="<%= pricing_path %>" target="_blank">here</a>.</p>

      <%= render 'form', edit:false %>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="full reveal" id="editTicket" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="row">
    <div class="large-6 large-centered columns">
      <h1>Edit ticket type</h1>
      <p>Please note that we're going to charge you per ticket, so make sure you have included our service fee for your ticket price. Our service fee varies according your ticket price, you can see and check it <a href="<%= pricing_path %>" target="_blank">here</a>.</p>

      <div id="edit-ticket-form">
      </div>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
