var formDiv = document.getElementById('new-ticket-form');
var html = '<%= escape_javascript( render partial: "form", locals: { event_slug: @event_slug, ticket: @ticket_category }) %>';
formDiv.innerHTML = html;
