<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

      <p style="margin:0;"><%= image_tag 'header.png' %></p>

			<div class="content">
			<table>
				<tr>
					<td>
						<h5>Selamat datang di HANDL!</h5>
						<p>Terima kasih! Kamu telah mendaftarkan diri di HANDL. HANDL adalah platform manajemen event, khususnya bagian registrasi.</p>

            <p>Saatnya fokus pada ide besar dan serahkan sisanya pada HANDL!</p>

						<p>Silakan konfirmasi akun email kamu melalui tombol dibawah ini!</p>

            <div style="text-align:center; margin-bottom:25px;">
              <%= link_to 'Konfirmasi akun saya', confirmation_url(@resource, confirmation_token: @token) , class:'btn' %>
            </div>

            <p style="margin:0;">Semoga harimu menyenangkan,</p>
            <p style="margin:0;">HANDL</p>

						<br/>

					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->
