Selamat datang di HANDL!
Terima kasih! Kamu telah mendaftarkan diri di HANDL. HANDL adalah platform manajemen event, khususnya bagian registrasi.

Saatnya fokus pada ide besar dan serahkan sisanya pada HANDL!

Silakan konfirmasi akun email kamu melalui tombol dibawah ini!

<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>

Semoga harimu menyenangkan,
HANDL
