<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

      <p style="margin:0;"><%= image_tag 'header.png' %></p>

			<div class="content">
			<table>
				<tr>
					<td>
            <p>
              HANDL baru saja menerima permohonan pencairan dana untuk acara <nama event> sebesar <strong><%= number_to_currency(@reimbursement['amount'], unit: 'Rp. ', separator: ',', delimiter: '.') %></strong>. Permohonan tersebut kami terima dari saudara <strong><%= "#{@requester.fullname} (#{@requester.email})" %></strong>.
            </p>

            <p>
              Dana akan kami cairkan dalam kurun waktu 2 hari kerja sejak email ini kami kirimkan. Apabila terdapat kejanggalan dari permohonan pencairan dana ini, kamu dapat segera menghubungi kami di hi@handl.in atau +62 852 10809393.
            </p>

            <p style="margin:0;">
              Terima kasih dan semoga harimu menyenangkan,
            </p>
            <p style="margin:0;">HANDL</p>

						<br/>

					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->
