Halo <%= @resource.fullname %>!
Seseorang telah mengirimkan permintaan penggantian password untuk akun HANDL kamu. Kamu dapat melakukannya melalui tombol dibawah.

<%= link_to 'ganti password', edit_user_password_url(reset_password_token: @token) %>

Apabila kamu tidak menginginkannya, silakan abaikan email ini. Passwordmu tidak akan berubah selama kamu tidak mengakses tombol diatas dan membuat password baru.
