<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

      <p style="margin:0;"><%= image_tag 'header.png' %></p>

			<div class="content">
			<table>
				<tr>
					<td>
						<h5>Halo <%= @resource.fullname %>,</h5>
						<p>Seseorang telah mengirimkan permintaan penggantian password untuk akun HANDL kamu. Kamu dapat melakukannya melalui tombol dibawah.</p>

            <div style="text-align:center; margin-bottom:25px;">
              <%= link_to 'ganti password', edit_user_password_url(reset_password_token: @token) , class:'btn'%>
            </div>

            <p>Apabila kamu tidak menginginkannya, silakan abaikan email ini. Passwordmu tidak akan berubah selama kamu tidak mengakses tombol diatas dan membuat password baru.</p>

            <p style="margin:0;">Semoga harimu menyenangkan,</p>
            <p style="margin:0;">HANDL</p>

						<br/>

					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->
