<% @event.form_custom_fields.sort { |a,b| a.created_at <=> b.created_at }.each do |custom_field| %>
  <div class="panel panel--transparent">
    <div class="panel__body">
      <div class="row">
        <%= render 'form', field: custom_field, id: custom_field.id, edit: true %>
       </div>
     </div>
   </div>
<% end %>
