<div class="panel panel--transparent">
  <div class="panel__body">
    <% if edit %>
      <%= form_for field, remote: true, class: "form", url: event_form_custom_field_path(id: id, event_id: params[:event_id]), html: {class: "form-horizontal", autocomplete: "off"}, method: :patch do |f| %>
      <%= render "shared/errors", object: field %>
      <% @field_f = f %>

      <%= f.hidden_field :event_id, value: @event.id  %>
      <div class="row">
        <div class="small-12 large-4 columns">
          <%= f.text_field :name, placeholder:'enter the field name', class: "#{id} special" %>
        </div>

        <% select_id = field.id %>
        <div class="large-3 columns" >
          <div class="<%= field.event.id %>" id="<%= select_id %>">
            <%= f.select(
                :field_type,
                options_for_select(
                  FormCustomField.field_types.keys.collect { |field| [field.humanize, field] },
                  selected: field.field_type
                ), {}, { class: "form_custom_field_field_type"}
            )%>
          </div>
        </div>

        <div class="large-2 columns" id="required">
          <% if field.required %>
            <%= f.check_box :required, checked: true %> required
          <% else %>
            <%= f.check_box :required %> required
          <% end %>
        </div>

        <div class="small-12 large-3 columns">
          <%= f.submit "Save", class: "button button--inline float-right" %>
          <%= link_to icon('trash-o'),event_form_custom_field_path(id: field.id, event_id: @event.id), class:'button button--inline float-right', method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this field?' } %>
        </div>

      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.text_field :description, placeholder:'enter short description (optional)', class: "#{id}" %>
        </div>
      </div>


      <% @display = "display:none" %>
      <% if field.multiple_choice? || field.dropdown? %>
        <% @display = "display:block" %>
      <% end %>

      <% choice_id = "choice-#{field.id}" %>
      <div class="choice" id="<%= choice_id %>" style="<%= @display %>">
        <% field.choices.sort { |a,b| a.created_at <=> b.created_at }.each do |choice| %>
          <div class="row" id="<%="option-#{choice.id}"%>">
            <div class="small-9 columns">
              <%= f.fields_for :choices, choice do |ff| %>
                <%= ff.text_field :choice_name, placeholder:'choice'%>
              <% end %>
            </div>
            <div class="small-3 columns">
              <%= link_to "remove",event_choice_path(id: choice.id), class:'remove_choice_btn button', remote: true, method: :delete %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

      <% add_btn_id = "add-btn-#{field.id}" %>
      <div class="option" id="<%= add_btn_id %>" style="<%= @display %>">
        <%= form_for Choice.new, url: event_choices_path(event_id: @event.id), method: :post, remote: true do |c| %>
          <%= c.hidden_field :form_custom_field_id, value: field.id %>
          <%= hidden_field_tag(:f, @field_f) %>
          <div class="row">
            <div class="small-6 columns">
              <%= c.submit 'add new option', remote: true, class: "new_choice button button--full"%>
            </div>
            <div class="small-6 columns">
              <% if field.choices.size == 0 %>
                <p class="warning-text">This field will not be shown as it has no choice available</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>
      <%= form_for @form_custom_field, class: "form", url: event_form_custom_fields_path, html: {class: "form-horizontal", autocomplete: "off"} do |f| %>
      <%= f.hidden_field :event_id, value: @event.id  %>

        <div class="small-12 large-4 columns">
          <%= f.text_field :name, required: true, placeholder:'enter the field name' %>
        </div>

        <div>
          <%= f.label :field_type %>
          <%= f.select(
              :field_type,
              options_for_select(
                FormCustomField.field_types.keys.collect { |field| [field.humanize, field] }
              )
          ) %>
        </div>

      <div id="choice">

      </div>

      <div id="add-btn" class="button" onclick="addChoice()" style="display:none">
        Add more option
      </div>

      <div id="required">
        <%= f.check_box :required %> required
      </div>

      <div class="small-12 large-3 columns">
        <%= f.submit "Add", class: "button button--full" %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
