<div class="row">
  <div class="small-4 columns">
    <%= category.category_name %>
  </div>
  <div class="small-4 columns">
    <%= category.price %>
  </div>
  <div class="small-4 columns">
    <%= category.quantity %>
  </div>
</div>
