$('#custom-field').append("<%= escape_javascript(render partial: '/events/form_custom_fields/form', locals: {edit:true , field:@form_custom_field, id:@form_custom_field.id }) %>");
$(".form-horizontal").on("ajax:success", function(e, data, status, xhr){
  if (data.delete){
    var id = "#edit_form_custom_field_"+data.custom_field.id;
    $(id).parent().parent().remove();
  } else if(data.remove_choice) {
    var id = "#option-"+data.choice.id;
    console.log(id);
    $(id).remove();
  } else {
    $('#updateForm').foundation('open', 'open');
  }
});
$('.form_custom_field_field_type').on('change', function(event) {
  // this == the element that fired the change event
  var selected = event.target.options.selectedIndex;
  console.log($(event.target).parent().prop('className'));

  $.ajax({
    type:'PATCH',
    url: "/events/"+$(event.target).parent().prop('className')+"/form_custom_fields/"+$(event.target).parent().prop('id'),
    data: { form_custom_field: { event_id: $(event.target).parent().prop('className'), field_type: event.target.options[selected].value }} ,
  });
  if (this.value === 'multiple_choice' || this.value === 'dropdown'){
    $("#choice-"+$(event.target).parent().prop('id')).show();
    //document.getElementById("choice-"+$(event.target).parent().prop('id')).insertAdjacentHTML('beforeend',choice);
    $("#add-btn-"+$(event.target).parent().prop('id')).show();
    //$('#required').hide();
  } else {
    $("#choice-"+$(event.target).parent().prop('id')).hide();
    $("#add-btn-"+$(event.target).parent().prop('id')).hide();
    //$('#required').show();
  }
});
