<%= provide :page_title, 'Form Editor' %>

<div class="row">
  <div class="large-10 columns no-padding">
    <div class="panel panel--transparent">
      <div class="panel__body">
        <div class="row">
          <div class="large-8 columns">
            <%= form_tag event_update_slug_path, method: :put do |f| %>
              <%= label_tag :registration_form %>
              <div class="field-name"><%= event_ticket_order_url %></div>
          </div>

          <div class="large-4 columns">
            <%= link_to 'Preview', event_ticket_order_path, class: 'button button--full button--margin button--inline button--right button--no-bottom', target: '_blank' %>
          </div>
          <% end %>
        </div>

        <div class="row">

          <div class="large-8 columns">
            <form>
              <%= label_tag :registration_closed %>
              <div class="with-icon">
                <div class="add-on">
                    <%= fa_icon 'calendar' %>
                </div>

                <% if @event.registration_closed_at %>
                  <%= text_field :registration_closed, nil, value: @event.registration_closed_at.strftime("%d %b %Y %H:%M"), id:"datetimepicker_closed_reg", placeholder: 'enter your last day for registration'  %>
                <% else %>
                  <%= text_field :registration_closed, nil, id:"datetimepicker_closed_reg", placeholder: 'enter your last day for registration'  %>
                <% end %>
              </div>

            </form>
          </div>

          <div class="large-4 columns">
            <form>
              <%= label_tag :registration_status %>
            </form>

            <div class="registration-status">
              <input type="checkbox" value="None" id="registration-status" name="check" />
              <label for="registration-status"></label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-10 columns no-padding">
    <h1 class="special" style="font-size:18px;">You can build your own form</h1>
  </div>
</div>

<div class="row">

  <div class="small-12 large-10 columns no-padding">

    <div class="panel panel--transparent">
      <div class="panel__body">
        <%= form_for @event, remote: true, class: "form", url: event_path(id: @event.id, slug: @event.slug, from_form: true), html: {class: "form-horizontal", autocomplete: "off"}, method: :patch do |f| %>
          <div class="row">
            <div class="small-12 large-4 columns default-field">
                <div class="field-name">Name</div>
             </div>
             <div class="small-12 large-2 columns">
               <%= f.submit "Save", class: "button button--full" %>
             </div>
           </div>

           <div class="row">
             <div class="large-8 columns">
               <%= f.text_field :name_desc, placeholder:'enter short description (optional)'%>
             </div>
           </div>
         <% end %>
       </div>
     </div>

     <div class="panel panel--transparent">
       <div class="panel__body">
         <%= form_for @event, remote: true, class: "form", url: event_path(id: @event.id, slug: @event.slug, from_form: true), html: {class: "form-horizontal", autocomplete: "off"}, method: :patch do |f| %>
           <div class="row">
             <div class="small-12 large-4 columns default-field">
                 <div class="field-name">Email Address</div>
              </div>
              <div class="small-12 large-2 columns">
                <%= f.submit "Save", class: "button button--full" %>
              </div>
            </div>

            <div class="row">
              <div class="large-8 columns">
                <%= f.text_field :email_desc, placeholder:'enter short description (optional)'%>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel--transparent">
        <div class="panel__body">
          <%= form_for @event, remote: true, class: "form", url: event_path(id: @event.id, slug: @event.slug, from_form: true), html: {class: "form-horizontal", autocomplete: "off"}, method: :patch do |f| %>
            <div class="row">
              <div class="small-12 large-4 columns default-field">
                  <div class="field-name">Company / Institution</div>
               </div>
               <div class="small-12 large-2 columns">
                 <%= f.submit "Save", class: "button button--full" %>
               </div>
             </div>

             <div class="row">
               <div class="large-8 columns">
                 <%= f.text_field :company_desc, placeholder:'enter short description (optional)'%>
               </div>
             </div>
           <% end %>
         </div>
       </div>

       <div class="panel panel--transparent">
         <div class="panel__body">
           <%= form_for @event, remote: true, id: "new-field", class: "form", url: event_path(id: @event.id, slug: @event.slug, from_form: true), html: {class: "form-horizontal", autocomplete: "off"}, method: :patch do |f| %>
             <div class="row">
               <div class="small-12 large-4 columns default-field">
                   <div class="field-name">Phone Number</div>
                </div>
                <div class="small-12 large-2 columns">
                  <%= f.submit "Save", class: "button button--full" %>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <%= f.text_field :phone_desc, placeholder:'enter short description (optional)'%>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div id="custom-field">
          <% @event.form_custom_fields.sort { |a,b| a.created_at <=> b.created_at }.each do |custom_field| %>
            <div class="form-container">
              <%= render 'form', field: custom_field, id: custom_field.id, edit: true %>
            </div>
          <% end %>
        </div>

        <div style="margin:30px 0;">
          <%= form_for FormCustomField.new, url: event_form_custom_fields_path(event_id: @event.id), method: :post, remote: true do |form| %>
            <%= form.hidden_field :event_id, value: @event.id %>
            <%= form.submit 'add new field', class: "new_choice button button--full" %>
          <% end %>
        </div>

  </div>
</div>

<div class="tiny reveal" id="updateForm" data-reveal>
  <p class="lead">Update Success</p>
  <p>Your change have been saved!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<script>
  $(document).ready(
    function() {
      <% if @event.registration_open %>
        $("#registration-status").prop('checked', true)
      <% else %>
        $("#registration-status").prop('checked', false)
      <% end %>

      $("#registration-status").on("change", function() {
        if(this.checked){
          $.ajax({
            type: "GET",
            url: "/events/<%= @event.slug %>/open_close_registration?is_open=true"
          });
        } else {
          $.ajax({
            type: "GET",
            url: "/events/<%= @event.slug %>/open_close_registration?is_open=false"
          });
        }
      });

      jQuery('#datetimepicker_closed_reg').datetimepicker({
        format:'d M Y H:i',
        minDate:0,
        onChangeDateTime:function(dp,$input){
          $.ajax({
            type:'PATCH',
            url: "/events/<%=@event.slug%>",
            data: { set_registration_closed: true,  event: {registration_closed_at: $input.val()}} ,
          }).done(function(e, data, status, xhr) {
            $("#registration-status").prop('checked', status.responseJSON.status_changed)
          });
        }
      });

  });
</script>
