<%= provide :page_title, 'Email Blast' %>

<div class="row">
  <div class="small-12 large-5 columns">
    <div class="panel panel--transparent-blue">
      <div class="panel__body">
      </div>
    </div>
  </div>

  <div class="small-12 large-7 columns">
    <div class="panel panel--transparent">
      <div class="panel__body">
        <%= form_for @email_blast, url: event_email_blasts_path(event_slug: params[:event_slug]), method: :post do |f| %>
          <%= render "shared/errors", object: @email_blast %>
          <%= f.hidden_field :event_id, value: params[:event_id] %>
          <ul>
            <li class="button button--margin" onclick="addText(event)" accesskey="q">Name</li>
            <li class="button button--margin" onclick="addText(event)" accesskey="w">First Name</li>
            <li class="button button--margin" onclick="addText(event)" accesskey="e">Last Name</li>
          </ul>

          <div>
            <%= f.label :subject %>
            <%= f.text_field :subject, id: "email-subject", onclick: "changeFocusSubject()", placeholder:'Enter the subject for your email' %>
          </div>

          <div>
            <%= f.label :content %>
            <%= f.text_area :content, id: "email-content", onclick: "changeFocusContent()", placeholder:'Enter the content for your email' %>
          </div>

          <%= f.submit "Send Email", class: "button button--full" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
