<div class="login">
  <%= link_to root_path do %>
    <%= image_tag 'full-logo-light.png', class: 'logo' %>
  <% end %>

  <% flash.each do |level, msg| %>
    <%= render 'shared/flash_messages', level: level, msg: msg %>
  <% end %>

  <div class="row align-center">
    <div class="large-5 medium-10 medium-centered small-12 columns">
      <div class="panel">
        <div class="panel__body">
          <h1>Log in</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <%= f.label :email_address %>
            <%= f.email_field :email, autofocus: true, placeholder:'enter your email address' %>

            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", placeholder:'enter your password' %>

            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class:'small-label' %>
            <% end %>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot password?", new_password_path(resource_name), class:'link-float-right' %>
            <% end -%>

              <%= f.submit 'Log in', class: 'button handl-btn button--full' %>

            <% end %>

            <p>or you can</p>

            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to icon('google', 'Log in with Google'), omniauth_authorize_path(resource_name, provider), class:'with-google' %>
              <% end -%>
            <% end -%>

            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <p>if you haven't verified your account, you can <%= link_to "resend verification email", new_confirmation_path(resource_name), class:'link' %></p>
            <% end -%>

            <!-- <div class="links">
              <%= render "users/shared/links" %>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
