// Small screens
@media only screen {
  .attendees{
    a.direct{
      width: 100%;
    }

    h1.group{
      display:inline-block;
      width: 50%;
      padding: 10px 10px  !important;

      p{
        display: block;
        font-size: 14px;
        line-height: 20px;
        min-width: 200px;
        margin:0;
      }
    }

    .text-overflow{
      width: 20%;
      min-width: 100px;
      white-space: nowrap;
      overflow: auto;
      text-overflow:ellipsis;

      &::-webkit-scrollbar{
        display:none;
      }

      p{
        @include typography(14px,20px,$black,'Bariol');
        margin:0 0 0 10px;
      }

      a{
        width: 40%;
        display: inline-block;
        float:left;
        text-decoration: underline;

        &:hover{
          color:$accent-color+#333333;
        }
      }
    }

    a.action{
      width: 5%;
      // float:right;
      margin-right: 10px;
      line-height: 20px;
      @include typography(14px,20px,$accent-color,'Kayak');

      &:hover{
        color:$accent-color+#333333;
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .attendees{
    height: 40px !important;
  }
} /* min-width 1025px, large screens */

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
}

li.attendes{
  width: 100%;
  list-style: none;
  background: #fff;
  margin-bottom: 1px;
  height: 60px;
  border:1px solid $light-primary-color;
  border-radius: 3px;
  padding: 10px 10px;
}

tr.attendes{
  width: 100%;
  list-style: none;
  background: #fff;
  margin-bottom: 1px;
  height: 60px;
  border:1px solid $light-primary-color;
  border-radius: 3px;
  padding: 10px 10px;

}

table.attendes{
  width: 100%;
  list-style: none;
  background: #fff;
  margin-bottom: 1px;
  height: 60px;
  border:1px solid $light-primary-color;
  border-radius: 3px;
  padding: 10px 10px;
}

li.attendes_{
    width: 100%;
    list-style: none;
    background: #fff;
    margin-bottom: 1px;
    height: 60px;
    border:1px solid $light-primary-color;
    border-radius: 3px;
    padding: 10px 10px;
}

.sort {
  position: relative;
}

.sort:after {
  content: '\f0dc';
  font-family: FontAwesome;
  padding-left: 0.5em;
}

.sort.desc:after {
  content: '\f0dd';
  font-family: FontAwesome;
  padding-left: 0.5em;
}

.sort.asc:after {
  content: '\f0de';
  font-family: FontAwesome;
  padding-left: 0.5em;
}
