.cashflow{

  h2{
    @include typography(18px,20px, $black,'Bariol');
    margin:10px 0;
  }

  h2.label{
    display: inline-block;
    width:45%;
    @include typography(18px,24px, $black,'Bariol');
    margin:5px 0;
    background: transparent;
  }

  h2.value{
    display: inline-block;
    width:45%;
    @include typography(18px,24px, $black,'Bariol');
    margin:10px 0;

    span.red{
      color:#FF0202;
    }

    span.green{
      color: #37C837;
    }
  }

  h3{
    @include typography(18px,20px, $primary-color,'Bariol');

    span{
      @include typography(36px,42px, $primary-color,'Bariol');

    }
  }

  a.filter{
    display: inline-block;
    padding:10px 30px;
    background: $white;
    border:1px solid $white-blue;

    @include typography(16px,20px, $accent-color,'Bariol');

    &:hover{
      color:$white;
      background: $accent-color;
    }
  }

  a.filter.active{
    display: inline-block;
    padding:10px 30px;
    background: $accent-color;
    border:1px solid $white-blue;

    @include typography(16px,20px, $white,'Bariol');
  }

  .total{
    @include typography(36px,42px,$black,'Bariol');
    text-align: center;
    margin:10px 0 10px;
  }

  .cashflow__collection{
    width: 100%;
    height:248px;
    margin:10px 0;
    overflow-y: auto;

    .list{
      clear: both;
      height: 80px;
      margin:2px 0;
      padding: 10px 20px;

      a{
        display: block;
        @include typography(14px,20px,$accent-color,'Kayak');
        margin:0px;
        text-decoration: underline;

        &:hover{
          color:$accent-color + #333;
        }
      }

      p{
        @include typography(14px,20px,$black,'Bariol');
        margin:0px;
      }

      p.soft{
        font-style: italic;
        color:#777777;
      }

      p.medium{
        @include typography(18px,30px,$black,'Bariol');
      }

      p.large{
        @include typography(24px,30px,$black,'Bariol');
      }

      .success{
        color: green !important;
      }

      .left{
        float:left;
      }

      .right{
        float:right;
        text-align: right;
      }
    }

    .list--blue{
      background: $transparent-white-blue-light;
    }

    .list--white{
      background: $transparent-white-light;
    }
  }
}
