// Small screens
@media only screen {

}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */


ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  z-index: 100;

  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;

    a {
      color: #000;
      display: block;
      padding: 3px;
    }

    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

ul.ui-autocomplete {
  z-index: 10;
}
