@media only screen {
  .confirmation{
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    overflow-y: auto;
    background-color: #22788c;

    .reveal{
        padding-top: 50px;
    }


    .confirmation-logo{
      position: absolute;
      width: 100%;
      height: 50px;
      margin-top:25px;
      margin-bottom:40px;
      text-align: center;

      img.default{
        height: 100%;
        width: auto;
        border-radius:0;
        // -webkit-filter: brightness(0) invert(1);
        // filter: brightness(0) invert(1);
      }

      img{
        height: 100%;
        width: auto;
        border-radius:10px;
      }
    }

    .confirmation-content{
      position: relative;
      z-index: 50;
      top:115px;

      .panel-image{
        width: 100%;
        margin-top: 80px;
        text-align: center;

        img{
          width: 100%;
          height: auto;
          border:1px solid $white;
          border-radius:5px;
        }
      }

      .head{
        width: 100%;
        height: auto;
        text-align: center;

        h1.special{
          font-family: 'Bariol', sans-serif;
          font-size: 24px;
          color:$white;
          line-height: 30px;
          margin:0px 0px 25px;
          position: relative;

          &::after{
            content : none;
            position: absolute;
            top:40px;
            left    : 0;
            bottom  : 0;
            height  : 1px;
            width   : 50px;  /* or 100px */
            border-bottom:2px solid $white;
          }
        }

        h3{
          font-family: 'Bariol', sans-serif;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          color:$white;
          margin-bottom:5px;

          span{
            opacity: 0.7;
          }

          i{
            text-align: center;
            display: inline-block;
            width: 20px;
            margin-right: 10px;
          }
        }
      }

      .body{
        width: 100%;
        height: auto;
        margin-top:40px;
        padding: 0 0 0 15px;

        h1.special{
          float:left;
          font-family: 'Bariol', sans-serif;
          font-size: 18px;
          color:$black;
          line-height: 24px;
          margin:0px 0px 25px;
          position: relative;

          &::after{
            content : "";
            position: absolute;
            top:30px;
            left    : 0;
            bottom  : 0;
            height  : 1px;
            width   : 50px;  /* or 100px */
            border-bottom:2px solid $accent-color;
          }
        }

        a.order-button{
          float:right;
          margin-right: 25px;
          background: $accent-color;
          color:$white;
          font-size: 14px;
          line-height: 20px;
          padding: 5px 15px;
          border-radius: 10px;

          &:hover{
            background: $accent-color+#111;
          }
        }

        p{
          clear:both;
          font-family: 'Kayak', sans-serif;
          font-size: 14px;
          line-height: 20px;
          padding-right: 50px;
        }

        .confirmation{
          clear:both;
          height: 40px !important;

          .text-overflow{
            display: inline-block;
            width: 35%;
            white-space: nowrap;
            overflow: auto;
            text-overflow:ellipsis;

            &::-webkit-scrollbar{
              display:none;
            }

            p{
              @include typography(14px,40px,$black,'Bariol');
              margin:0 0 0 10px;
            }
          }

          select{
            vertical-align: top;
            width: 20%;
            height: 30px;
            margin:5px 0;
          }
        }
      }
    }

    .confirmation-footer{
      position: relative;
      height: 50px;

      .trademark{
        color:$black;
        padding-left: 25px;

        p{
          display: inline-block;
          margin-right: 10px;
        }

        a{
          display: inline-block;
          width: 200px;
          height: auto;

          img{
            display:inline-block;
          }
        }
      }

      .menu{
        text-align: center;

        ul{
          list-style: none;

          li{
            display: inline-block;
            margin:0 20px;

            a{
              font-family: "Bariol", sans-serif;
              font-size: 14px;
              color:$black;

              &:hover{
                color:$black+#333;
              }
            }
          }
        }
      }
    }

    table.summary{
      text-align: center;
      color:$primary-color;

      tr td:first-child{
        text-align: right;
        width: 40%;
        margin-top: 80px;
      }

      tr td:last-child{
        text-align: left;
        width: 60%;
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .confirmation{
    .confirmation-logo{
      text-align: left;
    }

    .confirmation-content{
      .head{
        text-align: left;

        h1.special{

          &::after{
            content : "";
          }
        }
      }

      .body{
        padding: 0;
      }
    }

    .confirmation-footer{
      position: fixed;
      bottom:0;right:0;left: 0;
      margin:0 25px;

      .menu{
        text-align: right;
      }
    }
  }
} /* min-width 1025px, large screens */
