// Small screens
@media only screen {
  .events{
    .title{
      line-height: 40px;
      color:$handl-light-black;
    }

    p{
      font-size: 16px;
      font-family: 'Kayak', sans-serif;
      letter-spacing: 1px;
      color:$handl-black;
    }

    .add-event-btn{
      height: 40px;
      width:40px;
      text-align:center;
      background: $handl-green;
      border-radius:$border-radius-light;
      margin-left: 20px;

      i{
        color:white;
        line-height: 40px;
        font-size: 18px;
      }

      &:hover{
        background: $handl-green+#111;
      }
    }

    img{
      margin: 10px 0 10px 10px;
      float:left;
      width: 40px;
      height: 40px;
      border-radius:15px;
      background:$primary-color;
    }

    h3{
      text-align: center;
      margin: 10px 0 10px 10px;
      float:left;
      width: 40px;
      display: inline-block;
      font-size: 18px;
      line-height: 40px;
      background:$primary-color;
      color:$white;
      border-radius: 15px;
      padding: 0;
    }
  }

  ul.events.tabs{
    padding:0px 0 10px;
    background: transparent;
    border:none;

    li.tabs-title{
      border:none;
      background: $white;
      border-radius:$border-radius-light;
      margin-right:10px;

      a{
        @include typography(18px,40px,$accent-color,'Bariol');
        padding: 0 30px;
        border-radius:$border-radius-light;

        &:hover{
          background:$accent-color+#111;
          color:$white;
        }
      }
    }

    li.tabs-title.is-active {
      margin-right:10px;

      a{
        border-radius:$border-radius-light;
        background: $accent-color;
        @include typography(18px,40px,$white,'Bariol');
        padding: 0 30px;

        &:hover{
          background:$accent-color+#111;
        }
      }
    }
  }

  .events.tabs-content{
    background: transparent;
    border:none;
  }

  .img-upload{
    margin:auto;
    height: 150px;
    width: 150px;
    background: $white;
    border: 1px solid $white-blue;
    border-radius: 20px;
  }

  #img-plcholder{
    display: block;
    width: 100%;
    height: auto;
    margin:auto;
    border-radius:$border-radius-light;
  }

  #img-plcholder-poster{
    display: block;
    width: 100%;
    height: auto;
    margin:auto;
    border-radius:$border-radius-light;
  }

  .img-helper p{
    font-size: 14px !important;
    line-height: 40px !important;
    font-style: italic;

  }

  .img-uploaded{
    width: 150px;
    height:auto;
  }

  .desc{
    padding-bottom: 35px;
  }

  .img-upload-text{
    font-size: 14px;
    line-height: 20px;
    color: $accent-color;
    width: 100%;
    text-align: center;
  }

  .camera-icon{
    color: $accent-color;
    font-size: 36px;
    padding-top: 35px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .events{
    .title{
      width:600px;
    }
  }
}
