// Small screens
@media only screen {
  .field-name{
    height: 40px;
    font-family: 'Bariol', sans-serif;
    // border-radius: $border-radius-light;
    background: transparent;
    color:$primary-color;
    // border:1px solid $white-blue;
    border-bottom: 1px solid $primary-color;
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px;
    box-shadow: none;
    margin-bottom: 16px;
    cursor:not-allowed;
    opacity:0.7;
  }

  $activeColor: #27ae60;

  /* .slideThree */
  .registration-status {
    width: 150px;
    height: 40px;
    background: $white;
    margin: 0 auto;
    position: relative;
    border:1px solid $white-blue;
    border-radius: 50px;
    // box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

    &:after {
      content: 'CLOSED';
      color: $black;
      position: absolute;
      right: 15px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
      line-height: 40px;
      text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    }

    &:before {
      content: 'OPEN';
      color: $accent-color;
      position: absolute;
      left: 15px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      line-height:40px;
      font-weight: bold;
    }

    label {
      display: block;
      width: 70px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 4px;
      left: 5px;
      z-index: 1;
      background: $black;
      // background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 50px;
      transition: all 0.4s ease;
      // box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
      margin-left:0;
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 75px;
        background: $accent-color;
      }
    }
  }

  .choice{
    width: 50%;

    .button{
      margin: 0px;
    }

  }

  .new_choice{
    p{
      color: red !important;
    }
  }

  /* end .slideThree */
}

@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {

}
