#mobile-view{
  text-align: center;
  position: absolute;
  top:0;right: 0;bottom:0;left:0;
  width: 100%;
  height: auto;
  overflow-y: auto;

  h1{
    font-size: 24px;
    line-height: 30px;
    color: $white;
    margin-bottom:40px;
    padding: 0 10px;
  }

  h4{
    font-family: 'Kayak',sans-serif;
    font-size: 18px;
    line-height: 24px;
    color:$white;
    padding: 0 10px;
    margin-bottom:30px;
  }

  h5{
    font-size: 14px;
    line-height: 18px;
    color:$white
  }

  a.arrow{
    font-size: 36px;
    line-height: 42px;
    color:$white;
  }

  .header.scrolled{
    background: $primary-color;

    .logo{
      margin:10px
    }

    .menu{
      ul{
        li{
          a{
            padding: 0;
          }
        }
      }
    }
  }

  .header{
    background: transparent;
    height: auto;
    width: 100%;
    padding: 0px;

    -webkit-transition:background 0.5s;
    transition: background 0.5s;

    .logo{
      float:left;
      height:40px;
      width: 40px;
      margin: 20px;

      -webkit-transition:margin 0.5s;
      transition: margin 0.5s;

      img{
        height:100%;
        width: auto;
      }
    }

    .menu{
      float:right;
      width: auto;

      ul{
        margin:0;
        list-style: none;
        margin-right: 10px;

        li{
          display: inline-block;
          height: auto;

          a{
            display: inline-block;
            font-size: 18px;
            color:$white;
            line-height: 60px;
            padding: 10px;
            margin:0 10px;

            -webkit-transition:padding 0.5s;
            transition: padding 0.5s;
          }
        }
      }
    }
  }

  #intro{
    position: relative;
    display: block;
    top:0;right:0;bottom:0;left:0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    padding-top:110px;

    a.handl-btn{
      margin-bottom: 10px;
      background:#ED673E;
      border:none;

      &:hover{
        background: #ED673E+#111;
      }
    }
  }

  #why{
    position: relative;
    display: block;
    top:0;right:0;bottom:0;left:0;
    width: 100%;
    height: 100%;
    background: #069088;
    padding-top:90px;

    h1{
        margin-bottom: 20px;
    }

    img{
      width: 70%;
      height:auto;
      margin-bottom:20px;
    }

    h4{
      margin-bottom:10px;
    }
  }

  #how{
    position: relative;
    display: block;
    top:0;right:0;bottom:0;left:0;
    width: 100%;
    height: 100%;
    background: #75CCCC;
    padding-top:90px;

    h1{
      margin-bottom:20px;
    }

    img{
      width: 60%;
      height: auto;
      margin-bottom:20px;
    }

    h4{
      margin-bottom:20px;
    }
  }

  #where{
    position: relative;
    display: block;
    top:0;right:0;bottom:0;left:0;
    width: 100%;
    height: 100%;
    background: #35726F;
    padding-top:90px;

    h1{
      margin-bottom:20px;
    }

    img{
      width: 60%;
      height: auto;
      margin-bottom:20px;
    }

    h4{
      margin-bottom:20px;
    }

    .footer{
      position: absolute;
      bottom:0;right:0;left:0;
      height: 50px;
      text-align: left;

      ul{
        list-style: none;

        li{
            display: inline-block;
            margin:0 15px;

            a{
              color:$white;
            }
        }
      }
    }
  }

}
