// ------------ //
// SMALL SCREEN //
// ------------ //
@media only screen {
  .reveal{
      padding-top:50px;
  }

  .order{
    // -------------------- //
    // ORDER BODY (DEFAULT) //
    // -------------------- //
    position: absolute;
    top:0;right:0px;bottom:0;left:0px;
    overflow-y: auto;
    overflow-x: hidden;
    background:#FAFAFA;
    padding:0 20px;

    // ---------------------- //
    // ORDER HEADER (DEFAULT) //
    // ---------------------- //
    .order-header{
      position: relative;
      top:0;
      height:80px;
      border-bottom:1px solid $handl-light-blue;

      .logo{
        margin:15px 0;
        height:50px; width:50px;

        img{
          width: 100%;
          height: 100%;
          border-radius:$border-radius-light;
        }
      }

      .inline{
        display: inline-block;
      }

      .small{
        margin:20px;
        height:40px;width: 40px;
      }
    }

    // --------------------- //
    // ORDER PANEL (DEFAULT) //
    // --------------------- //
    .order-panel{
      width:100%;
      height:auto;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      margin:30px 0;
      border-radius: $border-radius-light;
      background: white;

      .poster{
        display: inline-block;
        width:100%;
        height: 250px;
        overflow-y: hidden;

        img{
          width:100%;
          height: auto;
          border-top-left-radius: $border-radius-light;
        }
      }

      .info{
        display: inline-block;
        height:auto;
        width:100%;
        overflow-y: hidden;
        padding:20px;
        border-bottom: 1px solid $handl-light-blue;
      }

      .desc{
        display: block;
        width:100%;
        text-align: center;
        padding:0 50px 20px;
      }

      .tickets{
        padding:30px;
      }

      .registration-form{
        padding: 30px;

        .tabs{
          border:none;

          .tabs-title a{
            @include typography(18px,24px,$handl-light-black,'Bariol');
            background: transparent;
            padding:10px 10px 10px 0;
            margin-right: 30px;

            &:hover{
              color:$handl-green+#111;
              border-bottom: 2px solid $handl-green+#111;
            }
          }

          .tabs-title.is-active a{
            color:$handl-blue;
            border-bottom: 2px solid $handl-blue;

            &:hover{
              color:$handl-green+#111;
              border-bottom: 2px solid $handl-green+#111;
            }
          }
        }

        .tabs-content{
          border:none;

          .tabs-panel{
            padding:0;
            margin-top:30px;
          }
        }

      }

      .summary{
        padding:30px;

        .summary-item{
          margin:10px 0;
        }
      }

      .payment-select{
        padding:30px;

        input[type='radio'] {
        	display: none;
        }

        label {
          width:100%;
          height:auto;
        	background: white;
        	border-radius: $border-radius-light;
        	cursor: pointer;
          padding: 20px 20px;
          margin:10px 0 0;
          text-align:left;
          border:1px solid $handl-light-grey;

          &:hover{
            background: #FAFAFA;
            border:1px solid $handl-green;
          }

          .method-logo{
            display: inline-block;
            height:25px;
            vertical-align:top;

            img{
              height:100%;
              width: auto;
            }
          }

          .method-desc{
            display: inline-block;
          }
        }

        input:checked + label {
        	background: $white;
          border-top:2px solid $accent-color;
          border-right:2px solid $accent-color;
          border-left:2px solid $accent-color;
          border-bottom: none;

          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        	margin-bottom: 0;
        }

        article {
        	background: $white;
        	height:0px;
        	overflow:hidden;
        	z-index:10;
          text-align: left;
          padding:0 40px 0;

          ul{
            list-style-image:image-url('list-circle.png');
            @include typography(18px,24px,$black,'Bariol');

            li{
              @include typography(16px,30px,$black,'Kayak');
            }
          }
        }

        input:checked article {

        }

        input:checked ~ article {
          border-bottom:2px solid $accent-color;
          border-right:2px solid $accent-color;
          border-left:2px solid $accent-color;

        	border-bottom-left-radius: $border-radius-light;
        	border-bottom-right-radius: $border-radius-light;
        	height: auto;
        	margin-bottom: 5px;
        }
      }
    }
  }

  .order--full{
    position: absolute;;
    background: $primary-color;
    text-align: center;
    width:100%;
    height: auto;

    .order-full-logo{
      position: relative;
      text-align: center;
      height: 75px;
      margin: 25px auto 10px;

      img{
        display: block;
        height: 100%;
        width:auto;
        margin:auto;
        border-radius: $border-radius-light;
      }
    }

    h4{
      @include typography(24px,28px,$black,'Bariol');
    }

    ul.step{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: transparent;
      list-style: none;
      margin:30px 0 20px;

      li.step-list.active{
        background: $accent-color;
        color:$white;

        &::after {
          background-color: transparent;
          right: -1.15em;
          border-bottom: 1.4em solid transparent;
          border-left: 1.25em solid $accent-color;
          border-top: 1.4em solid transparent;
        }

        &:first-child{
          border-radius: $border-radius-light 0 0 $border-radius-light;
        }

        &:last-child{
          border-radius: 0 $border-radius-light $border-radius-light 0;

          &:after{
            display: none;
          }
        }
      }

      li.step-list{
        position: relative;
        width:25%;
        background: $white;
        @include typography(16px,22px,$black,'Bariol');

        &::after {
          display: block;
          position: absolute;
          z-index: 2;
          content: "";
          top: 0px;
          right: -1.4em;
          background-color: transparent;
          border-bottom: 1.4em solid transparent;
          border-left: 1.4em solid $white;
          border-top: 1.4em solid transparent;
          width: 0px;
          height: 0px;
          transform: none;
        }

        &:first-child{
          border-radius: $border-radius-light 0 0 $border-radius-light;
        }

        &:last-child{
          border-radius: 0 $border-radius-light $border-radius-light 0;

          &:after{
            display: none;
          }
        }
      }
    }



    h4{
      @include typography(36px,42px,$white,'Bariol');
      margin-top: 100px;
      margin-bottom: 25px;
    }

    h5{
      @include typography(18px,24px,$white,'Bariol');
      padding: 0 30px;

      a{
        @include typography(18px,24px,$white,'Bariol');
        font-weight: bold;
        text-decoration:underline;

        &:hover{
          color:$accent-color;
        }
      }
    }
  }
}

// ------------- //
// MEDIUM SCREEN //
// ------------- //
@media only screen and (min-width: 40.063em) {
  .order{
    .order-panel{
      .poster{
        width:50%;
      }

      .info{
        width:49%;
        height:250px;
      }
    }
  }

} /* min-width 641px, medium screens */


// ------------ //
// LARGE SCREEN //
// ------------ //
@media only screen and (min-width: 64.063em) {
  .order{

  }
} /* min-width 1025px, large screens */
