// Small screens
@media only screen {
  .overview{
    .panel{
      display: block;
      width:100%;
      height:100px;
      border:1px solid $handl-light-blue;
      text-align: center;
      padding: 20px;

      -webkit-transition:box-shadow 0.5s;
      transition: box-shadow 0.5s;

      &:hover{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */
