@import "../helpers/color";
@import "../helpers/variables";

.login {
  position: fixed;
  top:0;right:0;bottom:0;left:0;
  padding: 10px;

  background: $primary-color;
  // background: -webkit-linear-gradient(right, $accent-color, $primary-color);
  // background: -o-linear-gradient(right, $accent-color, $primary-color);
  // background: -moz-linear-gradient(right, $accent-color, $primary-color);
  // background: linear-gradient(to right, $accent-color, $primary-color);
  color: $white;

  overflow-y: auto;

  .logo {
    display: block;
    height: 75px;
    width:auto;
    margin: 25px auto 10px;
  }

  .with-google{
    display: block;
    @include typography(14px,40px,$white,'Bariol');
    background: #4285F4;
    text-align: center;
    border-radius: $border-radius-light;
    margin-bottom: 15px;

    -webkit-transition: background 0.25s;
    transition: background 0.25s;

    i{
      margin-right:15px;
    }

    &:hover{
      background: #4285F4 + #111;
      color: $white;
    }
  }

  .small-label{
    font-size: 14px;
  }

  .link{
      @include typography(14px,20px,$accent-color,'Bariol');
      margin: 10px 0;

      &:hover{
        color:$accent-color + #333;
      }
  }

  .link-float-right{
    float:right;
    @include typography(14px,20px,$accent-color,'Bariol');
    margin-top: 4px;

    &:hover{
      color:$accent-color + #333;
    }
  }

  p.footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    @include typography(18px,24px,$white,'Bariol');

    a{
      @include typography(18px,24px,$white,'Bariol');
      font-weight: bold;
      text-decoration:underline;
    }
  }
}
