// Small screens
@media only screen {
  .tasks{
    .task-card{
      position: relative;
      width:100%;
      height:auto;

      .task-card__body{
        position: relative;
        display: inline-block;
        height: 100px;
        width: 100%;
        background: $transparent-white;
        border-top-left-radius: $border-radius-light;
        border-top-right-radius: $border-radius-light;

        padding: 20px;
        margin:5px 0 0px;

        -webkit-transition: background 0.25s;
        transition: background 0.25s;

        &:hover{
          background: $white;
        }

        h2{
          @include typography(18px,24px,$black,'Bariol');
          margin:0;
        }

        h4{
          @include typography(14px,20px,#777777,'Bariol');
          font-style: italic;
        }

        .people{
          position: absolute;
          bottom: 10px;
          right:20px;
          @include typography(14px,20px,$black,'Bariol');
        }

        .logo{
          position: absolute;
          bottom: 20px;
          right:20px;
          width:40px;
          height:40px;
          background: $light-primary-color;
          border-radius: $border-radius-light;
          text-align:center;

          img{
            height: 100%;
            width:100%;
            border-radius: $border-radius-light;
          }

          h3{
            @include typography(20px,40px,$black,'Bariol');
            font-weight: bold;
          }

          .avatar-circle{
            height:40px;
            padding: 0;

            span.initials{
              display: block;
              height: 100%;
              width: 100%;
              padding: 0;
              @include typography(20px,40px,$black,'Bariol');
              font-weight: bold;
            }
          }
        }
      }

      .task-card__footer{
        display: inline-block;
        height: 50px;
        width: 100%;
        background: $white;
        border-bottom-left-radius: $border-radius-light;
        border-bottom-right-radius: $border-radius-light;
        padding: 15px;
        margin:0px 0 10px;

        a{
          float:right;
          font-size: 14px;
          line-height: 20px;
          color:$accent-color;
          font-family: 'Kayak';
          text-decoration: underline;
          margin: 0 10px;

          &:hover{
            color:$accent-color+#333;
          }
        }
      }

    }

    .task-card-add{
      background: $transparent-accent-light;
      color: $white;
      text-align: center;

      i{
        display: block;
        font-size: 36px;
        line-height: 36px;
      }

      h2{
        display:block;
        @include typography(18px,24px,$white,'Bariol');
      }

      &:hover{
        background: $accent-color;

        i{
          color: $white;
        }
      }
    }
  }

  .text-overflow{
    display: block;
    width: 100%;
    float:left;
    white-space: nowrap;
    overflow: auto;
    text-overflow:ellipsis;

    &::-webkit-scrollbar{
      display:none;
    }
  }

}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */

.task-form{
  width: 100%;
  height: auto;
  background:$white;
  margin:2px 0;
  padding: 20px;
}

.task-avatar{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border:1px solid $primary-color;
  margin-right: 10px;
}

.task-username{
  display: inline-block;
  margin:5px 0 20px;
  text-align: center;
  position: relative;
  @include typography(20px,26px,$primary-color,'Bariol');
}

.task__item{
  width: 100%;
  background:$white;
  height: 75px;
  margin:2px 0;
  border:1px solid $light-primary-color;

  .due-date{
    display: inline-block;
    float:left;
    width: 75px;
    margin-left: 5px;
    padding:15px 2px 0;
    text-align: center;
    position: relative;

    h1{
      @include typography(14px, 20px,$primary-color,"Bariol");
      margin:15px 0 0 0;
      padding: 5px;
      text-align: center;
      position: absolute;
      font-size: 20px;
      line-height: 15px;
    }

    &::after{
      content : "";
      position: absolute;
      top    : 15px;
      right  : -10px;
      height  : 45px;
      width   : 1px;  /* or 100px */
      border-right:1px solid $primary-color;;
    }
  }
}

.content-2{
  display: inline-block;
  float:center;
  text-align: center;

  h1{
    @include typography(20px, 26px,$primary-color,"Bariol");
    margin:5px 0 0 0;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
  }

  h2{
    @include typography(12px, 18px,$primary-color,"Bariol");
    margin-top: 15px;
    font-size: 35px;
  }

  .assignment {
    @include typography(12px, 18px,$primary-color,"Bariol");
    margin-top: 50px;
    margin-left: 5px;
    text-align: center;
    font-family: 'Bariol';
  }
}
