@media only screen {
  .home-about{
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    background:$grey;
    text-align: center;
    overflow-y: auto;
    padding-top: 75px;
    z-index: 50;

    h1.special{
      text-align: left;
      font-size: 2.441rem;
      margin-top:50px;
      margin-bottom: 30px;

      &::after{
        content : "";
        position: absolute;
        top     : 55px;
        left    : 5px;
        bottom  : 0;
        height  : 1px;
        width   : 50px;  /* or 100px */
        border-bottom:2px solid $accent-color;
      }
    }

    p{
      text-align: left;
      margin:10px 0;
      font-family: 'Kayak',sans-serif;
      color:$black;
    }

    .team-member{
      position: relative;
      text-align: left;
      width: 100%;
      height: auto;
      background:$white;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: $border-radius-heavy;
      box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);

      .avatar{
        position: relative;
        width:100%;
        height: auto;
        display: inline-block;
        margin-right: 20px;
        margin:auto;

        img{
          height: 100%;
          width: 100%;
          border-radius: $border-radius-light;
          // border:1px solid $primary-color;
        }
      }

      .description{
        display: inline-block;
        height: 100px;
        width:100%;
        padding: 14px 0;

        h2{
          font-size: 1.563rem;
          line-height: 1.2;
          margin:0;
        }

        h3{
          font-size: 1.25em;
          margin:0;
        }

        p{
          text-align: left;
          margin:10px 0;
          color:$black;
        }

        .social-media{
          position: relative;
          right:auto; top:auto;
          padding-top: 10px;

          a{
            color:$accent-color;
            margin:0 10px 0 0;

            &:hover{
              color:$accent-color+#333;
            }
          }
        }
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .home-about{
      .team-member{
        .description{
          .social-media{
            position: absolute;
            right:20px; top:20px;

            a{
              margin:0 10px;

            }
          }
        }
      }
  }
}
