@media only screen {
  .home-feature{
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    background:$grey;
    text-align: center;
    overflow-y: auto;
    margin-top: 75px;
    z-index: 50;

    .with-underline{
      border-bottom:2px solid $accent-color;
      margin: 15px 15px;
    }

    .section-1{
      position: relative;
      top:0;right:0;left:0;bottom:0;
      background: $white;
      height:100%;
      padding-top:25px;
      overflow-y: hidden;
      overflow-x: hidden;

      h1{
        @include typography(36px,50px, $black,'Bariol') ;
        margin:25px;
      }

      p{
        @include typography(16px,22px, $black,'Kayak') ;
        margin:0;
      }

      img{
        position: relative;
        margin-top:50px;
        border-radius: $border-radius-heavy;
        width:100%;
      }
    }

    .section-2{
      position: relative;
      background:$accent-color;
      height:auto;
      box-shadow:0 0 50px 25px rgba(0,0,0,0.25);
      padding:100px 0;
      text-align:left;
      overflow-y: hidden;
      overflow-x: hidden;

      img.bubbles{
        display:none;
        position: absolute;
        top:50px;
        left:-100px;
        height:300px;
        width:auto;
      }

      h1{
        @include typography(36px,50px, $white,'Bariol') ;
      }

      p{
        @include typography(16px,22px, $white,'Kayak') ;
        margin:0;
      }

      img.screenshoot{
        position:relative;
        top:25px;
        right:auto;left:0px;
        width:100%;
        border-radius: $border-radius-heavy;
      }
    }

    .section-3{
      position: relative;
      text-align:right;
      width:100%;
      height:650px;
      padding:125px 0;
      overflow-y: hidden;
      overflow-x: hidden;

      img{
        position: absolute;
        left:10px;bottom:100px;
        width:95%;
        height: auto;
        border-radius: $border-radius-heavy;
      }

      h1{
        @include typography(36px,50px, $black,'Bariol') ;
      }

      p{
        clear:both;
        @include typography(16px,22px, $black,'Kayak') ;
        margin:0;
      }
    }

    .section-4{
      position: relative;
      background:$primary-color;
      height:750px;
      box-shadow:0 0 50px 25px rgba(0,0,0,0.25);
      padding:50px 0 75px;
      text-align:left;
      overflow-y: hidden;
      overflow-x: hidden;

      img.screenshoot{
        position: absolute;
        width:100%;
        bottom:50px;
        left:10px;
      }

      p{
        @include typography(16px,22px, $white,'Kayak') ;
        margin:0;
        margin-left:100px;
      }

      img.blastoff{
        position: relative;
      }
    }

    .section-5{
      position: relative;
      text-align:right;
      width:100%;
      height:650px;
      padding:125px 0;
      overflow-y: hidden;
      overflow-x: hidden;

      img{
        position: absolute;
        left:10px; bottom:75px;
        width:95%;
        height: auto;
        border-radius: $border-radius-heavy;
      }

      h1{
        @include typography(36px,50px, $black,'Bariol') ;
      }

      p{
        clear:both;
        @include typography(16px,22px, $black,'Kayak') ;
        margin:0;
      }
    }

    .section-6{
      position: relative;
      background: image-url('home-features/participant-bg.jpeg') no-repeat center center fixed;
      height:700px;
      box-shadow:0 0 50px 25px rgba(0,0,0,0.25);
      text-align:left;
      overflow-y: hidden;
      overflow-x: hidden;

      padding:100px 0;

      h1{
        @include typography(36px,50px, $black,'Bariol') ;
      }

      p{
        @include typography(16px,22px, $black,'Kayak') ;
        margin:0;
      }

      img{
        position:absolute;
        bottom:75px;
        right:auto;
        left:10px;
        width:95%;
        border-radius: $border-radius-heavy;
      }

    }

    .section-7{
      position: relative;
      height:auto;
      text-align: center;
      padding-top: 100px;
      margin-bottom:10px;

      .screenshoot{
        position: relative;
        height:200px;
        overflow-y: hidden;

        img{
          position: absolute;
          left:0;
          border-radius: $border-radius-heavy;
        }
      }

      h1{
        @include typography(36px,50px, $black,'Bariol') ;
        margin:25px 0 0;
      }

      p{
        @include typography(16px,22px, $black,'Kayak') ;
        margin:0;
      }

      .free-section{
        margin-top: 75px;
        float:left;
        display: inline-block;
        width:100%;
        background: $primary-color;
        padding:25px 25px 50px;

        h1,p{
          color:$white;
        }
      }

      .paid-section{
        margin-top: 0px;
        clear: both;
        display: inline-block;
        width:100%;
        background: $accent-color;
        padding:25px 25px 50px;

        h1,p{
          color:$white;
        }

        a{
          color:$white;
          text-decoration: underline;
          font-weight: bold;

          &:hover{
            color: $white-d;
          }
        }
      }
    }

    .section-8{
      position: relative;
      height:auto;
      text-align: center;
      padding-top: 50px;
      margin-bottom:10px;

      .logo{
        height: 150px;
        width: 150px;
        border-radius: 100%;
        margin:0 auto 25px;
        background: $white-e;

        img{
          height: 70px;
          width: 70px;
          margin-top: 40px;
        }
      }

      h3{
        font-family: 'Bariol', sans-serif;
        font-size:16px;
        font-weight: bold;
        margin:0;
      }

      p{
        font-size: 16px;
        line-height: 22px;
        font-family: 'Kayak',sans-serif;
        margin-bottom:25px;
      }
    }

    .footer{
      height: 75px;
      background: transparent;
      width: 100%;
      text-align: left;

      ul{
        list-style: none;
        position: relative;
        margin:20px;

        li{
          display: block;
          margin: 10px 20px;

          a{
            font-family: "Bariol", sans-serif;
            font-size: 18px;
            color:$accent-color;

            &:hover{
              color:$accent-color+#333;;
            }
          }
        }
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .home-feature{
    margin-top: 75px;
    z-index: 50;

    .section-2{
      height:400px;

      img.bubbles{
          display:block;
      }

      img.screenshoot{
        position:absolute;
        top:100px;
        right:-400px;left:auto;
        width:75%;
        border-radius: $border-radius-heavy;
      }
    }

    .section-3{
      height:400px;

      img{
        position: absolute;
        left:-400px; top:50px;
        width:75%;
        height: auto;
        border-radius: $border-radius-heavy;
      }
    }

    .section-4{
      height:auto;

      img.screenshoot{
        position: absolute;
        width:40%;
        top:50px;
        left:50px;
      }

      img.blastoff{
        position: relative;
      }
    }

    .section-5{
      height:400px;

      img{
        position: absolute;
        left:-100px; top:50px;
        width:50%;
        height: auto;
        border-radius: $border-radius-heavy;
      }
    }

    .section-6{
      height:400px;

      img{
        position:absolute;
        top:100px;
        left:auto;
        right:50px;
        width:40%;
        border-radius: $border-radius-heavy;
      }
    }

    .section-7{

      .screenshoot{
        height:450px;
        overflow-y: hidden;
      }

      .free-section{
          width:50%;
      }

      .paid-section{
        width:50%;
        margin-top: 75px;
      }
    }

  }
} /* min-width 1025px, large screens */
