.landing-page-loader{
  position: absolute;
  top:0;right:0;left:0;bottom:0;
  background: $primary-color;
  text-align: center;

  .middle-aligned{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .logo{
      width:100px;
      height:100px;
      margin:auto;
    }
  }

  .spinner,
  .spinner:before,
  .spinner:after {
    background: #fcfffd;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1.5em;
    height: 3em;
  }

  .spinner {
    color: #fcfffd;
    text-indent: -9999em;
    margin: 40px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .spinner:before,
  .spinner:after {
    position: absolute;
    top: 0;
    content: '';
  }

  .spinner:before {
    left: -2em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner:after {
    left: 2em;
  }

  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 3em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }

  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 3em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
}

/* ------------------------- */
/*|                         |*/
/*|      Small screens      |*/
/*|                         |*/
/* ------------------------- */
@media only screen {
  .landing-page-overlay{
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    z-index:101;
    background:$black;
    display:none;
    opacity: 0;
  }

  .landing-page-overlay.shown{
    opacity: 0.75;
    display: block;
  }

  .landing-page{
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 50;

    #home{
      position: relative;
      top:0;right:0;left:0;bottom:0;
      height:100%;
      width:100%;
      color: #ffffff;
      padding:125px 20px 0 10px;

      background: image-url('home/bg-home.jpg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .overlay{
        position: absolute;
        top:0;right:0;bottom:0;left:0;
        z-index:6;

        background-image: linear-gradient(to bottom, rgba(27, 119, 142, 0.9), rgba(0, 157, 141, 0.9));
      }

      h1{
        position: relative;
        @include typography(48px,54px,$white,'Bariol');
        z-index: 10;
        margin-bottom: 10px;
      }

      p{
        position: relative;
        @include typography(24px,30px,$white,'Kayak');
        z-index: 10;
      }

      span{
        color:$light-primary-color;
        font-weight: bold;
      }
    }

    #features{
      position: relative;
      top:0;right:0;left:0;bottom:0;
      height:auto;
      width:100%;
      background: #ffffff;
      text-align:left;
      padding: 50px 10px 40px 20px;

      img{
        width:20%;
        height:auto;float:left;
        margin:0 20px 70px;
      }

      h1{
        position: relative;
        @include typography(48px,54px,$primary-color,'Bariol');
        z-index: 10;
        margin-bottom: 10px;
      }

      h2{
        position: relative;
        @include typography(24px,30px,$black,'Bariol');
        z-index: 10;
        margin-bottom:40px;
      }

      h3{
        display: inline-block;
        width:60%;
        position: relative;
        @include typography(24px,30px,$primary-color,'Bariol');
        z-index: 10;
        float:left;
      }

      p{
        display: inline-block;
        width:60%;
        position: relative;
        @include typography(16px,20px,$black,'Kayak');
        z-index: 10;
        float:left;
        margin-bottom: 50px;
      }

      span{
        color:$light-primary-color;
        font-weight: bold;
      }
    }

    #pricing{
      position: relative;
      top:0;right:0;left:0;bottom:0;
      height:auto;
      width:100%;
      background: #fafafa;
      text-align:center;
      padding: 50px 10px 40px 20px;

      h1{
        position: relative;
        @include typography(48px,54px,$primary-color,'Bariol');
        z-index: 10;
        margin-bottom: 10px;
      }

      h2{
        position: relative;
        @include typography(24px,30px,$black,'Bariol');
        z-index: 10;
        margin-bottom:40px;
      }

      .pricing-container{
        width:100%;
        height: auto;
        padding:0 0px 50px;

        .pricing-box{
          width:100%;
          height: auto;
          border-radius: $border-radius-heavy;
          box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
          text-align:center;
          padding: 30px 10px;

          h3{
            @include typography(24px,30px,$black,'Bariol');
          }

          h4{
            @include typography(18px,24px,$primary-color,'Bariol');
            margin-bottom:20px;

            span{
              @include typography(64px,75px,$primary-color,'Bariol');
            }
          }

          p{
            @include typography(16px,20px,$black,'Kayak');

          }
        }
      }
    }

    #sign{
      background-image: linear-gradient(to right, #009d8e, #1c788e);
      position: relative;
      top:0;right:0;left:0;bottom:0;
      height:auto;
      width:100%;
      text-align:left;
      padding: 100px 10px 40px 20px;

      h1{
        @include typography(48px,54px,$white,'Bariol');
        margin-bottom: 10px;
      }

      h2{
        @include typography(24px,30px,$white,'Kayak');
      	font-style: italic;
        margin-bottom: 10px;
      }

      h3{
        @include typography(24px,30px,$white,'Bariol');
        margin-bottom: 10px;
      }
    }
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* ------------------------- */
/*|                         |*/
/*|      Medium screens     |*/
/*|                         |*/
/* ------------------------- */
@media only screen and (min-width: 40.063em) {
  .landing-page{

    #home{
      padding:300px 20px 0 10px;
    }

    #features{
      padding: 100px 0 40px;
    }

    #sign{
      padding: 100px 0 40px;
    }
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* ------------------------- */
/*|                         |*/
/*|      Large screens      |*/
/*|                         |*/
/* ------------------------- */
@media only screen and (min-width: 64.063em) {
  .landing-page{
    #pricing{
      .pricing-container{
        padding:0 25px 50px;

        .pricing-box{
          padding: 30px 20px;
        }
      }
    }
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* ------------------------- */
/*|                         |*/
/*|     XLarge screens      |*/
/*|                         |*/
/* ------------------------- */
@media only screen and (min-width: 90.063em) {

} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* ------------------------- */
/*|                         |*/
/*|     XXLarge screens     |*/
/*|                         |*/
/* ------------------------- */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
