// Small screens
@media only screen {
  .legal{
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    background:$white;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 75px;
    z-index: 50;

    h1,h2,h3,h4,p{
      text-align: left;
    }

    h1.special{
      font-size: 2.441rem;
      margin-top:50px;
      margin-bottom: 30px;

      &::after{
        content : "";
        position: absolute;
        top     : 55px;
        left    : 5px;
        bottom  : 0;
        height  : 1px;
        width   : 50px;  /* or 100px */
        border-bottom:2px solid $accent-color;
      }
    }

    h2{
      font-size: 1.953rem;
      line-height: 1.2;
      margin-top:25px;
    }

    h3{
      font-size: 1.563rem;
      margin-top:25px;
    }

    h4{
      font-size: 1.25em;
    }

    a{
      display:inline-block;
        color:$accent-color;

        &:hover{
          color:$accent-color+#333;
        }
    }

    p{
      line-height: 1.45;
      text-align: justify;
      margin:10px 0;
      color:$black;
    }


    .footer{
      clear:both;
      height: 75px;
      background: transparent;
      width: 100%;
      text-align: left;

      ul{
        list-style: none;
        position: relative;

        li{
          display: block;
          margin:20px 0;

          a{
            font-family: "Bariol", sans-serif;
            font-size: 18px;
            color:$accent-color;

            &:hover{
              color:$accent-color+#333;;
            }
          }
        }
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {}
