@media only screen {
  .pricing{
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    background:$grey;
    text-align: center;
    overflow-y: auto;
    padding-top: 150px;
    z-index: 50;

    h1{
      position: relative;
      @include typography(48px,54px,$primary-color,'Bariol');
      z-index: 10;
      margin-bottom: 10px;
    }

    h2{
      position: relative;
      @include typography(24px,30px,$black,'Bariol');
      z-index: 10;
      margin-bottom:20px;
    }

    h3{
      position: relative;
      @include typography(18px,24px,$black,'Bariol');
      z-index: 10;
      margin-bottom:10px;

      span{
        @include typography(48px,54px,$primary-color,'Bariol');
      }
    }

    h4{
      position: relative;
      @include typography(18px,24px,$black,'Bariol');
      z-index: 10;
      margin-bottom:10px;

      span{
        @include typography(48px,40px,$primary-color,'Bariol');
      }
    }

    p{
      position: relative;
      @include typography(16px,22px,$black,'Kayak');
      z-index: 10;
      margin-bottom:10px;
    }

    .pricing-panel{
      width:100%;
      height: auto;
      box-shadow:0px 5px 25px rgba(0,0,0,0.1);
      border-radius: $border-radius-heavy;
      margin-bottom: 50px;
      padding:50px 30px;

      h2{
        margin-bottom: 10px;
      }

      ul{
        list-style-image:image-url('list-circle.png');
        text-align: left;

        li{
          @include typography(16px,22px,$black,'Kayak');
          margin-bottom:15px;
          font-weight: lighter;
        }
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .pricing{
    .pricing-panel{
      height:600px;
    }
  }
}
