// Small screens
@media only screen {
  .static-header.transparent{
    background: transparent;
    box-shadow: none;
    height:105px;

    .top-bar-title{
      height: 45px;
      margin: 30px 0;
      margin-left: 35px;

      img{
        height: 40px;
        width: auto;
      }
    }

    .top-bar-right{
      margin:30px 0;

      ul{
        // background: $accent-color;

        li{
          a{
            color:$white;

            &:hover{
              color:$white-d;
            }
          }
        }
      }
    }

    span{
      a{
        color:$white;
        margin: 10px 30px 10px 0;

        &:hover{
          color:$white-d;
        }
      }
    }
  }

  .static-header{
    position: fixed;
    width: 100%;
    height: 75px;
    background: $primary-color;
    padding: 0;
    z-index: 100;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,0.5);

    -webkit-transition: background 0.5s, height 0.5s;
    transition: background 0.5s, height 0.5s;

    .top-bar-title{
      height: 30px;
      margin: 15px 0;
      margin-left: 35px;

      -webkit-transition: margin 0.5s;
      transition: margin 0.5s;

      img{
        height: 40px;
        width: auto;
      }
    }

    .top-bar-right{
      background: transparent;
      margin: 15px 0;
      height: 45px;

      -webkit-transition: margin 0.5s;
      transition: margin 0.5s;

      ul{
        background: $light-primary-color;
        border:1px solid $accent-color;
        border-radius: 25px;
        margin:0 30px 0;

        li{
          a{
            padding: 0 30px;
            line-height: 45px;
            font-size:20px;
            color:$white;
            font-weight: 300;

            &:hover{
              color:$accent-color;
            }
          }
        }

        li:last-child{
          a{
            border: 1px solid $white;
            border-radius:1px;

            &:hover{
              background: $white;
              color:$accent-color;
            }
          }
        }
      }
    }

    span{
      margin:0;
      height: 100%;
      width: auto;

      a{
        font-size: 32px;
        color:$white;
        line-height: 75px;
        margin-right: 30px;

        -webkit-transition: margin 0.5s;
        transition: margin 0.5s;

        &:hover{
          color:$accent-color;
        }
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) {
  .static-header{
    .top-bar-right{
      ul{
        background: transparent;
        border:none;
      }
    }
  }
} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .static-header.scrolled{

    .top-bar-right{
      ul{
        background: transparent;
      }
    }
  }

  .static-header{
    .top-bar-right{
      ul{
        background: transparent;
        border:none;
      }
    }
  }
}
