// Small screens
@media only screen {
  .static-footer{
    // margin-top:50px;
    padding: 40px 10px 20px;
    position: absolute;
    width:100%;
    background: $dark-primary-color;
    height:auto;
    text-align: left;

    .logo{
      display:inline-block;
      float: left;
      height: 100px;
      width:100px;
      background: $accent-color;
      border-radius:$border-radius-heavy;
      margin:0 20px 20px;

      img{
        width:60px;
        height:60px;
        margin:20px;
      }
    }

    .logo-desc{
      display: inline-block;
      height: 100px;
      width:250px;
      margin-left: 20px;
      margin-top:0px;
      vertical-align: middle;

      font-family: 'Bariol', monospace;
      font-size: 16px;
      line-height: 22px;
      color:$white-blue;
    }

    ul{
      font-family: 'Bariol', monospace;
      font-size:20px;
      font-weight: bold;
      color:$white-blue;

      li{
        list-style: none;
        font-family: 'Bariol', monospace;
        font-size:16px;
        font-weight: normal;

        a{
          color:$white;

          &:hover{
            color:$accent-color;
          }
        }
      }
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) {} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .static-footer{

    .logo{
    }
  }
}
