<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', object: @user %>

  <%= f.label :fullname %>
  <%= f.text_field :fullname %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "Save / Update", class: "button success" %>
<% end %>
