  <% if edit %>
    <%= form_for @attendee, url: event_attendee_path(event_slug: params[:event_slug]), method: :patch do |f| %>
    <%= render "shared/errors", object: @attendee %>
    <%= f.hidden_field :event_id %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :company %>
      <%= f.text_field :company %>
    </div>

    <div>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div>
      <%= f.label :ticket_category %>
      <%= f.select(
          :ticket_category_id,
          options_from_collection_for_select(
            TicketCategory.where(event_id: @attendee.event_id),
            :id,
            :category_name,
            @attendee.ticket_category_id
          ),
          {
            include_blank: "Please select one"
          }
      ) %>
    </div>

    <% if event.form_custom_fields.present? %>
      <% event.form_custom_fields.each do |field| %>
        <%= f.fields_for :attendee_custom_infos, @attendee.attendee_custom_infos.find_by(form_custom_field_id: field.id) do |custom_infos| %>
        <%= custom_infos.hidden_field :field_name, value: field.name %>
        <%= custom_infos.hidden_field :form_custom_field_id, value: field.id %>
        <% if field.name %>
          <%= custom_infos.label field.name %>
        <% else %>
          <%= custom_infos.label "unnamed field" %>
        <% end %>
        <% if field.short_input_text? %>
          <%= custom_infos.text_field :value %>
        <% elsif field.paragraph? %>
          <%= custom_infos.text_area :value %>
        <% elsif field.file_upload? %>
          <%= custom_infos.file_field :attachment %>
        <% elsif field.multiple_choice? %>
          <% field.choices.each do |choice| %>
            <%= custom_infos.radio_button :value, choice.id %>
            <%= custom_infos.label choice.choice_name %>
          <% end %>
        <% elsif field.dropdown? %>
          <%= custom_infos.select(
              :value,
              options_for_select(
                field.choices.pluck('choice_name')
              )
          ) %>
        <% end %>
      <% end %>
      <% end %>
    <% end %>

    <%= f.submit class: "button button--full button--margin" %>

  <% end %>
  <% else %>
    <%= form_for @attendee, url: event_attendees_path(event_slug: params[:event_slug]), method: :post do |f| %>
    <%= render "shared/errors", object: @attendee %>
    <%= f.hidden_field :event_id, value: event.id %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :company %>
      <%= f.text_field :company %>
    </div>

    <div>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div>
      <%= f.label :ticket_category %>
      <%= f.select(
          :ticket_category_id,
          options_from_collection_for_select(
            TicketCategory.where(event_id: @event.id),
            :id,
            :category_name,
            @attendee.ticket_category_id
          ),
          {
            include_blank: "Please select one"
          }
      ) %>
    </div>

    <% if event.form_custom_fields.present? %>
      <% event.form_custom_fields.each do |field| %>
        <%= f.fields_for :attendee_custom_infos, AttendeeCustomInfo.new do |custom_infos| %>
          <%= custom_infos.hidden_field :field_name, value: field.name %>
          <%= custom_infos.hidden_field :form_custom_field_id, value: field.id %>
          <% if field.name && field.name != "" %>
            <%= field.name %>
          <% else %>
            <%= custom_infos.label "unnamed field" %>
          <% end %>
          <% if field.short_input_text? %>
            <%= custom_infos.text_field :value %>
          <% elsif field.paragraph? %>
            <%= custom_infos.text_area :value %>
          <% elsif field.file_upload? %>
            <%= custom_infos.file_field :attachment %>
          <% elsif field.multiple_choice? %>
            <% field.choices.each do |choice| %>
              <div>
                <%= custom_infos.radio_button :value, choice.id %>
                <% if choice.choice_name && choice.choice_name != "" %>
                  <%= choice.choice_name %>
                <% else %>
                  Unnamed choice
                <% end %>
              </div>
            <% end %>
          <% elsif field.dropdown? %>
            <%= custom_infos.select(
                :value,
                options_for_select(
                  field.choices.pluck('choice_name')
                )
            ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.submit class: "button button--full button--margin" %>

  <% end %>
  <% end %>
