<%= provide :page_title, 'Your Participants' %>

<div class="row">
  <div class="small-12 large-12 columns no-padding">
    <h2>Here’s the list of your guests. They’ve commited to your event. Treat them nicely ;)</h2>
  </div>

</div>

<div class="full reveal fast" id="newAttendee" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="row">
    <div class="large-6 large-centered columns">
      <h1>Add new participant</h1>
      <p>You can add participant manually if he / she registered directly to you. We <strong>do not</strong> charge you with our service fee if registration is done offline. You can still check the full report in our <%= link_to 'cashflow page', event_cashflows_path(@event), class: activate_menu(controller: 'events/cashflows', action: 'index') %></p>

      <%= render 'form', edit: false, event: @event %>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row">
  <div class="large-12 columns table" id="attendee">
    <div class="table__header">
      <div class="row">
        <div class="large-4 columns">
          <div class="search-bar">
            <input class="search" placeholder="Search a participant" />
            <%= icon('search')%>
          </div>
        </div>

        <div class="large-8 columns">
          <a class="button button--inline float-right" data-open="newAttendee"><%= icon('plus') %></a>

          <button class="button button--inline float-right" id="button-delete" data-event-id="<%= @event.id%>" type="button">
            <%= icon('trash-o') %>
          </button>
          <button class="button button--inline float-right" id="button-detail" type="button">
            Show Detail
          </button>

          <%= link_to 'download', event_attendees_path(format: 'xls'), class: "button button--inline float-right" %>

        </div>
      </div>
    </div>

    <div class="table__wrapper">
      <div class="unstriped">
        <div id="users">
          <table id="table-information">
            <thead>
              <tr>
                <th>
                  <%= check_box_tag "", "", false, class: "cb-all" %>
                </th>
                <th class="sort" data-sort="name">Name</th>
                <th class="additional-info">Email Address</th>
                <th class="additional-info">Institution</th>
                <th class="additional-info">Phone</th>
                <th class="sort" data-sort="ticket">Ticket Class</th>
                <th class="sort" data-sort="attendance">Attendance</th>
                <th class="sort" data-sort="payment-status">Payment Status</th>

                <% @event.form_custom_fields.each  do |custom_field| %>
                  <th class="additional-info">
                    <% if custom_field.name %>
                      <%= custom_field.name %>
                    <% else %>
                      Unnamed Field
                    <% end %>
                  </th>
                <% end %>

                <th>Action</th>
              </tr>
            </thead>

            <tbody class="list attendee">
              <% @attendees.each do |attendee| %>

              <tr>
                <td>
                  <%= check_box_tag attendee.id.to_s, attendee.id.to_s, false, class: "cb-attendee" %>
                </td>

                <td class="name"><%= attendee.name %></td>
                <td class="additional-info"><%= attendee.email %></td>
                <td class="additional-info"><%= attendee.company %></td>
                <td class="additional-info"><%= attendee.phone %></td>
                <td class="ticket"><%= attendee.ticket_category.category_name %></td>

                <td class="attendance">
                  <% if @event.start_at.to_date == Date.today && !attendee.attended? %>
                    <%= link_to 'Check in', event_attendee_attend_path(attendee_id: attendee.id, event_slug: @event.slug) %>
                  <% elsif attendee.unconfirmed? %>
                    <%= link_to 'send confirmation', event_attendee_send_manual_confirmation_path(attendee_id: attendee.id), method: :post, remote: true, class: "attendance_confirmation", data: { uid: attendee.id } %>
                  <% else %>
                    <%= attendee.status.humanize %>
                  <% end %>
                </td>

                <td class="payment-status">
                  <% if attendee.order %>
                    <%= attendee.order.status.try(:humanize) %>
                  <% else %>
                    offline registration
                  <% end %>
                </td>

                <% attendee.event.form_custom_fields.each  do |custom_field| %>
                  <% custom_info = attendee.attendee_custom_infos.find_by form_custom_field_id: custom_field.id %>
                  <td class="additional-info">
                    <% if custom_info.present? %>
                      <% if custom_field.file_upload? %>
                        <%= link_to custom_info.attachment_file_name, custom_info.attachment.url(:original, false) %>
                      <% elsif custom_field.multiple_choice? %>
                        <%= Choice.find_by(id: custom_info.value).try(:choice_name) %>
                      <% else %>
                        <%= custom_info.value %>
                      <% end %>
                    <% end %>
                  </td>

                <% end %>
                <td>
                  <%= link_to icon('trash-o'),event_attendee_path(id: attendee.id, event_slug: params[:event_slug]), class:'action', method: :delete, data: { confirm: 'Are you sure you want to delete this attendee?' } %>
                  <%= link_to icon('pencil'),edit_event_attendee_path(id: attendee.id, event_slug: params[:event_slug]), class:'action' %>
                  <% if attendee.order.try(:status) == 'payment_success' || attendee.order.try(:status) == 'completed' %>
                  <span data-tooltip aria-haspopup="true" class="has-tip bottom" data-disable-hover="false" tabindex="2" title="Re-send ticket">
                    <%= link_to icon('paper-plane'), tickets_send_path(attendee_id: attendee.id, event_slug: params[:event_slug]), method: :post, class:'action' %>
                  </span>
                  <% end %>
                <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="table__footer">
      <div class="row">
        <div class="large-6 small-6 columns">
          <p>Total Participants : <%= @event.attendees.length  %></p>
        </div>
        <div class="large-6 small-6 columns">
          <ul class="pagination"></ul>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  var options = {
    valueNames: [ 'name', 'ticket', 'attendance', 'payment-status' ],
    page: 15,
    plugins: [ ListPagination({}) ]
  };

  var userList = new List('attendee', options);
</script>
