<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Attendees">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Ticket Category</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Company</Data></Cell>
        <% @event.form_custom_fields.each do |custom_field| %>
          <Cell><Data ss:Type="String"><%= custom_field.name %></Data></Cell>
        <% end %>
      </Row>
    <% @attendees.each do |attendee| %>
      <Row>
        <Cell><Data ss:Type="String"><%= attendee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.ticket_category.category_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.phone %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.company %></Data></Cell>
        <% @event.form_custom_fields.each do |custom_field| %>
          <% custom_info = attendee.attendee_custom_infos.find_by form_custom_field_id: custom_field.id %>

          <% if custom_info.present? %>
            <% if custom_field.file_upload? %>
              <Cell><Data ss:Type="String"><%= custom_info.attachment_file_name %></Data></Cell>
            <% elsif custom_field.multiple_choice? %>
              <Cell><Data ss:Type="String"><%=  Choice.find_by(id: custom_info.value).try(:choice_name) %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String"><%= custom_info.value %></Data></Cell>
            <% end %>
          <% else %>
            <Cell><Data ss:Type="String"></Data></Cell>
          <% end %>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
