<%= provide :page_title, 'Add Participant' %>

<div class="small-12 large-3 columns no-padding">
  <h1>Add new participant</h1>
  <p>Don't worry, you can add participant manually if something inconvenient happened</p>
</div>

<div class="small-12 large-6 columns no-padding">
  <%= render 'form', edit: false , event: @event%>
</div>

<div class="small-12 large-3 columns no-padding">
</div>
