<%= provide :page_title, 'Your Participants' %>

<div> Name : <%= @attendee.name %> </div>
<div> Email : <%= @attendee.email %></div>
<div> Institution : <%= @attendee.company %></div>
<div> Phone : <%= @attendee.phone %></div>


  <% @attendee.event.form_custom_fields.each  do |custom_field| %>
    <% custom_info = @attendee.attendee_custom_infos.find_by form_custom_field_id: custom_field.id %>
    <div><%= custom_field.name %> :
    
      <% if custom_info.present? %>
        <% if custom_field.file_upload? %>

          <%= link_to custom_info.attachment_file_name, custom_info.attachment.url(:original, false) %>
        <% elsif custom_field.multiple_choice? %>
          <%= Choice.find(custom_info.value).choice_name %>
        <% else %>
          <%= custom_info.value %>
        <% end %>
      <% end %>
    </div>
  <% end %>
