<div class="task-card" data-uid="<%= task.id %>">
  <a class="task-card__body" href="<%= event_task_path(event_slug: task.event.slug, id: task.id) %>">
    <h2><%= task.name %></h2>
    <h4>
      <% if task.done? %>
        Done
      <% else %>
        <%= days_to(task.due_date) %>
      <% end %>
    </h4>

    <div class="logo">
      <% if task.event.logo? %>
        <img src="<%= task.event.logo.url %>"/>
      <% else %>
        <h3><%= task.event.name.first%></h3>
      <% end %>
    </div>
  </a>

  <div class="task-card__footer">
    <%= link_to "delete", event_task_path(id: task.id, event_slug: task.event.slug), remote: true, method: :delete, data: { confirm: 'Delete this task?' } %>
    <%= link_to "edit", edit_event_task_path(id: task.id, event_slug: task.event.slug) %>
    <%= link_to "see related task", event_tasks_path(event_slug: task.event.slug) %>
  </div>
</div>
