<div class="row tasks">
  <div class="large-4 columns">
    <h1 class="special" style="font-size:18px;">Backlog</h1>
    <% if @pending_assignments.present? %>
      <% @pending_assignments.each do |assignment| %>
          <%= render 'assignments/assignment', assignment: assignment, task: assignment.task, user: user %>

      <% end %>
    <% end %>

  </div>

  <div class="large-4 columns">
    <h1 class="special" style="font-size:18px;">To do</h1>

    <% @unfinished_tasks.each do |event, tasks| %>
      <% tasks.each do |task| %>
        <%= render('events/tasks/task', task: task) if task.assignments.find_by(user_id: user.id).accepted? %>
      <% end %>
    <% end %>
  </div>

  <div class="large-4 columns no-padding">
    <h1 class="special" style="font-size:18px;">Done</h1>

    <% @finished_tasks.each do |task| %>
      <%= render('events/tasks/task', task: task) if task.assignments.find_by(user_id: user.id).accepted? %>
    <% end %>
  </div>
</div>
