<% provide :page_title, 'Edit task' %>

<div class="row">
  <div class="large-8 columns">
    <div class="panel panel--transparent">
      <div class="panel__body">
        <%= form_for @task, url: event_task_path, method: :patch do |f| %>
          <%= render "shared/errors", object: @task %>
          <%= f.hidden_field :event_id %>

          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :due_date %>
          <%= f.text_field :due_date, value: (f.object.due_date.strftime('%A, %e %B %Y') if f.object.due_date), class: 'datepicker', data: { behavior: 'pickadate'} %>

          <%= f.label :assign_to %>
          <%= f.select(
                :user_ids,
                @committees,
                { include_blank: false },
                {
                  class: "chosen-select",
                  multiple: true,
                  data: { placeholder: "Choose committees" }
                },
              ) %>

          <div style="margin-top:15px;">
            <%= f.submit class: "button button--margin button--full" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
