<% provide :page_title, 'To-Do-Lists' %>

<div class="row">
  <div class="small-12 large-12 columns no-padding">
    <h2>Don’t miss a single task. Your team will be reminded every day at 9 AM</h2>
  </div>

  <div class="large-4 columns end">
    <a class="button button--full no-margin" data-open="newTask">add new task</a>
  </div>
</div>

<div class="tiny reveal" id="newTask" data-reveal>
  <p class="lead">Manage your team</p>
  <p>Set the task, set the deadline, set the person in charge</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <%= render 'form' %>
</div>

<div class="row tasks">
  <% @tasks.each do |task| %>
    <% if !task.users.present? %>
      <div class="large-4 columns">
        <h1 class="special" style="font-size:18px;">Backlog</h1>

        <div class="row">
          <div class="large-12 columns">
            <div class="task-card">
              <a class="task-card__body" href="<%= edit_event_task_path(id: task.id, event_slug: params[:event_slug]) %>">
                <h2><%= task.name %></h2>
                <h4>
                  <% if task.done?%>
                    done at <%= task.done_at.strftime("%d/%m/%Y") %>
                  <% else %>
                    <%= days_to(task.due_date) %>
                  <% end %>
                </h4>
                <div class="people">
                   <%= task.users.map(&:fullname).join(', ') if task.users.present? %>
                </div>
              </a>

              <div class="task-card__footer">
                <%= link_to 'delete', event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action', method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
                <!-- <%= link_to icon('pencil'), edit_event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action' %> -->

                <% if task.done?%>
                  <%= icon('check',class:'disabled') %>
                <% else %>
                  <%= link_to 'mark as done', event_task_set_done_path(task_id: task.id, event_slug: params[:event_slug]), class:'action', method: :get, data: { confirm: 'Mark task as done?' } %>
                <% end %>
                <!-- <%= link_to icon('eye'),event_task_path(id: task), class:'action' %> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <% if task.done?%>
        <div class="large-4 columns">
          <h1 class="special" style="font-size:18px;">Done</h1>

          <div class="row">
            <div class="large-12 columns">
              <div class="task-card">
                <a class="task-card__body" href="<%= edit_event_task_path(id: task.id, event_slug: params[:event_slug]) %>">
                  <h2><%= task.name %></h2>
                  <h4>
                    <% if task.done?%>
                      done at <%= task.done_at.strftime("%d/%m/%Y") %>
                    <% else %>
                      <%= days_to(task.due_date) %>
                    <% end %>
                  </h4>
                  <div class="people">
                    <%= task.users.map(&:fullname).join(', ') if task.users.present? %>
                  </div>
                </a>

                <div class="task-card__footer">
                  <%= link_to 'delete', event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action', method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
                  <!-- <%= link_to icon('pencil'), edit_event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action' %> -->

                  <% if task.done?%>
                    <!-- <%= icon('check',class:'disabled') %> -->
                  <% else %>
                    <%= link_to 'mark as done', event_task_set_done_path(task_id: task.id, event_slug: params[:event_slug]), class:'action', method: :get, data: { confirm: 'Mark task as done?' } %>
                  <% end %>
                  <!-- <%= link_to icon('eye'),event_task_path(id: task), class:'action' %> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="large-4 columns">
          <h1 class="special" style="font-size:18px;">To Do</h1>

          <div class="row">
            <div class="large-12 columns">
              <div class="task-card">
                <a class="task-card__body" href="<%= edit_event_task_path(id: task.id, event_slug: params[:event_slug]) %>">
                  <h2><%= task.name %></h2>
                  <h4>
                    <% if task.done?%>
                      done at <%= task.done_at.strftime("%d/%m/%Y") %>
                    <% else %>
                      <%= days_to(task.due_date) %>
                    <% end %>
                  </h4>
                  <div class="people">
                     <%= task.users.map(&:fullname).join(', ') if task.users.present? %>
                  </div>
                </a>

                <div class="task-card__footer">
                  <%= link_to 'delete', event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action', method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
                  <!-- <%= link_to icon('pencil'), edit_event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action' %> -->

                  <% if task.done?%>
                    <%= icon('check',class:'disabled') %>
                  <% else %>
                    <%= link_to 'mark as done', event_task_set_done_path(task_id: task.id, event_slug: params[:event_slug]), class:'action', method: :get, data: { confirm: 'Mark task as done?' } %>
                  <% end %>
                  <!-- <%= link_to icon('eye'),event_task_path(id: task), class:'action' %> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- <div class="row">
  <div class="large-12 columns no-padding">
    <ul class="list">
      <div class="table_wrapper" style="overflow: scroll">
        <div class="show-for-large">
          <table id="table-information">
          <tr class="list__header attendees">

          <td class="text-overflow left"><p>Due Date</p></td>
          <td class="text-overflow"><p>Task</p></td>
          <td class="text-overflow"><p>Person in Charge</p></td>
          <td class="text-overflow right"><p></p></td>
        </tr>

        <% @tasks.each do |task| %>

        <tr class="list__item attendees">
          <td class="text-overflow left">
            <p>
              <% if task.done?%>
                done at <%= task.done_at.strftime("%d/%m/%Y") %>
              <% else %>
                <%= days_to(task.due_date) %>
              <% end %>
            </p>
          </td>
          <td class="text-overflow"><p><%= link_to task.name, event_task_path(id: task) %></p></td>
          <td class="text-overflow"><p><%= task.users.map(&:fullname).join(', ') if task.users.present? %></p></td>

          <td class="text-overflow right">
          <%= link_to icon('trash'), event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action', method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
          <%= link_to icon('pencil'), edit_event_task_path(id: task.id, event_slug: params[:event_slug]), class:'action' %>

          <% if task.done?%>
            <%= icon('check',class:'disabled') %>
          <% else %>
            <%= link_to icon('check'), event_task_set_done_path(task_id: task.id, event_slug: params[:event_slug]), class:'action', method: :get, data: { confirm: 'Mark task as done?' } %>
          <% end %>
          <%= link_to icon('eye'),event_task_path(id: task), class:'action' %>
        <% end %>
      </td>
    </tr>

    </ul>
  <div>
</div> -->
