<%= provide :page_title, 'Create Task' %>

<div class="small-12 large-3 columns no-padding">
  <h1>Manage your team</h1>
  <p>Set the task, set the deadline, set the person in charge</p>
</div>

<div class="small-12 large-6 columns no-padding">
  <%= render 'form' %>
</div>

<div class="small-12 large-3 columns no-padding">
</div>
