<% provide :page_title, 'Task' %>

<h2>
  <%= @task.name %>
  <small>
    <%= link_to icon('pencil'), edit_event_task_path(@task, event_slug: params[:event_slug]) %>
  </small>
</h2>

<h6><%= icon('calendar') %> Due in <%= days_to(@task.due_date) %></h6>
<h6><%= icon('users') %> Assigned to <%= @task.users.map(&:fullname).join(',') if @task.try(:users).present?%></h6>
