<% if object.errors.any? %>
  <div class="callout alert" data-closable>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>

    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
