<div class="callout <%= "#{level}" %> text-center" data-closable>
  <button type="button" class="close-button" aria-label="Dismiss alert" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <p><%= msg %></p>
</div>
