<%= form_for Event.new do |f| %>
    <%= render "shared/errors", object: @event %>

    <%= f.text_field :name, placeholder:'nama acaramu', required: true %>
        <div class="with-add-on">
          <div class="icon">
              <%= fa_icon 'calendar' %>
          </div>

          <%= f.text_field :start_at, required: true, value: (f.object.start_at.strftime('%d %b %Y %H:%M') if f.object.start_at), id:"datetimepicker_new", placeholder:'tanggal dan waktu mulainya acara'  %>
        </div>
        <h2>Tiket</h2>
        <div class="row">
          <div class="small-12 large-8 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus, ligula ut lobortis mattis, massa sapien molestie ex, id dapibus sapien augue ut turpis.</p>
          </div>

          <div class="small-12 large-4 columns">

            <a class="button button--full" id="new-ticket-btn">
              <i class="fa fa-plus"></i>
               buat tiket
            </a>
          </div>

          <li class="row list__item" id="ticket-list">
          </li>

          <div id="ticket-form">
            <div class="large-12 columns" style="text-align:right; margin-top:50px;">
              <a class="button button--half" id="save-ticket-btn" style="display:none">Ok</a>
            </div>
          </div>
        </div>

      <%= f.submit 'buat acara baru', class: "button" %>

<% end %>
