<%= form_for @event do |f| %>
    <div class="row">
      <div class="small-12 large-8 columns">
        <h2>PROFIL ACARA</h2>
        <p></p>

        <%= render "shared/errors", object: @event %>

        <%= f.text_field :name, placeholder:'nama acara' %>

        <%# f.label :start_at%>

        <div class="with-add-on">
          <div class="icon">
              <%= fa_icon 'calendar' %>
          </div>

          <!-- <input id="datetimepicker" type="text" > -->
          <%= f.text_field :start_at, value: (f.object.start_at.strftime('%d %b %Y %H:%M') if f.object.start_at), id:"datetimepicker_1", placeholder:'tanggal dan waktu mulainya acara'  %>
        </div>

        <%# f.label :end_at %>

        <div class="with-add-on">
          <div class="icon">
              <%= fa_icon 'calendar' %>
          </div>

          <!-- <input id="datetimepicker" type="text" > -->
          <%= f.text_field :end_at, value: (f.object.end_at.strftime('%d %b %Y %H:%M') if f.object.end_at), id:"datetimepicker_2", placeholder:'tanggal dan waktu berakhirnya acara'  %>
        </div>

        <%# f.label :description %>
        <%= f.text_area :description, rows:'3', placeholder:'jelaskan deskripsi acaramu' %>

        <%# f.label :location %>
        <%= f.text_field :location, placeholder:'lokasi acara' %>

        <%# f.label "organized by" %>
        <%= f.text_field :organized_by, placeholder:'nama organizer' %>
      </div>

      <div class="small-12 large-4 columns">
        <div class="row">
          <div class="small-12 large-12 columns">
            <%= f.label :logo %>
            <a href="#" onclick="document.getElementById('btn-upload').click(); return false;" />
              <div class="upload-preview">
                <img id="img-prev" style="width:100%; height:auto; display:none;"/>
              </div>

              <% if f.object.logo? %>
                <%= image_tag f.object.logo.url, id: "img-plcholder" %>
              <% else %>

              <div id="img-plcholder" class="img-upload">
                <%= fa_icon 'camera', class: 'camera-icon' %>
                <div class="desc primary-colored-text img-upload-text">
                  click to upload<br>
                  your event's logo
                </div>
              </div>
              <% end %>
            </a>

            <div class="img-helper" style="text-align:center;">
              <p>max file size 2.5 MB</p>
            </div>
            <%= f.file_field :logo , id: "btn-upload", style: "visibility: hidden; display:none;" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 large-12 columns">
            <%= f.label :poster %>
            <a href="#" onclick="document.getElementById('btn-upload-poster').click(); return false;" />
              <div class="upload-preview-poster">
                <img id="img-prev-poster" style="width:100%; height:auto; display:none;"/>
              </div>

              <% if f.object.poster? %>
                <%= image_tag f.object.poster.url, id: "img-plcholder-poster", class:'img-uploaded' %>
              <% else %>
              <div id="img-plcholder-poster" class="img-upload">
                <%= fa_icon 'camera', class: 'camera-icon' %>
                <div class="desc primary-colored-text img-upload-text">
                  click to upload<br>
                  your event's poster

                </div>
              </div>
              <% end %>
            </a>
            <div class="img-helper" style="text-align:center;">
              <p>max file size 2.5 MB</p>
            </div>

            <%= f.file_field :poster , id: "btn-upload-poster", style: "visibility: hidden;  display:none;" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-8 columns">
        <h2 style="margin-top:20px;">INFO KONTAK</h2>
        <p></p>

        <%# f.label :name %>
        <%= f.text_field :contact_name, placeholder:'nama panitia yang bisa dihubungi' %>

        <%# f.label :email %>
        <%= f.text_field :contact_email, placeholder:'alamat email'%>

        <%# f.label :phone %>
        <%= f.text_field :contact_phone, placeholder:'nomor handphone' %>

        <h2 style="margin-top:60px;">JENIS TIKET</h2>

      </div>
    </div>

    <div class="row">
      <div class="small-12 large-8 columns">
        <p></p>
      </div>

      <div class="small-12 large-4 columns">
        <%= link_to icon('plus', 'buat tiket'), new_event_ticket_category_path(event_slug: @event_slug), remote: true, data: { open: 'newTicket' }, class: 'button button--full' %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-8 columns">
        <%= render 'ticket' %>

        <%= f.submit class: "button button--full button--margin" %>
      </div>
    </div>
<% end %>
