<div class="row columns">
  <ul class="list">
  <% if @ticket_categories.present? %>
    <% @ticket_categories.each do |category| %>

    <li class="row list__item">
      <div class="small-11 medium-11 large-11 columns end">

        <%= link_to(edit_event_ticket_category_path(id: category.id, event_slug: @event_slug), remote: true, data: { open: 'editTicket' }, class: 'item-content clickable') do %>
          <strong><%= category.category_name %></strong>, <%= "#{category.quantity} tickets remaining" %>, <%= "#{number_with_delimiter(category.price, :delimiter => '.')} IDR " %>
        <% end %>

      </div>

      <div class="small-1 medium-1 large-1 columns end">
        <%= link_to icon('trash-o'), event_ticket_category_path(id: category.id, event_slug: @event_slug), class:'icon', method: :delete, data: { confirm: 'Are you sure you want to delete this ticket category?' } %>
      </div>
    </li>

    <% end %>
  <% end %>
  </ul>
</div>


<div class="full reveal fast" id="newTicket" data-reveal data-close-on-click="true">
  <div class="row align-center">
    <div class="large-6 columns">
      <h1>BUAT JENIS TIKET BARU</h1>
      <p>Please note that we're going to charge you per ticket, so make sure you have included our service fee for your ticket price. Our service fee varies according your ticket price, you can see and check it <a href="<%= pricing_path %>" target="_blank">here</a>.</p>

      <div id="new-ticket-form">
      </div>

    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="full reveal" id="editTicket" data-reveal data-close-on-click="true">
  <div class="row align-center">
    <div class="large-6 columns">
      <h1>Edit ticket type</h1>
      <p>Please note that we're going to charge you per ticket, so make sure you have included our service fee for your ticket price. Our service fee varies according your ticket price, you can see and check it <a href="<%= pricing_path %>" target="_blank">here</a>.</p>

      <div id="edit-ticket-form">
      </div>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
