<div>
  <%= fields_for "event[ticket_categories_attributes]["+field_id+"]", TicketCategory.new do |ff| %>

    <div class="large-12 columns">
        <%= ff.label 'Ticket Name' %>
        <%= ff.text_field :category_name, required: true, placeholder:'e.g. Regular, VIP etc' %>
    </div>

    <div class="large-12 columns">
      <%= ff.label 'Price' %>
      <div class="with-icon">
        <div class="add-on">
            IDR
        </div>
        <%= ff.number_field :price, required: true, min: 0, placeholder:'How much does the ticket cost?' %>
      </div>
    </div>

    <div class="large-12 columns">
      <%= ff.label 'Quantity' %>
      <div class="with-icon">
        <div class="add-on">
            <%= fa_icon 'shopping-cart' %>
        </div>
        <%= ff.number_field :quantity, required: true, min: 0, placeholder:'How many tickets would you sell?' %>
      </div>
    </div>
  <% end %>
</div>
