<%= provide :page_title, 'My Events' %>

<div class="expanded row events">
  <div class="large-7 columns">
    <h1 class="title">MY EVENTS</h1>
    <p></p>
  </div>

  <div class="large-5 columns">
    <div class="search-bar float-right" style="display:inline-block">
      <input class="search" placeholder="Search an event" />
      <%= icon('search')%>
    </div>
  </div>
</div>

<div class="expanded row">
  <% @events.each do |event| %>
  <div class="small-12 medium-6 large-4 columns end">
    <a class="card" href="<%= event_overview_path(event) %>">
      <h2><%= event.name %></h2>
      <h4><%= "#{days_to(event.start_at)}" if event.start_at.present? %></h4>
      <div class="logo">
        <% if event.logo? %>
          <img src="<%= event.logo.url %>"/>
        <% else %>
          <h3><%= event.name.first%></h3>
        <% end %>
      </div>
    </a>
  </div>
  <% end %>
</div>

<div class="full reveal fast" id="newEvent" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="row align-center">
    <div class="large-6 columns">
      <h1>Buat acara baru</h1>
      <p>Hey! Terima kasih telah menggunakan HANDL. Silahkan masukkan form-form di bawah ini untuk membuat acaramu.</p>

      <div id="new-event-form">
        <%= render partial: "form_new" %>
      </div>

    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
