<%= provide :page_title, 'Create new event' %>

<div class="row">
  <div class="small-12 large-10 columns">
    <div class="panel panel--transparent-blue">
      <div class="panel__body">
        <h2>Let's make an awesome event</h2>
        <h4>Only name is required. You can fill the other later ;)</h4>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="small-12 large-10 columns">

  </div>
</div>
