console.log("<%= escape_javascript(params[:ticket_count])%>");
var element = "<%= escape_javascript(render partial: 'ticket_form', locals: {field_id: params[:ticket_count]}) %>";
$('#ticket-form').prepend(element);
