<div class="row overview">
  <div class="small-12 medium-12 large-4 columns end">
    <%= link_to(event_attendees_path(@event),class:'panel') do %>
      <h2>REGISTERS</h2>
      <h1><%=@event.attendees.count%></h1>
    <% end %>
  </div>

  <div class="small-12 medium-12 large-4 columns end">
    <%= link_to(event_cashflows_path(@event),class:'panel') do %>
      <h2>CASHFLOW</h2>
      <h1>IDR <span><%= number_to_currency(@balance, unit: '', separator: ',', delimiter: '.') %></span></h1>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top:30px;">
  <div class="small-12 medium-12 large-12 columns end">
    <h2>REGISTRATION LINK</h2>
    <p><%= event_ticket_order_url %><a style="padding-left:50px;">copy link</a> <a target="_blank" href="<%= event_ticket_order_url %>" style="padding-left:50px;">preview</a></p>

    <%= link_to 'edit form pendaftaran', event_form_custom_fields_path(@event), class: activate_menu(controller: 'events/form_custom_fields', action: 'index') %>

    <div style="width:80%;height:1px;background:#E7F1F3;margin:30px 0"></div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-6 columns end">
    <h2>DATE / TIME</h2>
    <p><%= format_datetime_range(@event.start_at, @event.end_at)%></p>
  </div>

  <div class="small-12 medium-12 large-6 columns end">
    <h2>LOCATION</h2>
    <p><%=@event_presenter.location%></p>
  </div>

</div>

<div class="row" style="margin-top:30px;">
  <div class="small-12 medium-12 large-12 columns end">
    <h2>DESCRIPTION</h2>
    <p><%=@event_presenter.description%></p>

    <%= link_to 'edit profil acara saya', edit_event_path(@event), class: activate_menu(controller: 'events', action: 'edit') %>
  </div>
</div>
