<div class="order-panel">
  <div class="summary">
    <h2><%= event.name %></h2>
    <h4><span>HELD BY</span> <%= event_presenter.organized_by %></h4>

    <h4 style="margin-top:20px;">DATE & TIME</h4>
    <h3><%= format_datetime_range(event.start_at, event.end_at) %></h3>

    <h4 style="margin-top:20px;">LOCATION</h4>
    <h3><%= event_presenter.location %></h3>

    <a style="display:block;margin-top:30px;" data-open="poster-full">view poster</a>
  </div>
</div>
