<%= form_for @order, url: wizard_path, method: :put do |f| %>
  <%= render 'shared/errors', object: @order %>

  <%= yield f %>

  <div class="actions">
    <% if @event.registration_open %>
      <%= f.submit "Continue", class: 'button button--full button--margin' %>
    <% else %>
      <input type="button" class="button button--full button--margin" name="" value="Registration closed" disabled>
    <% end %>
  </div>
<% end %>
