
<div class="order-panel">
  <div class="summary">
    <h2>ORDER SUMMARY</h2>

    <% order.order_items.each do |item| %>
      <div class="summary-item">
        <h4><%= item.ticket_category.category_name %> <em><%= "#{item.quantity}x" %></em></h4>
        <h3><%= number_to_currency(item.price, unit: 'IDR', separator: ',', delimiter: '.') %></h3>
      </div>
    <% end %>

    <h2 style="margin:40px 0 0;">TOTAL</h2>
    <h1><%= number_to_currency(order.total, unit: 'IDR', separator: ',', delimiter: '.') %></h1>
  </div>
</div>
