<div class="order">
  <!-- HEADER -->
  <div class="row align-center order-header">
    <div class="large-10 columns">

      <div class="logo float-left">
        <%= image_tag @event_presenter.logo %>
      </div>

      <div class="float-right">
        <p style="display:inline-block;">powered by</p>
        <div class="logo small inline">
          <%= image_tag 'logogram-dark.png' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END HEADER -->

  <div class="row">
    <!-- REGISTRATION FORM -->
    <div class="large-7 large-offset-1 columns">
      <div class="order-panel">
        <div class="registration-form">

          <h2>ISI FORM PENDAFTARAN</h2>
          <p></p>


          <%= form_for @order, url: attendees_event_order_path, method: :post do |f| %>
            <%= render 'shared/errors', object: @order %>

            <%= f.fields_for :attendees do |attendee_form| %>
              <% content_for :nav_tabs do %>
                <li class="tabs-title <%= 'is-active' if attendee_form.options[:child_index] == 0 %>"><a href="<%= "#attendee#{attendee_form.options[:child_index]}" %>" aria-selected="true"><%= "##{attendee_form.options[:child_index] + 1} #{attendee_form.object.ticket_category.category_name}" %></a></li>
              <% end %>

              <% content_for :tab_content do %>
                <div class="tabs-panel <%= 'is-active' if attendee_form.options[:child_index] == 0 %>" id="<%= "attendee#{attendee_form.options[:child_index]}" %>">
                  <%= attendee_form.hidden_field :ticket_category_id, value: attendee_form.object.ticket_category.id %>
                  <%= attendee_form.hidden_field :event_id, value: @event.id %>
                  <%= attendee_form.hidden_field :id, value: attendee_form.object.id %>

                  <h2>INFO DASAR</h2>

                  <%# attendee_form.label "Name" %>
                  <% if @event.name_desc.present? %>
                    <p class="field-desc"><%= @event.name_desc %></p>
                  <% end %>
                  <%= attendee_form.text_field :name, placeholder:'masukkan namamu' %>

                  <%# attendee_form.label "Email" %>
                  <% if @event.email_desc.present? %>
                    <p class="field-desc"><%= @event.email_desc %></p>
                  <% end %>
                  <%= attendee_form.email_field :email, placeholder:'masukkan alamat emailmu' %>

                  <%# attendee_form.label "Institution" %>
                  <% if @event.company_desc.present? %>
                    <p class="field-desc"><%= @event.company_desc %></p>
                  <% end %>
                  <%= attendee_form.text_field :company, placeholder:'masukkan nama instansi / perusahaan' %>

                  <%# attendee_form.label "Phone" %>
                  <% if @event.phone_desc.present? %>
                    <p class="field-desc"><%= @event.phone_desc %></p>
                  <% end %>
                  <%= attendee_form.text_field :phone, placeholder:'masukkan nomor handphone yang dapat dihubungi' %>

                  <h2>INFO TAMBAHAN</h2>

                  <%= attendee_form.fields_for :attendee_custom_infos do |custom_info| %>
                    <%= custom_info.hidden_field :form_custom_field_id, value: custom_info.object.form_custom_field_id %>
                    <%= custom_info.hidden_field :field_name, value: custom_info.object.field_name %>
                    <%= custom_info.label custom_info.object.field_name %>
                    <%= render(partial: "form_custom_fields/#{custom_info.object.form_custom_field.field_type}", locals: { object: custom_info, form_field: custom_info.object.form_custom_field }) %>
                  <% end %>

                </div>
              <% end %><!-- endcontent_for -->

            <% end %><!-- endfields_for -->

            <ul class="tabs" data-tabs id="attendee-form">
              <%= yield(:nav_tabs) %>
            </ul>

            <div class="tabs-content" data-tabs-content="attendee-form">
              <%= yield(:tab_content) %>
            </div>

            <% if @event.registration_open %>
              <%= f.submit "Continue", class: 'button button--half button--right button--margin' %>
            <% else %>
              <input type="button" class="button button--half button--right button--margin" name="" value="Registration closed" disabled>
            <% end %>

            <div style="clear:both"></div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- END REGISTRATION FORM -->

    <!-- SUMMARY -->
    <div class="large-3 columns">
      <%= render 'order_summary', order: @order %>

      <%= render 'event_summary', event: @event, event_presenter: @event_presenter %>
    </div>
    <!-- END SUMMARY -->
  </div>
</div>

<!-- POSTER POP UP -->
<div class="reveal full" id="poster-full" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <%= image_tag @event_presenter.poster %>
</div>
<!-- END POSTER POP UP -->
