<div class="order">
  <!-- HEADER -->
  <div class="row align-center order-header">
    <div class="large-10 columns">

      <div class="logo float-left">
        <% if @event.logo? %>
          <%= image_tag @event.logo %>
        <% else %>
          <%= image_tag 'logogram-light.png', class:'default' %>
        <% end %>
      </div>

      <div class="float-right">
        <p style="display:inline-block;">powered by</p>
        <div class="logo small inline">
          <%= image_tag 'logogram-dark.png' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END HEADER -->

  <div class="row align-center">
    <div class="large-10 columns">
      <div class="order-panel" style="padding:50px; text-align:center;">
        <h1>Thank you! you have been registered.</h1>
        <h2>Please check your email for more information.</h2>
        <% unless @payment_payload.amount.zero? %>
          <p>Your ticket will be sent after we have received your payment. You can go to payment page now by clicking button below. Please note that <strong>after you fill in your details, you have 12 hours to do the payment</strong>. We also sent the payment link to your email.</p>
        <% end %>
        <a class="button button--margin" href="<%= new_event_order_path(@event) %>">Back to event page</a>
        <% unless @payment_payload.amount.zero? %>
          <a class="button button--margin" href="#" onclick="document.dokuPayment.submit()">Pay my ticket now</a>
          <form name="dokuPayment" action="https://apps.myshortcart.com/payment/request-payment/" method="post">
            <input type="hidden" name="BASKET" value="<%= @payment_payload.basket %>">
            <input type="hidden" name="STOREID" value="<%= @payment_payload.store_id %>">
            <input type="hidden" name="TRANSIDMERCHANT" value="<%= @payment_payload.transid_merchant %>">
            <input type="hidden" name="AMOUNT" value="<%= @payment_payload.amount %>">
            <input type="hidden" name="URL" value="<%= @payment_payload.url %>">
            <input type="hidden" name="WORDS" value="<%= @payment_payload.word %>">
            <input type="hidden" name="CNAME" value="<%= @payment_payload.cname %>">
            <input type="hidden" name="CEMAIL" value="<%= @payment_payload.cemail %>">
          </form>
        <% end %>
      </div>
    </div>
  </div>

</div>
