<div class="order">
  <!-- HEADER -->
  <div class="row align-center order-header">
    <div class="large-10 columns">

      <div class="logo float-left">
        <% if @event.logo? %>
          <%= image_tag @event.logo %>
        <% else %>
          <%= image_tag 'logogram-light.png', class:'default' %>
        <% end %>
      </div>

      <div class="float-right">
        <p style="display:inline-block;">powered by</p>
        <div class="logo small inline">
          <%= image_tag 'logogram-dark.png' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END HEADER -->

  <div class="row">
    <div class="large-8 large-centered columns">
      <div class="panel panel--transparent">
        <div class="panel__body">
          <h1><%= @event.name %></h1>
          <p>Here's the detail of your purchase. please make sure that your order is correct before checking out</p>

          <ul class="list" style="text-align:left;">
            <li class="list__header show-for-medium">
              <div class="width-4"><h3>Ticket Name</h3></div>
              <div class="width-4"><h3>Quantity</h3></div>
              <div class="width-4"><h3>Price</h3></div>
              <div class="width-4"><h3>Sub-Total</h3></div>
            </li>

          <% @order.order_items.each do |order_item| %>
            <li class="list__item">
              <div class="width-4"><p><%= order_item.ticket_category.category_name %></p></div>

              <div class="width-4"><p><%= order_item.quantity %></p></div>

              <div class="width-4"><p><%= number_to_currency(order_item.price, unit: 'IDR ', separator: ',', delimiter: '.') %></p></div>

              <div class="width-4"><p><%= number_to_currency(order_item.total, unit: 'IDR ', separator: ',', delimiter: '.') %></p></div>
            </li>
          <% end %>

          <li class="list__item">
            <div class="width-4"><p>Unique payment code</p></div>

            <div class="width-4"><p></p></div>

            <div class="width-4"><p></p></div>

            <div class="width-4"><p><%= number_to_currency(@invoice.payment_code, unit: 'IDR ', separator: ',', delimiter: '.') %></p></div>
          </li>

            <li class="list__item">
              <div class="special">Total: <%= number_to_currency(@invoice.total_amount, unit: 'IDR ', separator: ',', delimiter: '.') %></div>
            </li>

          </ul>

          <p style="margin-top:30px;">The person chosen for billing information will get an email about the next instruction </p>

          <%= form_for @order, url: confirmation_event_order_path, method: :post do |f| %>
            <%= render 'shared/errors', object: @order %>
            <div class="row">
              <div class="large-12 columns">
                <label style="text-align:left;" for="">Billing information</label>
                <%= f.select(:billing_email, options_from_collection_for_select(@order.attendees, 'email', 'name')) %>

                <% if @event.registration_open %>

                <%= link_to 'Edit attendee details', order_attendee_form_event_order_path, class: 'button button--margin' %>
                  <%= f.submit "Continue", class: 'button button--margin' %>
                <% else %>
                  <input type="button" class="button button--half button--margin" name="" value="Registration closed" disabled>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
