<% provide :title, "#{@event.name} | HANDL" %>

<div class="order">
  <!-- HEADER -->
  <div class="row align-center order-header">
    <div class="large-10 columns">

      <div class="logo float-left">
        <%= image_tag @event_presenter.logo %>
      </div>

      <div class="float-right">
        <p style="display:inline-block;">powered by</p>
        <div class="logo small inline">
          <%= image_tag 'logogram-dark.png' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END HEADER -->

  <div class="row align-center">
    <div class="large-10 columns">

      <!-- INFO PANEL -->
      <div class="order-panel">
        <!-- EVENT POSTER -->
        <a class="poster" data-open="poster-full">
          <%= image_tag @event_presenter.poster %>
        </a>
        <!-- END EVENT POSTER -->

        <!-- EVENT INFO -->
        <div class="info">
          <h1>
            <%= @event.name %>

            <% if @event_presenter.user_can_edit? %>
              <%= link_to icon('pencil'), edit_event_path(@event) %>
            <% end %>
          </h1>

          <h4><span>HELD BY</span> <%= @event_presenter.organized_by %></h4>

          <h2 style="margin-top:20px;">DATE & TIME</h2>
          <p><%= format_datetime_range(@event.start_at, @event.end_at) %></p>

          <h2 style="margin-top:20px;">LOCATION</h2>
          <p><%= @event_presenter.location %></p>
        </div>
        <!-- END EVENT INFO -->

        <div class="desc">
          <!-- EVENT DESCRIPTION -->
          <h2 style="margin-top:20px;">DESCRIPTION</h2>
          <p><%= @event_presenter.description %></p>
          <!-- END EVENT DESCRIPTION -->

          <% if (@event.contact_email.present?) || (@event.contact_phone.present?) %>

          <!-- CONTACT US -->
          <h2 style="margin-top:20px;">CONTACT US</h2>
            <p>If you have any further questions. you can contact us via
              <%= @event_presenter.contact_info_humanize %>
            </p>
          <% end %>
          <!-- END CONTACT US -->
        </div>
      </div>
      <!-- END INFO PANEL -->

      <!-- TICKET PANEL -->
      <div class="order-panel">
        <div class="tickets">
          <h2>TICKET REGISTRATION</h2>
          <p>
            <% if @event.registration_closed_at.present? %>
              (open until <%= @event.registration_closed_at.strftime('%d %b %Y %H:%M') %>)
            <% end %>
          </p>

          <%= form_for @order, url: event_orders_path, method: :post do |f| %>
            <%= render 'shared/errors', object: @order %>

            <ul class="list">
              <li class="list__header show-for-medium">
                <div class="width-4"><h3>Ticket Name</h3></div>
                <div class="width-4"><h3>Price</h3></div>
                <div class="width-4"><h3>Availability</h3></div>
                <div class="width-4"><h3>Quantity</h3></div>
              </li>

              <%= f.hidden_field :event_id, value: @event.id %>

              <%= f.fields_for :order_items do |item_field| %>
              <li class="list__item" style="margin-top:10px;">
                <%= item_field.hidden_field :ticket_category_id %>
                <div class="width-4"><p><%= item_field.object.ticket_category.category_name %></p></div>
                <div class="width-4"><p><%= number_to_currency(item_field.object.ticket_category.price, unit: 'IDR ', separator: ',', delimiter: '.') %></p></div>
                <%= item_field.hidden_field :price %>
                <div class="width-4"><p><%= item_field.object.ticket_category.quantity %></p></div>
                <div class="width-4"><%= item_field.select :quantity, options_for_select(0..4, item_field.object.quantity) %></div>
              </li>
              <% end %>
            </ul>

            <div class="row">
              <div class="large-12 columns">
                <% if @event.registration_open %>
                  <%= f.submit "Continue", class: 'button button--half button--right button--margin' %>
                <% else %>
                  <input type="button" class="button button--half button--right button--margin" name="" value="Registration closed" disabled>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- END TICKET PANEL -->
    </div>
  </div>
</div>

<!-- POSTER POP UP -->
<div class="reveal full" id="poster-full" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <%= image_tag @event_presenter.poster %>
</div>
<!-- END POSTER POP UP -->
