
  <div class="order">
    <div class="order-banner">
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="order-logo">
          <%= image_tag @event_presenter.logo %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="order-content">
        <div class="large-2 columns show-for-large">
          <div class="panel-image">
            <a data-open="poster-full">
              <%= image_tag @event_presenter.poster %>
            </a>
          </div>
        </div>

        <div class="reveal" id="poster-full" data-reveal>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>

          <%= image_tag @event_presenter.poster %>
        </div>

        <div class="small-12 large-10 columns">
          <div class="head">
            <h1 class="special"><%= @event.name %> atehoatnehan</h1>

            <h3><%= icon('map-marker', @event_presenter.location) %></h3>

            <h3><%= icon('calendar', format_datetime_range(@event.start_at, @event.end_at)) %></h3>

            <h3><span>HELD BY</span> <%= @event_presenter.organized_by %></h3>
          </div>

          <div class="body">
            <div class="row">
              <div class="small-12 large-6 columns">
                <h1 class="special">Event Description</h1>
                <a class="order-button hide-for-large" data-open="poster-full">
                  show poster
                </a>

                <p><%= @event_presenter.description %></p>

                <% if @is_committee %>
                <% end %>
              </div>

              <div class="small-12 large-6 columns">
                <h1 class="special">Ticket Reservation</h1>
                <% if @event.registration_open %>
                  <%= render layout: 'form' do |f| %>
                    <ul class="list">
                      <li class="list__header orders">
                        <div class="text-overflow"><p>Ticket Type</p></div>
                        <div class="text-overflow"><p>Qty</p></div>
                      </li>

                      <%= f.hidden_field :event_id, value: @event.id %>

                      <%= f.fields_for :order_items do |item_field| %>
                      <li class="list__item orders">
                        <%= item_field.hidden_field :ticket_category_id %>
                        <div class="text-overflow"><p><%= item_field.object.ticket_category.category_name %></p></div>
                        <%= item_field.hidden_field :price %>
                        <div class="text-overflow"><p><%= item_field.object.ticket_category.quantity %></p></div>
                        <%= item_field.select :quantity, options_for_select(0..4, item_field.object.quantity) %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="order-footer">
        <div class="small-6 large-6 columns trademark">
          <p>this event is powered by</p>
          <a href="https://www.handl.in/"><%= image_tag 'logogram-dark.png' %></a>
        </div>

        <div class="small-6 large-6 columns menu">
          <ul>
            <li><a href="<%= terms_and_conditions_path %>">Term & Conditions</a></li>
            <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
