<div class="order">
  <!-- HEADER -->
  <div class="row align-center order-header">
    <div class="large-10 columns">

      <div class="logo float-left">
        <% if @event.logo? %>
          <%= image_tag @event.logo %>
        <% else %>
          <%= image_tag 'logogram-light.png', class:'default' %>
        <% end %>
      </div>

      <div class="float-right">
        <p style="display:inline-block;">powered by</p>
        <div class="logo small inline">
          <%= image_tag 'logogram-dark.png' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END HEADER -->

  <div class="row">
    <!-- BILLING AND PAYMENT -->
    <div class="large-7 large-offset-1 columns">
      <div class="order-panel">
        <section class="payment-select">
          <h2>INFORMASI BILLING</h2>
          <p>The person chosen for billing information will get an email about the next instruction</p>

          <%= form_tag payment_methods_event_order_path, method: :post, 'data-abide' => '', 'novalidate' => '' do %>
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i>Please select a payment method</p>
            </div>
            <%= select_tag 'billing_attendee_id', options_from_collection_for_select(@order.attendees, 'id', 'name') %>

          <h2 style="margin-top:40px;">PILIH METODE PEMBAYARAN</h2>
          <p>Choose payment method that is the easiest and most convenient for you</p>

    			<div>
            <%= radio_button_tag 'payment_method', 1, false, required: '' %>
    				<label for="payment_method_1">
              <div class="method-desc">
                <h3>Doku Payment Gateway</h3>
                <p>Dengan menggunakan Doku, kamu bisa melakukan pembayaran melalui Bank Transfer, Credit Card, Alfamart, dan Doku Wallet</p>
              </div>
            </label>
    				<article>
              <h4>Cara Pembayaran</h4>
              <ul>
                <li><p>Pilih Metode Pembayaran</p></li>
                <li><p>Isi data pribadi, lalu <strong>PROCESS PAYMENT</strong></p></li>
                <li><p>Anda akan dikirimkan email dari Doku untuk cara pembayaran yang lebih spesifik</p></li>
              </ul>
    				</article>
    			</div>

    			<div style="display: none;">
            <%= radio_button_tag 'payment_method', 2 %>
    				<label for="payment_method_2">
              <div class="method-logo">
                <%= image_tag 'logo-bank-mandiri.png'%>
              </div>

              <div class="method-desc">
                <h3>Bank Mandiri</h3>
                <p>Bayar melalui ATM atau internet banking Mandiri</p>
              </div>
            </label>
    				<article>
              <h4>Cara Pembayaran</h4>

              <ul>
                <li><p>Pilih menu transfer</p></li>
                <li><p>Kirim ke <strong>1370000123456</strong> atas nama <strong>Reyhan Nuha Aditrea</strong></p></li>
                <li><p>Masukkan angka nominal sesuai dengan jumlah yang harus dibayarkan. Pastikan nominal angkanya sama persis agar dapat diverifikasi secara otomatis</p></li>
                <li><p>Kirim</p></li>
              </ul>
            </article>
    			</div>

          <%= submit_tag 'Lanjut', class:'button button--right button--margin' %>
          <%= link_to 'Kembali', order_attendee_form_event_order_path, class:'button button--right button--margin' %>

          <% end %>
          <div style="clear:both"></div>
    		</section>
      </div>
    </div>
    <!-- BILLING AND PAYMENT -->

    <!-- SUMMARY -->
    <div class="large-3 columns">
      <%= render 'order_summary', order: @order %>

      <%= render 'event_summary', event: @event, event_presenter: @event_presenter %>
    </div>
    <!-- END SUMMARY -->
  </div>
</div>
