<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    @font-face {
      font-family: 'Bariol';
      src: font-url('bariol_regular-webfont.woff2') format('woff2'),
           font-url('bariol_regular-webfont.woff') format('woff'),
           font-url('bariol_regular-webfont.ttf') format('truetype');
    }

    p{
      display: inline;
      font-family: 'Bariol';
      font-size: 14px;
      line-height: 25px;
    }

    img{
      display: inline;
      height: 25px;
      width: auto;
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <div style="width:100%; text-align: center;">
    <p>this event is powered by</p><%= wicked_pdf_image_tag 'logo-dark.png' %>
  </div>
</body>
</html>
