<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header Ticket</title>
  <style>
    html, body {
      font-family: 'Open Sans', sans-serif;
    }

    .logo {
      width: 200px;
      vertical-align: middle;
    }

    .float-right {
      float: right;
    }

    .float-left {
      float: left;
    }
  </style>
</head>
<body>
</body>
</html>
