<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-Ticket</title>
  <style>
    @font-face {
      font-family: 'Bariol';
      src: font-url('bariol_regular-webfont.woff2') format('woff2'),
           font-url('bariol_regular-webfont.woff') format('woff'),
           font-url('bariol_regular-webfont.ttf') format('truetype');
    }

    h5{
      font-family: 'Bariol';
      font-size: 1em;
    }

    .ticket{
      width: 100%;
      height: auto;
      border-radius:40px;
      border:2px;
      background: #E7F1F3;
      text-align: left;
    }

    .ticket .ticket-header {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      height: 75px;
      background: -webkit-linear-gradient(left, #009D8E, #1C788E);
      background: -o-linear-gradient(left, #009D8E, #1C788E);
      background: -moz-linear-gradient(left, #009D8E, #1C788E);
      background: linear-gradient(to left, #009D8E, #1C788E);
      color:#fff;

      margin:0px;
      padding-left:0px;
      text-align:center;
    }

    .ticket .ticket-header h1{
      display: block;
      font-family: 'Bariol';
      font-size: 30px;
      /*letter-spacing: 1px;*/
      line-height:75px;
      margin:0;
      padding: 0;
    }

    .ticket .ticket-body{
      width: 100%;
      height: 350px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }

    .ticket .ticket-body h2{
      font-family: 'Bariol';
      font-size: 18px;
      color:#ccc;
      margin:0;
      padding: 0;
    }

    .ticket .ticket-body p{
      font-family: 'Bariol';
      font-size: 20px;
      color:#333;
      margin:5px 0 20px;
      padding: 0;
    }

    .ticket .ticket-body .top{
      padding: 30px 30px 0;
      /*background: yellow;*/
    }

    .ticket .ticket-body .top h1{
      font-family: 'Bariol';
      font-size:28px;
      margin:10px 0;
    }

    .ticket .ticket-body .top .line{
      height: 1px;
      width: 100px;
      background: #009D8E;
    }

    .ticket .ticket-body .left{
      display: inline-block;
      float:left;
      width: 25%;
      height: auto;
      padding: 20px 30px 0;
      /*background: red;*/
    }

    .ticket .ticket-body .middle{
      display: inline-block;
      float:left;
      width: 25%;
      height: auto;
      padding: 20px 30px 0;
      /*background: blue;*/
      border-left:1px solid  #009D8E;
    }

    .ticket .ticket-body .middle h1{
      font-family: 'Bariol';
      font-size:30px;
      margin:5px 0 8px;
    }

    .ticket .ticket-body .right{
      position: relative;
      display: inline-block;
      float:right;
      width: 26%;
      height: auto;
      /*background: green;*/
      padding: 0 30px 0;
      text-align: center;
    }

    .ticket .ticket-body .right img{
      width: 200px;
      height: auto;
    }

    table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
    }

    td {
      border-left: solid 10px #000;
      padding: 0;
      margin: 0;
      width: 0px;
      height: 10px;
    }

    td.black { border-color: #000; }
    td.white { border-color: #fff; }
  </style>
</head>
<body>
  <div class="ticket">
    <div class="ticket-header">
      <h1> <center> <%= event.name.upcase %> E-TICKET </center></h1>
    </div>

    <div class="ticket-body">
      <div class="top">
        <h2> NAME </h2>
        <h1><%= attendee.name %></h1>
        <div class="line"></div>
      </div>

      <div class="left">
        <h2> EMAIL </h2>
        <p><%= attendee.email %> </p>
        <h2> INSTITUTION </h2>
        <p><%= attendee.company %> </p>
        <h2> PHONE </h2>
        <p><%= attendee.phone %> </p>
      </div>

      <div class="middle">
        <h2> TICKET TYPE </h2>
        <h1> <%= attendee.ticket_category.category_name.upcase %> </h1>
        <h2> DATE </h2>
        <p> <%= format_date(event.start_at) %> </p>
        <h2> LOCATION </h2>
        <p> <%= event.location %> </p>
      </div>

      <div class="right" style="margin-bottom:30px;">
        <%= raw RQRCode::QRCode.new(attendee.token.to_s).as_html %>
      </div>

    </div>
    <div style="clear:both;"></div>
  </div>
</body>
</html>
