<%= form_tag("/events/#{@event.slug}/committees", method: :post) do %>

    <%= email_field_tag 'committee[email]', nil, data: { source: users_path }, placeholder:'alamat email', required: true %>

    <%= hidden_field_tag 'committee[event_id]', params[:event_id] %>

    <%= submit_tag 'undang', class: 'button' %>

    <div style="clear:both"></div>

<% end %>
