<%= provide :page_title, 'Team Members' %>

<div class="row">
  <div class="medium-12 large-12 large-centered columns">
    <div class="panel panel--transparent">
      <div class="panel__body">
        <h2>Recruit your best crew. Invite using their email address</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @committees.each do |committee| %>
  <div class="medium-12 large-4 columns end">
    <div class="large-card">
      <div class="large-card__body">
        <h2>
        <% if committee.user.fullname.present? %>
          <%= committee.user.fullname %>
        <% else %>
          <%= "Not a registered user" %>
        <% end %>
        </h2>

        <h4><%= committee.user.email %></h4>

        <div class="logo">
          <%= show_avatar(committee.user) %>
        </div>
      </div>

      <div class="large-card__footer">
        <% if committee.user == current_user %>
          <%= link_to 'leave the team', event_committee_path(id: committee.id), class:'icon', method: :delete, data: { confirm: 'Are you sure you want to leave this event?' } %>
        <% else %>
          <%= link_to 'remove member', event_committee_path(id: committee.id), method: :delete, data: { confirm: 'Remove this user from committees?' } %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
