<%= provide :page_title, 'Add new committee' %>

<div class="row">
  <div class="large-6 large-centered medium-10 medium-centered small-12 columns">
    <div class="panel">
      <div class="panel__header">
        <h1>Create new event</h1>
      </div>

      <div class="panel__body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
