<table class="body-wrap3">
  <tr>
    <td style="text-align: center">
    </td>
  </tr>

  <tr>
    <td class="container">
      <div class="header">
        <%= image_tag(@event_logo_title) %>
      </div>

      <div class="content" bgcolor="#ffffff">
          <h5><%= @content %></h5>
          <div style="padding: 10px 10px 0;font-size: 12px; mso-height-rule: exactly; line-height:18px; text-align: center;">

          <p style="text-align:center; color:#333333;">
             This event is powered by <%= image_tag 'logo-dark.png', height: '30', align:'center' %>
          </p>
        </div>
      </div>
    </td>
  </tr>
</table>
