Hai <%= @attendee.name %>,

Selamat! Kamu menjadi salah satu pendaftar teratas untuk acara <%= @event.name %>. Acara akan dilaksanakan pada:

Tanggal, waktu    : <%= DateTime.parse(@event.start_at.to_s).strftime("%d %B %Y, %H:%M") %>
Lokasi            : <%= @event.location %>

Segeralah melakukan konfirmasi kehadiranmu dengan menekan tombol dibawah ini.<

<%= link_to 'Hadir', attendance_confirmation_url(event_slug: @event.slug, token: @attendee_token, confirmation: 'confirmed') , class:'button'%>
<%= link_to 'Batal', attendance_confirmation_url(event_slug: @event.slug, token: @attendee_token, confirmation: 'cancelled') , class:'button' %>

Terima kasih banyak!

Semoga harimu menyenangkan,
<%= @event.name %>
