Hai <%= @attendee.name %>,
Selamat! Kamu telah secara resmi terdaftar dalam acara <%= @event.name %> yang akan dilaksanakan pada:

<% if @event.start_at.present? %>
  Tanggal, waktu : <%= DateTime.parse(@event.start_at.to_s).strftime("%d %B %Y, %H:%M") %>

  </br>
<% end %>

<% if @event.location.present? %>
  Lokasi : <%= @event.location %>
<% end %>

<% if @order.order_type == 'paid' %>
  Segera lakukan pembayaran untuk mendapatkan tiketmu. Klik link di bawah untuk melakukan pembayaran melalui halaman pembayaran DOKU. Kamu dapat memilih beberapa metode pembayaran yang sudah disediakan.
  <%= link_to 'Lakukan pembayaran', order_check_out_event_order_url(id: @order.id, event_slug: @event.slug), class: 'btn' %>
<% else %>
  Selanjutnya, kamu akan segera mendapatkan email lain untuk konfirmasi kehadiranmu dalam acara tersebut. Cek selalu email kamu ya!
<% end %>

Semoga harimu menyenangkan,
<%= @event.name %>
