<!-- HEADER -->
<table class="head-wrap" bgcolor="#fafafa">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table bgcolor="#fafafa">
					<tr style="text-align:center;">

            <% if @event.logo.present?%>
              <td><%= image_tag @event.logo, class:'event-logo', height:'80', align:'middle' %></td>
            <% else %>
              <td><%= image_tag 'logogram-dark.png', class: 'event-logo', height: '80' %></td>
            <% end %>

					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h5>Hai <%= @attendee.name %>,</h5>
						<p>Selamat! Kamu telah secara resmi terdaftar dalam acara <%= @event.name %> yang akan dilaksanakan pada:</p>

            <div style="text-align:center;">
							<% if @event.start_at.present? %>
	              <h6>Tanggal, waktu</h6>
	              <p><%= DateTime.parse(@event.start_at.to_s).strftime("%d %B %Y, %H:%M") %></p>

	              </br>
							<% end %>

							<% if @event.location.present? %>
	              <h6>Lokasi</h6>
	              <p><%= @event.location %></p>
							<% end %>
            </div>

            <% if @order.order_type == 'paid' %>
              <p>Segera lakukan pembayaran untuk mendapatkan tiketmu. Klik link di bawah untuk melakukan pembayaran melalui halaman pembayaran DOKU. Kamu dapat memilih beberapa metode pembayaran yang sudah disediakan.</p>

              <div style="text-align:center;margin-bottom:25px;">
                <%= link_to 'Lakukan pembayaran', order_check_out_event_order_url(event_slug: @event.slug, id: @order.id), class: 'btn', target: '_blank' %>
              </div>
            <% else %>
              <p>Selanjutnya, kamu akan segera mendapatkan email lain untuk konfirmasi kehadiranmu dalam acara tersebut. Cek selalu email kamu ya!</p>
            <% end %>

            <p style="margin:0;">Semoga harimu menyenangkan,</p>
            <p><%= @event.name %></p>

						<br/>

						<!-- social & contact -->
						<table class="social" width="100%" style="padding:20px;">
							<tr>
								<td>

									<!--- column 2 -->
									<table>
										<tr>
											<td>
												<% if (@event.contact_email.present?) || (@event.contact_phone.present?) %>
													<p style="margin:5px 0;">Jika masih ada yang ingin ditanyakan, kamu bisa menghubungi <%= @event.contact_name %></p>

													<% if @event.contact_phone.present? %>
														<p style="margin:0 10px;">Phone: <strong><%= @event.contact_phone %></strong></p>
													<% end %>

													<% if @event.contact_email.present? %>
														<p style="margin:0 10px;">Email: <strong><a href="mailto:<%= @event.contact_email %>"><%= @event.contact_email %></a></strong></p>
													<% end %>

												<% end %>

											</td>
										</tr>
									</table><!-- /column 2 -->

									<span class="clear"></span>

								</td>
							</tr>
						</table><!-- /social & contact -->


					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">

            <p style="margin:0;">This event is powered by</p>
            <p><a href="https://www.handl.in/" target="_blank"><%= image_tag 'logo-dark.png', height: '30', align:'center' %></a></p>

						<p>
							<a href="<%= terms_and_conditions_path %>">Term & Conditions</a> |
							<a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->
