Hai <%= @attendee.name %>,

Terima kasih telah melakukan konfirmasi dan bersedia menghadiri <%= @event.name %>. Tiket untuk acara tersebut dapat kamu temukan di lampiran email ini. Tunjukkan tiketmu saat menghadiri acara tersebut ya.
Sampai jumpa!

Semoga harimu menyenangkan,
<%= @event.name %>
