<!-- HEADER -->
<table class="head-wrap" bgcolor="#fafafa">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table bgcolor="#fafafa">
					<tr style="text-align:center;">
            <% if @event.logo.present?%>
              <td><%= image_tag @event.logo, class:'event-logo', height:'80', align:'middle' %></td>
            <% else %>
              <td><%= image_tag 'logogram-dark.png', class: 'event-logo', height: '80' %></td>
            <% end %>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
  			<table>
  				<tr>
  					<td>
  						<h5>Hai <%= @attendee.name %>,</h5>
  						<p>Terima kasih telah melakukan konfirmasi dan bersedia menghadiri <%= @event.name %>. Tiket untuk acara tersebut dapat kamu temukan di lampiran email ini. Tunjukkan tiketmu saat menghadiri acara tersebut ya.</p>
							<p>Sampai jumpa!</p>

              <p style="margin:0;">Semoga harimu menyenangkan,</p>
              <p><%= @event.name %></p>

  						<br/>

  						<!-- social & contact -->
  						<table class="social" width="100%" style="padding:20px;">
  							<tr>
  								<td>

  									<!--- column 2 -->
  									<table>
  										<tr>
  											<td>
													<% if (@event.contact_email.present?) || (@event.contact_phone.present?) %>
														<p style="margin:5px 0;">Jika masih ada yang ingin ditanyakan, kamu bisa menghubungi <%= @event.contact_name %></p>

														<% if @event.contact_phone.present? %>
															<p style="margin:0 10px;">Phone: <strong><%= @event.contact_phone %></strong></p>
														<% end %>

														<% if @event.contact_email.present? %>
															<p style="margin:0 10px;">Email: <strong><a href="mailto:<%= @event.contact_email %>"><%= @event.contact_email %></a></strong></p>
														<% end %>

													<% end %>
  											</td>
  										</tr>
  									</table><!-- /column 2 -->

  									<span class="clear"></span>

  								</td>
  							</tr>
  						</table><!-- /social & contact -->

  					</td>
  				</tr>
  			</table>
			</div>
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
  				<tr>
  					<td align="center">

              <p style="margin:0;">This event is powered by</p>
              <p><a href="https://www.handl.in/" target="_blank"><%= image_tag 'logo-dark.png', height: '30', align:'center' %></a></p>

  						<p>
  							<a href="<%= terms_and_conditions_path %>">Term & Conditions</a> |
  							<a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
  						</p>
  					</td>
  				</tr>
  			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->
