<% form_field.choices.each do |choice| %>
  <div>
    <%= object.radio_button :value, choice.id, required: form_field.required %>
    <% if choice.choice_name && choice.choice_name != "" %>
      <%= object.label choice.choice_name %>
    <% else %>
      Unnamed Choice
    <% end %>
  </div>
<% end %>
