<div class="order order--full">

  <div class="row">
    <div class="large-8 large-centered columns">
      <div class="order-full-logo">
        <% if @event.logo? %>
          <%= image_tag @event.logo %>
        <% else %>
          <%= image_tag 'logogram-light.png', class:'default' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-8 large-centered columns">
      <h5>You have cancelled the checkout process</h5>
    </div>
  </div>

  <div class="order-full-footer static">
    <div class="trademark small-6 large-6 columns">
      <h3>Powered by</h3>
      <a href="https://www.handl.in/"><%= image_tag 'logogram-light.png', class:'logo' %></a>
    </div>

    <div class="menu small-6 large-6 columns">
      <ul>
        <li><a href="<%= terms_and_conditions_path %>">Term & Conditions</a></li>
        <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</div>
