<div class="login">
  <%= link_to root_path do %>
    <%= image_tag 'full-logo-light.png', class: 'logo' %>
  <% end %>

  <div class="row">
    <div class="large-4 large-centered medium-10 medium-centered small-12 columns">
      <div class="panel">
        <div class="panel__body">
          <h1>Change your password</h1>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <%= f.label :password, "New password" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder:'enter your new password' %>

            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:'enter your new password' %>

            <%= f.submit "Change my password", class:'button handl-btn button--full' %>

            <%- if controller_name != 'sessions' %>
              <p>Back to <%= link_to "Login", new_session_path(resource_name), class:'link' %> page</p>
            <% end -%>

          <% end %>
        </div>
      </div>

      <p class="footer">Don't have an account? <%= link_to "Sign up",  new_registration_path(resource_name), class:'link' %> here</p>

    </div>
  </div>
</div>
