<div class="login">
  <%= link_to root_path do %>
    <%= image_tag 'full-logo-light.png', class: 'logo' %>
  <% end %>

  <div class="row">
    <div class="large-4 large-centered medium-10 medium-centered small-12 columns">
      <div class="panel">
        <div class="panel__body">
          <h1>Forgot your password?</h1>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, placeholder:'enter your email address'%>

            <%= f.submit "Send me reset password instructions", class:'button handl-btn button--full' %>

            <%- if controller_name != 'sessions' %>
              <p>Back to <%= link_to "Login", new_session_path(resource_name), class:'link' %> page</p>
            <% end -%>
          <% end %>
        </div>
      </div>

      <p class="footer">Don't have an account? <%= link_to "Sign up",  new_registration_path(resource_name), class:'link' %> here</p>

    </div>
  </div>
</div>
