<!-- <div class="list list--blue">
  <div class="left">
    <%= cashflow.order.id %>
  </div>

  <div class="right">
    <p class="medium"><%= cashflow.sub_account.humanize %></p>
    <p class="large" style="color:red"><%= number_to_currency(cashflow.amount, unit: 'IDR ', separator: ',', delimiter: '.') %></p>
  </div>
</div> -->

<li class="list__item">
  <div class="width-4"><p><%= cashflow.updated_at.strftime('%a, %d %b %Y, %H:%M') %></p></div>
  <div class="width-4"><p class="status"><%= cashflow.order.status.humanize %></p></div>
  <div class="width-4"><p class="total" style="color:#FF0202;"><%= number_to_currency(cashflow.amount, unit: 'IDR ', separator: ',', delimiter: '.') %></p></div>
  <div class="width-4"><p class="description"><%= cashflow.sub_account.humanize %> for invoice <a data-toggle="expense-detail">#<%= cashflow.order.id %></a></p></div>

  <div class="full reveal" id="expense-detail" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="row">
      <div class="large-8 large-centered columns">
        <h1>Invoice #<%= cashflow.order.id %> Detail</h1>
      </div>

      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</li>
