<!-- <div class="list list--blue">
  <div class="left">
    <%= cashflow.order.id %>
    <p><%= pluralize cashflow.order.order_items.sum(:quantity), 'ticket' %></p>
    <p class="soft"><%= cashflow.order.billing_name %></p>
  </div>

  <div class="right">
    <p class="medium"><%= cashflow.order.status.humanize %></p>
    <p class="large"><%= number_to_currency(cashflow.amount, unit: 'IDR ', separator: ',', delimiter: '.') %></p>
  </div>
</div> -->

<li class="list__item">
  <div class="width-4"><p><%= cashflow.updated_at.strftime('%a, %d %b %Y, %H:%M') %></p></div>
  <div class="width-4"><p class="status"><%= cashflow.order.status.humanize %></p></div>
  <div class="width-4"><p class="total" style="color:#37C837;"><%= number_to_currency(cashflow.amount, unit: 'IDR ', separator: ',', delimiter: '.') %></p></div>
  <div class="width-4"><p class="description"><%= pluralize cashflow.order.order_items.sum(:quantity), 'ticket' %> for invoice <a data-toggle="income-detail">#<%= cashflow.order.id %></a></p></div>

  <div class="full reveal" id="income-detail" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="row">
      <div class="large-6 large-centered columns">
        <h1>Invoice #<%= cashflow.order.id %> Detail</h1>

      </div>

      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</li>
