<%= provide :page_title, 'Cashflow' %>

<div class="row columns cashflow">
  <div class="panel panel--transparent">
    <div class="panel__body">
      <div class="row">
        <div class="large-4 columns">
          <h2>Total Balance</h2>
          <h3>IDR <span><%= number_to_currency(@balance, unit: '', separator: ',', delimiter: '.') %></span></h3>
        </div>

        <div class="large-4 columns">
          <!-- <h2 class="label">Cash Held</h2>
          <h2 class="value">IDR 0</h2>

          <h2 class="label">Cash in HANDL</h2>
          <h2 class="value">IDR 0</h2> -->
        </div>

        <div class="large-4 columns">
          <h2 class="label">Total Income</h2>
          <h2 class="value"><span class="green"><%= number_to_currency(@total_income, unit: 'IDR ', separator: ',', delimiter: '.') %></span></h2>

          <h2 class="label">Total Expense</h2>
          <h2 class="value"><span class="red"><%= number_to_currency(@total_expense, unit: 'IDR ', separator: ',', delimiter: '.') %></span></h2>

        </div>
      </div>

      <div class="row" style="margin-top:20px;">
        <div class="large-9 columns">
          <p style="text-align:left;">Money from ticket purchasing will be stored in Handl account temporarily. But you can retrieve it by sending a request for reimbursent. We will send it to you in 1x24 hour</p>
        </div>

        <div class="large-3 columns">
          <%# if current_user.eligible_for_reimbursement? %>
            <a class="button button-full" data-toggle="modal-reimburse">Request for reimbursement</a>
          <%# else %>
            <!-- <a class="button button-full" aria-disabled>Request for reimbursement</a> -->
          <%# end %>
        </div>
      </div>
    </div>

    <div class="full reveal fast" id="modal-reimburse" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
      <div class="row align-center">
        <div class="large-6 large-centered columns">
          <h1>Request for reimbursement</h1>
          <p>Please input the detail for bank account that will be sent with the money. You can only ask the money that is in Handl Account (see cashflow for the detail). After you've submitted the request, you can see the status at cashflow, <strong>but worry not</strong>, because we will reimburse it in less than 48 hours.</p>

          <%= form_tag reimbursement_path, method: :post do %>
            <%= hidden_field_tag 'reimbursement[event_slug]', params[:event_slug] %>
            <%= hidden_field_tag :event_slug, params[:event_slug] %>

            <div class="large-12 columns">
              <%= label_tag :amount %>

              <div class="with-icon">
                <div class="add-on">
                  IDR
                </div>
                <%= number_field_tag 'reimbursement[amount]', nil, class: "form-control" %>
              </div>

              <%= label_tag :contact %>
              <%= telephone_field_tag 'reimbursement[contact]', nil, class: "form-control" %>
            </div>

            <% if current_user.eligible_for_reimbursement? %>
              <%= submit_tag 'Submit Request', class: 'button button--margin button--half' %>
            <% else %>
              <div class="callout alert">
                Please complete your account information to request for reimbursement. Follow this <%= link_to 'link', account_setting_path %>.
              </div>
              <%= submit_tag 'Submit Request', class: 'button button--margin button--half', disabled: true %>
            <% end %>
          <% end %>
        </div>

        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row cashflow">
  <div class="large-12 columns table" id="cashflow-list">
    <div class="table__header">
      <div class="row">

        <div class="large-7 columns">
          <%= link_to 'All', '?filter=', class: "filter #{'active' if params[:filter].blank? }" %>
          <%= link_to 'Income', '?filter=income', class: "filter #{'active' if params[:filter] == 'income' }" %>
          <%= link_to 'Expense', '?filter=expense', class: "filter #{'active' if params[:filter] == 'expense' }" %>
          <%= link_to 'Reimbursement', '?filter=reimburse', class: "filter #{'active' if params[:filter] == 'reimburse' }" %>
        </div>

        <div class="large-4 columns">
          <!-- <div class="search-bar"> -->
            <!-- <input class="search" placeholder="Search a transaction" /> -->
            <%# icon('search')%>
          <!-- </div> -->
        </div>

        <div class="large-1 columns">
          <!-- <a class="button button--inline float-right" data-open="new-cashflow"><%= icon('plus') %></a> -->
        </div>

        <div class="full reveal fast" id="new-cashflow" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
          <div class="row">
            <div class="large-6 large-centered columns">
              <h1>Create New Cashflow</h1>
              <p>It will be easier to review all of your cashflow in one look, right? You can add your income or expense other than from ticketing.</p>

              <form>
                <label>Cashflow Type</label>
                <select>
                  <option value="">select the type of your cashflow</option>
                  <option value="income">Income</option>
                  <option value="expense">Expense</option>
                </select>

                <label>Cashflow Description</label>
                <input type="text"></input>

                <label>Amount</label>
                <input type="number"></input>

                <div style="text-align:center;">
                  <a class="button button--margin button--half">Add new cashflow</a>
                </div>
              </form>
            </div>

            <button class="close-button" data-close aria-label="Close reveal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="table__wrapper">
      <ul class="listjs-header">
        <li class="list__header show-for-medium">

          <div class="width-4">
            <h3 class="sort <%= params[:dir] %>" data-sort="status">
              <%= link_to 'date', request.query_parameters.merge(sort: 'date', dir: params[:dir] == 'asc' ? 'desc' : 'asc') %>
            </h3>
          </div>
          <div class="width-4"><h3>status</h3></div>
          <div class="width-4"><h3>total</h3></div>
          <div class="width-4"><h3>description</h3></div>
        </li>
      </ul>
      <ul class="list">

        <% @cashflows.each do |i| %>
          <%= render partial: "#{i.account}", locals: { cashflow: i }  %>
        <% end %>
      </ul>
    </div>

    <div class="table__footer" style="margin-bottom: 100px;">
      <div class="row">
        <div class="large-6 small-6 columns">
          <p><%= page_entries_info @cashflows, entry_name: 'transaction' %></p>
        </div>
        <div class="large-6 small-6 columns">
          <ul class="pagination">
            <%= paginate @cashflows %>
          </ul>
        </div>
        <div class="large-6 small-6 columns">
          <ul class="pagination"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var options = {
    valueNames: [ 'status', 'total', 'description', 'date'],
    page: 10,
    plugins: [ ListPagination({}) ]
  };

  var cashflowList = new List('cashflow-list', options);
</script>
