$handl-blue:#1C788E;
$handl-green:#009D8E;
$handl-light-blue:#E7F1F3;

$handl-black:#333333;
$handl-light-black:#777777;

$handl-light-grey:#CCCCCC;

$primary-color: #1C788E;
$light-primary-color:#A2D2D6;
$dark-primary-color:#10535E;
$accent-color: #009D8E;
$white-blue:#E7F1F3;

$transparent-primary-heavy:rgba(28,120,143,0.25);
$transparent-dark-primary-heavy:rgba(16,83,94,0.25);
$transparent-light-primary-heavy:rgba(162,210,214,0.25);
$transparent-white-heavy:rgba(255,255,255,0.25);
$transparent-white-blue-heavy:rgba(231,241,243,0.25);

$transparent-primary:rgba(28,120,143,0.5);
$transparent-dark-primary:rgba(16,83,94,0.5);
$transparent-light-primary:rgba(162,210,214,0.5);
$transparent-white:rgba(255,255,255,0.5);
$transparent-white-blue:rgba(231,241,243,0.5);

$transparent-accent-light:rgba(0,157,142,0.8);
$transparent-primary-light:rgba(28,120,143,0.9);
$transparent-dark-primary-light:rgba(16,83,94,0.9);
$transparent-light-primary-light:rgba(162,210,214,0.9);
$transparent-white-light:rgba(255,255,255,0.8);
$transparent-white-blue-light:rgba(231,241,243,0.8);

$white:#ffffff;
$black:#333333;
$grey:#fafafa;

$white-e:#eeeeee;
$white-d:#dddddd;
