// CHOSEN RAILS
input:disabled, input[readonly], textarea:disabled, textarea[readonly]{
  background-color: #fff;
  cursor: text;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
  font-family: 'Bariol', sans-serif;
  font-size: 14px;
}

// DATEPICKER
.picker__holder{
  max-width: 330px;
  z-index: 100;
}
