@mixin typography($size, $line-height, $color, $type:sans-serif){
  font-family: $type;
  font-size: $size;
  color:$color;
  line-height: $line-height;
}

@mixin avatar($size) {
  display: inline-block;
  width: $size;
  height: $size;
  background-color: $dark-primary-color;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  .initials {
    display: inline-block;
    width: $size;
    height: $size;
    background-color: $dark-primary-color;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
}
