<div class="top-bar header">
  <div data-responsive-toggle="responsive-menu" data-hide-for="large">

    <a class="left-menu-toggle">
      <%= image_tag 'logogram-dark.png' %>
    </a>

    <!-- <a data-toggle><%= current_user.fullname.split.first %><%= icon('angle-down') %></a> -->
    <a class="right-menu-toggle"><%= show_avatar(current_user) %></a>

  </div>

  <!-- <h1 class="special"><a class="hide-for-large menu-toggle"><%= icon('bars') %></a> <%= content_for?(:page_title) ? yield(:page_title) : "" %></h1> -->

  <div id="responsive-menu">
    <div class="top-bar-left">
      <a class="left-menu-toggle">
        <%= image_tag 'logogram-dark.png' %>
      </a>
    </div>

    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu data-autoclose="false">
        <div class="avatar"><%= show_avatar(current_user) %></div>
        <li class="header-content">
          <a href="#" class="with-arrow"><%= current_user.fullname %></a>

          <ul class="menu vertical">
            <li><%= link_to 'Home', events_path %></li>
            <li><%= link_to 'Account Setting', account_setting_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          </ul>

        </li>

        <!-- <li class="handl-menu">
          <a href="#" class="without-arrow">
            <span class="badge" data-behavior="unread-count"></span>
            <span><%= fa_icon 'bell-o' %></span>
          </a>

          <ul class="menu notification" data-behavior="notifications-item"></ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>
