<div class="left-sidebar">
  <%= link_to events_path do %>
    <h2>ALL EVENTS</h2>
  <% end %>

  <h2>RECENT EVENTS</h2>

  <ul class="menu vertical">
    <% current_user.events.each do |event| %>
      <% if event.logo? %>
        <li>
          <%= link_to edit_event_path(event), class: "image #{current_event_class(event.slug, params[:slug] || params[:event_slug])}" do %>
          <div class="icon">
            <%= image_tag event.logo.url %>
          </div>

          <div class="desc">
            <h3><%= event.name %></h3>
            <p><%= "#{days_to(event.start_at)}" if event.start_at.present? %></p>
          </div>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to edit_event_path(event), class: "text #{current_event_class(event.slug, params[:slug] || params[:event_slug])}" do %>
          <div class="icon">
            <div class="text"><h3><%= event.name.first %></h3></div>
          </div>

          <div class="desc">
            <h3><%= event.name %></h3>
            <p><%= "#{days_to(event.start_at)}" if event.start_at.present? %></p>
          </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
