<div class="sub-header">
  <div class="float-left">
    <a class="sidebar-toggle hide-for-large" style="margin-right:10px;"><%= icon('bars') %></a>

    <% if @event.logo? %>
      <div class="icon">
        <%= image_tag @event.logo.url %>
      </div>
    <% else %>
      <div class="icon">
        <h1 class="text"><%= @event.name.first %></h1>
      </div>
    <% end %>

    <h1><%= @event.name %></h1>
    <h4><%= "#{days_to(@event.start_at)}" if @event.start_at.present? %></h4>
  </div>

  <div class="float-right">
    <div class="team-list show-for-large">
      <% @event.committees.limit(5).each do |committee| %>
        <%= show_avatar(committee.user) %>
      <% end %>

      <% if @event.committees.size > 5 %>
        <div class="more"><h2>+<%=@event.committees.size-5%></h2></div>
      <% end %>
      <a class="add-team" data-toggle="team"><%= icon('plus') %></a>
    </div>
  </div>
</div>

<div class="full reveal fast" id="team" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="row align-center">
    <div class="large-6 columns">
      <h1>Tim Organizer Anda</h1>
      <p>Share acara ini kepada tim Anda, mereka akan dapat mendapatkan akeses untuk acara ini.</p>

      <h2>UNDANG ANGGOTA BARU</h2>

      <%= render 'events/committees/form', locals: {event_slug:@event.slug} %>

      <div style="width:100%;height:1px;background:#E7F1F3;margin:40px 0"></div>
      <h2>DAFTAR ANGGOTA</h2>

      <ul class="list">
        <% @event.committees.each do |committee| %>
        <li class="row list__item" id="committee-<%=committee.id%>">
          <div class="small-11 medium-11 large-11 columns">
            <p class="item-content"><%=committee.user.fullname%>, <%=committee.user.email%></p>
          </div>

          <div class="small-1 medium-1 large-1 columns">
            <%= link_to icon('trash-o'), event_committee_path(id: committee.id, event_slug: @event.slug), remote:true, method: :delete, data: { confirm: 'Remove this user from committees?' } %>
          </div>
        </li>
        <% end %>
      </ul>

    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
