<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <title><%= content_for?(:title) ? yield(:title) : "HANDL" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
      <%= render 'layouts/header' %>

      <div class="body-wrapper">

        <%= render 'layouts/right_sidebar' %>

        <%= render 'layouts/left_sidebar' %>

      <% if content_for?(:sub_sidebar) %>
        <%= render 'layouts/sub_header' %>

        <div class="sidebar">
          <%= yield :sub_sidebar %>
        </div>

        <div class="content with-margin">
          <% flash.each do |level, msg| %>
            <%= render 'shared/flash_messages', level: level, msg: msg %>
          <% end %>

          <%= yield %>
        </div>

      <% else %>

        <div class="content">
          <% flash.each do |level, msg| %>
            <%= render 'shared/flash_messages', level: level, msg: msg %>
          <% end %>

          <%= yield %>
        </div>

      <% end %>
      </div>
  </body>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85891103-1', 'handl.in');
  ga('send', 'pageview');

  </script>
</html>
