<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <title><%= content_for?(:title) ? yield(:title) : "HANDL" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
    <% flash.each do |level, msg| %>
      <%= render 'shared/flash_messages', level: level, msg: msg %>
    <% end %>

    <%= yield %>
  </body>
</html>
