<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <title><%= content_for?(:title) ? yield(:title) : "HANDL" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="landing-page-loader" style="display:block;">
      <div class="middle-aligned">
        <div class="logo">
          <%= image_tag 'logogram-light.png' %>
        </div>

        <div class="spinner"></div>
      </div>
    </div>

    <div class="content" style="overflow-x:hidden; display:none;">
      <div class="right-sidebar hide-for-large">
        <div class="profile">
          <div class="image">
            <%= image_tag 'logogram-light.png' %>
          </div>

          <h1>Welcome to Handl</h1>
        </div>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="<%= features_path %>">Features</a></li>
          <!-- <li><a href="<%= pricing_path %>">Pricing</a></li> -->
          <li><a href="https://medium.com/the-handl-times" target="_blank">Blog</a></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        </ul>
      </div>

      <div class="landing-page-overlay"></div>

      <%= yield %>
    </div>
  </body>

  <script>
    $(document).ready(
      function() {
        $("#agree").on("change", function() {
            if(this.checked) {
              $('#signup-btn').prop('disabled', false);
            } else {
              $('#signup-btn').prop('disabled', true);
            }
        });
      }
    );
  </script>

  <script>
    $(document).ready(function() {
      $(".right-menu-toggle").click(function(){
        console.log('Test test test');
        $(".landing-page-overlay").toggleClass("shown");
        $(".right-sidebar").toggleClass("toggled");
      });

      $(".landing-page-overlay").click(function(){
        $(".right-sidebar").removeClass("toggled");
        $(".landing-page-overlay").removeClass("shown");
      });
    });
  </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85891103-1', 'handl.in');
  ga('send', 'pageview');
  </script>
</html>
