<% content_for :sub_sidebar do %>

  <h2>BASIC</h2>
   <ul>
     <li><%= link_to 'Overview', event_overview_path(@event), class: activate_menu(controller: 'events', action: 'overview') %></li>
     <li><%= link_to 'Event Details', edit_event_path(@event), class: activate_menu(controller: 'events', action: 'edit') %></li>
      <!-- <li><%= link_to 'Ticket', event_ticket_categories_path(@event), class: activate_menu(controller: 'events/ticket_categories', action: 'index') %></li> -->
   </ul>

   <h2>MANAGE</h2>
   <ul>
     <!-- <li><%= link_to 'Team', event_committees_path(@event), class: activate_menu(controller: 'events/committees', action: ['index', 'new']) %></li> -->
     <li><%= link_to 'Participant', event_attendees_path(@event), class: activate_menu(controller: 'events/attendees', action: ['index', 'show']) %></li>
     <!-- <li><%= link_to 'Task', event_tasks_path(@event), class: activate_menu(controller: 'events/tasks', action: 'index') %></li> -->

     <li><%= link_to 'Cashflow', event_cashflows_path(@event), class: activate_menu(controller: 'events/cashflows', action: 'index') %></li>
   </ul>

   <h2>TOOLS</h2>
   <ul>
     <li><%= link_to 'Form Editor', event_form_custom_fields_path(@event), class: activate_menu(controller: 'events/form_custom_fields', action: 'index') %></li>
     <li><a>Scanner Apps</a></li>
     <!-- <li><%= link_to 'Cashflow', event_cashflows_path(@event), class: activate_menu(controller: 'events/cashflows', action: 'index') %></li> -->
   </ul>
   <!-- <h5>TOOLS</h5>
   <ul>
     <li><%= link_to 'Email Blast', event_email_blasts_path(@event), class: activate_menu(controller: 'events/email_blasts', action: ['index', 'new']) %></li>
   </ul> -->
<% end %>

<%= render template: "layouts/application" %>
