<% provide :page_title, 'Account Setting' %>
<div class="row align-center">
  <div class="large-6  columns">
    <%= form_for(@user, url: account_setting_path, action: :put) do |f| %>
      <%= render 'shared/errors', object: @user %>

      <h2 style="margin-bottom:20px">PROFIL ANDA</h2>
      <%# f.label :fullname %>
      <%= f.text_field :fullname, placeholder:'nama Anda' %>

      <%# f.label :email %>
      <%= f.text_field :email, placeholder:'alamat email Anda' %>

      <h2 style="margin:40px 0 10px;">AKUN REIMBURSEMENT</h2>
      <p style="margin-bottom:20px;">Data ini akan digunakan setiap kali Anda ingin meminta pencairan dana ke pihan HANDL</p>
      <%# f.label :bank %>
      <%= f.text_field :bank, placeholder:'nama bank e.g. Mandiri, BNI, BCA, etc' %>

      <%# f.label :bank_acc_number %>
      <%= f.text_field :bank_acc_number, placeholder:'nomor rekening' %>

      <div class="large-6">
        <% if f.object.id_card? %>
          <%= image_tag f.object.id_card.url, id: "img-plcholder", height: '100' %>
        <% end %>
      </div>
      <%= f.label :id_card %>
      <%= f.file_field :id_card, accept: 'image/jpg,image/jpeg,image/png' %>

      <%= f.submit 'Update Account', class: 'button' %>
    <% end %>
  </div>
</div>
