<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td style="padding: 20px 0 10px; text-align: center">
    </td>
  </tr>

  <tr>
    <td class="container" bgcolor="#f6f6f6">
      <div class="header">
        <%= image_tag 'logo-light.png' %>
      </div>

      <div class="content">

        <p>Hello <%= @resource.email %>!</p>

        <p>Someone has requested a link to change your password. You can do this through the link below.</p>

        <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class:'btn-primary' %></p>

        <p>If you didn't request this, please ignore this email.</p>
        <p>Your password won't change until you access the link above and create a new one.</p>

      </div>

        <td style="padding: 10px 10px 0;font-size: 12px; mso-height-rule: exactly; line-height:18px; text-align: center;">
          <p style="text-align:center; color:#333333;">
            Copyright &copy; 2016 Handl. All rights reserved.
            <br>We periodically send emails to people that signed up for Handl account.
          </p>
        </td>
      </tr>

      <tr>
        <td style="text-align:center;">
          <div style="max-width:600px;margin:10px auto 0; vertical-align:middle; height:1px; background:#888888;"</div>
        </td>
        </tr>

        <tr>
          <td style="padding: 10px 10px 20px;font-size: 12px; mso-height-rule: exactly; line-height:18px; text-align: center; color: #888888;">
            <p style="text-align:center; color:#333333;">
              In case you do not want to receive any of this email, you can <a href="/" style="color:#333333;">unsubscribe</a>.
            </p>
          </td>
        </tr>
      </table>
