<div class="login">
  <%= link_to root_path do %>
    <%= image_tag 'full-logo-light.png', class: 'logo' %>
  <% end %>

  <% flash.each do |level, msg| %>
    <%= render 'shared/flash_messages', level: level, msg: msg %>
  <% end %>

  <div class="row align-center">
    <div class="large-5 medium-10 medium-centered small-12 columns">
      <div class="panel">
        <div class="panel__body">
          <h1>Create new account</h1>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

              <%= f.label :your_email %>
              <%= f.email_field :email, autofocus: true, placeholder:'enter your email address'%>

              <div>
                <%= check_box_tag :agree %>
                <%= f.label :agree, "I agree to the Term & Conditions", class:'small-label' %>
              </div>

              <%= f.submit "Sign up", class: 'button handl-btn button--full', id: 'signup-btn', disabled: true %>
            <% end %>

            <p>or you can</p>

            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to icon('google', 'Sign up with Google'), omniauth_authorize_path(resource_name, provider), class:'with-google' %>
              <% end -%>
            <% end -%>

            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <p>if you haven't verified your account, you can <%= link_to "resend verification email", new_confirmation_path(resource_name), class:'link' %></p>
            <% end -%>
            <!-- <div class="links">
              <%= render "users/shared/links" %>
            </div> -->
          </div>
        </div>

        <p class="footer">Already have an account? <%= link_to "Log in", new_session_path(resource_name), class:'link' %> here</p>

      </div>
    </div>

    <!-- <div class="supergraphic">
    <%= image_tag 'supergraphic.png' %>
    </div> -->
  </div>
</div>
